<!-- start Additionalcontent.liquid (SNIPPET) -->

<div class="wrappers additionalcontent-style">
  
  <div class="faq-left-side" >
    {% section 'hp-faq' %}
  </div>
  
<div class="additionalcontent addition-right-side">
  {% comment %}
  <img data-swift-lazy="1" loading="lazy" class="mystic-difference no-mobile" src="{{ 'Mystic_Barrels_map_desktop_banner_10-22-2020.jpg' | asset_url }}" />
  <img data-swift-lazy="1" loading="lazy" class="mystic-difference mobile" src="{{ 'Mystic_Barrels_map_mobile_banner_10-22-2020.jpg' | asset_url }}" />
  {% endcomment %}
    <img id="scroll-for-faq" data-swift-lazy="1" loading="lazy" class="mystic-difference lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="{{ 'MAP.png' | asset_img_url: 'original'  }}" alt="map" />

  <!--   <div class="pop-on-banner-home-page">
    <a class="fancy image-popup"></a>
  </div> -->
  <div class="right-side-bottom">
    <p>Want to know your shipping options?</p>
    <p>Take the quiz and find out!</p>
    <div class="quiz-btn chart-division-content">TAKE THE QUIZ</div>
  </div>
</div>
  
  
</div>

<!-- end Additionalcontent.liquid (SNIPPET) -->
{% section 'hp-featured-product' %}
{% render 'quiz-popup-snippet' %}

<style>
  .additionalcontent-style {
    display: flex;
    flex-wrap: wrap;
  }
  .faq-left-side {
    flex: 0 0 40%;
    background-color: #f3f3f3;
  }
  .addition-right-side {
    flex: 0 0 60%;
/*     margin: 30px 0; */
  }
  .mystic-difference {
    width: 100%;
    cursor: pointer;
  }
  .right-side-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .right-side-bottom p {
    margin: 0px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }
  .right-side-bottom .quiz-btn {
    background-color: #26b522;
    color: #fff;
    max-width: 284px;
    margin-top: 20px;
    display: block;
    text-align: center;
    border: 3px solid #fff;
    font-size: 22px;
    cursor: pointer;
    padding: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: 0;
  }
  @media screen and (max-width: 767px) {
    .faq-left-side ,
    .addition-right-side {
      flex: 0 0 100%;
    }
    .additionalcontent-style {
      flex-direction: column-reverse;
    }
  }
</style>