<script data-src="https://cdn.shopify.com/extensions/de9c1bce-3dd5-4622-b9ad-d85704fecdb6/1.8.0/assets/ws-announcement.js" type="lazyload2"></script>
<!-- BEGIN app block: shopify://apps/sticky-cart-by-uplinkly/blocks/sticky-cart/25fba6ad-75e4-408b-a261-b223e0c71c8b -->
    

    

    <script type="lazyload2">
        setTimeout(function(){
            function get_product(){
                var product = null;
                var remove_variants = [];

                

                for(var i = 0; i < remove_variants.length; i++){
                    for(var j = 0; j < product.variants.length; j++){
                        if(product.variants[j].id === remove_variants[i]){
                            product.variants.splice(j, 1);
                            j -= 1;
                        }
                    }
                }

                return product;
            }

            window.uplinkly = window.uplinkly || {};
            window.uplinkly.sticky_cart = {
                money_formats: {
                    money_format:  "${{amount}}",
                    money_with_currency_format: "${{amount}} USD"
                },
                currency: "USD",
                formcode: null,
                product: get_product(),
                testimonial: null
            };
        });
    </script>
    <script type="lazyload2" data-src="https://sticky-cart.uplinkly-static.com/public/sticky-cart/mystic-barrels.myshopify.com/sticky-cart.js?t=1640004495047613.0"></script>



<!-- END app app block -->