<!-- /snippets/blog-sidebar.liquid -->
{% comment %}
  Recent blog posts
{% endcomment %}
<div class="sidebarrow2">
        <h4> <a href="{{ blog.url }}">{{ blog.title }} </a> </h4>
</div>
{% if settings.enable_sidebar_newsletter %}
  <div class="sidebarrow3">
         <h4> <b> {{ shop.name }} </b> </h4>
         <p>Ready to find out more about our new, and upcoming products? Sign up below. </p>
         
{%include 'newsletter' %}

      </div>
{% endif %}
 <div class="sidebarrow4">     
<h3 class="h4">{{ 'blogs.sidebar.recent_articles' | t }}</h3>
<ul class="no-bullets sidebar_list">
  {% for article in blogs[blog.handle].articles limit:6 %}
    <li>
      <a href="{{ article.url }}">{{ article.title }}</a>
      <!--br>
      <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time-->
    </li>
  {% endfor %}
</ul>
</div>
{% comment %}
  Blog tags
{% endcomment %}
{% if blog.all_tags.size > 0 %}
  <h3 class="h4">{{ 'blogs.sidebar.categories' | t }}</h3>
  <ul class="no-bullets">
    {% for tag in blog.all_tags %}
      {% if current_tags contains tag %}
      <li>{{ tag }}</li>
      {% else %}
      <li>{{ tag | link_to_tag: tag }}</li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
