<!-- /snippets/product-grid-item.liquid -->
{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  A liquid variable (grid_item_width) is set just before the this
  snippet is included to change the size of the container.
  Once the variable is set on a page, all future instances of this
  snippet will use that width. Overwrite the variable to adjust this.

  Example
    - assign grid_item_width = 'large--one-quarter medium--one-half'

{% endcomment %}

{% comment %}
  Set the default grid_item_width if no variable is set
{% endcomment %}
{% unless grid_item_width %}
  {% assign grid_item_width = 'grid__item large--one-quarter medium--one-half' %}
{% endunless %}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

<div class="grid__item {{ grid_item_width }}">

  {% comment %}
    Link to your product with the 'within: collection' filter for the link to be aware of the collection.
    This allows you to create collection-based navigation on the product page.

    Results of using 'within: collection':
    - Instead of a URL with /products/product-handle
      you would get /collections/collection-handle/products/product-handle

    For more info on navigation within a collection
      - http://docs.shopify.com/support/your-store/collections/how-to-navigate-within-a-collection

  {% endcomment %}
  <a href="{{ product.url | within: collection }}" class="grid__image">
     <div class="reveal">
    <img data-swift-lazy="1" loading="lazy" src="{{ product.featured_image.src | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}">
  
    </div>
  </a>

  <p class="h6">
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
  </p>
   <p style="min-height:88px">
    {% comment %}
      You can show a leading 'from' or 'up to' by checking 'product.price_varies'
      if your variants have different prices.
    {% endcomment %}
    {% if settings.enable_price %}
    {% if on_sale %}
      <span>Our Price:<span id="ComparePrice" style="color:{{ settings.color_sale }}">{{ product.compare_at_price | money }}</span>
      <br>
    {% endif %}
     
    {% if on_sale %}
      {% if product.price_varies %}
        {% assign sale_price = product.price | money %}
        <span>Sale Price :</span>
    	<span style="color:{{ settings.color_original }}"> {{ product.price | money }}</span>
    <br>
             <b><i><span itemprop="name">You save:</span>
            <span id="SaveAmount" class="product-single__save-amount">
              {{ product.compare_at_price | minus: product.price | money }}
              ({{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round: 2 }}%)
              </span></i></b>
      {% else %}
   <span>Sale Price :</span>
    <span style="color:{{ settings.color_original }}"> {{ product.price | money }}</span>
    <br>
             <b><i><span itemprop="name">You save:</span>
            <span id="SaveAmount" class="product-single__save-amount">
               {{ product.compare_at_price | minus: product.price | money }}
              ({{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round: 2 }}%)
              </span></i></b>
      {% endif %}
    {% else %}
      {% if product.price_varies %}
        {% assign price = product.price | money %}
        {{ 'products.general.from_text_html' | t: price: price }}
      {% else %}
    <span>Sale Price :<span style="color:{{ settings.color_original }}">{{ product.price | money }}</span></span>
      {% endif %}
    {% endif %}
   
    <br>
   {% endif %}
   
    <br>
   {% if settings.enable_product_stock %}
    <span>{% if product.variants.first.inventory_management == "shopify" %}
    {% if product.variants.first.inventory_quantity > 0 %}
       {{ product.variants.first.inventory_quantity }} in stock!.
    {% else %}
      <span style="color:red"> (out of stock)</span>
    {% endif %}
 
 {% endif %}</span>{% endif %}
  </p>
  <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">
      <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
      <button type="submit" name="add" id="AddToCart" class="btn AddToCart">
        Add To Cart
      </button>
    </form>
</div>
