<div class="cart_relatedproducts">
  {% if settings.cart_collection != '' %}
<center><h3> {{ settings.cart_heading }} </h3> </center>
  {% endif %}
<div class="grid-uniform">  
{% for product in collections[settings.cart_collection].products limit:4 %}

        {% include 'cartproducts' %}


{%endfor %}
  </div></div>