<div class="cart_review">
<center><h3> {{ settings.reveiew_title }} </h3> </center>
<div class='cartrow'>
  
  <div class='reviewcol'>
  <img data-swift-lazy="1" loading="lazy" src="{{ 'cartreview1.png' | asset_url }}" 
   class='cartimg' />
    <h4> {{ settings.cart_review_title_1 }} </h4>
  <p> {{ settings.cart_review_text_1 }} </p>
      
  
  
  </div>
  <div class='reviewcol'> 
  
  <img data-swift-lazy="1" loading="lazy" src="{{ 'cartreview2.png' | asset_url }}" 
   class='cartimg' />
    <h4> {{ settings.cart_review_title_2 }} </h4>
    <p> {{ settings.cart_review_text_2 }} </p>
    
    
  
  </div>
  
</div>
<div class='cartrow'>
  
  <div class='reviewcol'> 
  <img data-swift-lazy="1" loading="lazy" src="{{ 'cartreview3.png' | asset_url }}" 
   class='cartimg' />
    <h4> {{ settings.cart_review_title_3 }} </h4>
   <p> {{ settings.cart_review_text_3 }} </p>
     
  
  </div>
  <div class='reviewcol'> 
  
  <img data-swift-lazy="1" loading="lazy" src="{{ 'cartreview4.png' | asset_url }}" 
   class='cartimg' />
    <h4> {{ settings.cart_review_title_4 }} </h4>
   <p> {{ settings.cart_review_text_4 }} </p>
    
  
  </div>
  
</div>
</div>