<header>
  <div class="topbar shippingbar">
    <div class="wrapper">
      {% if settings.cart_shipping_bar_style == "shipping1" %}
      {% if settings.shipping_text %}
      <div class="shipping-bar">
        <h5 class="top-bar__message">
          {%assign priceitem = settings.value_free_shipping | minus:cart.total_price %}
          {% if settings.value_free_shipping > 0 %}  
            {%if cart.total_price == 0 %}
            {{ settings.shipping_text }} <vt style='background-color:red;'>{{ settings.value_free_shipping | money }}</vt>
            {%elsif priceitem > 0 and  priceitem < settings.value_free_shipping %}              
            ONLY <vt style='background-color:red;'> {{ priceitem | money }}</vt> AWAY FROM FREE SHIPPING
            {%else%}
            {{ settings.cart_shipping_congrats }}
            {%endif%}          
          {%elsif settings.value_free_shipping == 0  %}
          {{ settings.shipping_text }}
          {%else%}
          {{ settings.shipping_text }}
          {%endif%}
        </h5>
      </div>
      {% endif %}
      {% elsif settings.cart_shipping_bar_style == 'shipping2' %}
      <div class="shipping-bar-2 top-bar__container container">
        {% comment %}
<!--         hide old shipping text -->
        <div class="top-bar_column american-owned">
          <img data-swift-lazy="1" loading="lazy" class="no-mobile" src="{{ 'shipping_image_1.png' | asset_url }}">
          <div>
            <span>{{ settings.shipping_text_1 }}</span>
          </div>
        </div>
<!--         hide old shipping text over here -->
  
        {% endcomment %}
        <div class="top-bar_column easy-returns">
          <img data-swift-lazy="1" loading="lazy" class="no-mobile" src="{{ 'shipping_image_2.png' | asset_url }}">
          <div>
            <span><a href="#">{{ settings.shipping_text_2 }}</a></span>
          </div>
        </div>
        <div class="top-bar_column satisfaction">
          <img data-swift-lazy="1" loading="lazy" class="no-mobile" src="{{ 'shipping_image_3.png' | asset_url }}">
          <div>
            <span>{{ settings.shipping_text_3 }}</span>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>

  <div class="wrapper">
    <div class="grid--full grid--table cart-row">
      <div class="grid__item one-half medium--one-half">
        {% if template == 'index' %}
        <h1 class="site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
          {% else %}
          <div class="h1 site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
            {% endif %}
            {% if settings.logo_use_image %}
            <a href="/" itemprop="url" class="site-header__logo-link">
              <img data-swift-lazy="1" loading="lazy" src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
            </a>
            {% else %}
            <a href="/" itemprop="url">{{ shop.name }}</a>
            {% endif %}
            {% if template == 'index' %}
            </h1>
          {% else %}
          </div>
        {% endif %}
      </div>
      <div class="grid__item one-half medium--one-half text-right">
        <div class="header-call-text">
          {%if settings.cart-phone !=''%}
          <span class="phone-icon">{{ settings.got_a_question }}</span>
          <a class="phone-number large--hide medium-down--show" href="tel:{{ settings.cart-phone }}"><i class="phone-image"></i>{{ settings.cart-phone }}</a>
          <div class="phone-number medium-down--hide"><i class="phone-image"></i>{{ settings.cart-phone }}</div>
          {% endif %}
          <span class="phone-text">{{ settings.time }}</span>
        </div>
      </div>
    </div>
  </div>
</header>
