{% assign show_description = true %}
{% if settings.custom_description contains collection.handle and settings.enable_description %}
    {% assign show_description = false %}
{% endif %}

{% if collection.description != blank %}
    <div class="description-collection text">
        <div class="description-content see-more">
            <div class="description-text">
                {{ collection.description }}
            </div>
           <p class="see-less" style="display:none;">See Less</p>
        </div>
    </div>
{% endif %} <!-- end description text -->

  