{% if settings.collection_swatch_type == 'size' %}
  <div class="size-swatch-options">
    {% for size in product.options %}
      {% assign downcased_size = size | downcase %}

      {% if downcased_size contains 'size' or downcased_size contains 'cut'%}
        {% assign found_size_option = true %}
        {% assign size_option_name = size %}
        {% assign size_option_index = forloop.index0 %}

        {% break %}
      {% endif %}
    {% endfor %}

    {% if found_size_option %}
        {% assign values = '' %}
          {% for variant in product.variants %}

            {% if variant.available %}
              {% assign value = variant.options[size_option_index] | remove: csp_flag_string %}

              {% unless values contains value %}
                {% assign values = values | join: ',' %}
                {% assign values = values | append: ',' | append: value %}
                {% assign values = values | split: ',' %}


                  <a class="size-values" href="{{ product.url }}?variant={{ variant.id }}" data-id="{{ variant.id }}">{{ value }}</a>

              {% endunless %}
            {% endif %}
          {% endfor %}
    {% endif %}
  </div>
{% endif %}
{% if settings.collection_swatch_type == 'color' %}
  <div class="color-swatch-options">
    {% assign file_extension = 'png' %}

    {% assign found_color_option = false %}
    {% assign color_color_option_index = 0 %}
    {% assign color_color_option_name = '' %}

    {% for option in product.options %}
      {% assign downcased_option = option | downcase %}

      {% if downcased_option contains 'color' or downcased_option contains 'colour' or downcased_option contains 'couleur' %}
        {% assign found_color_option = true %}
        {% assign color_option_name = option %}
        {% assign color_option_index = forloop.index0 %}

        {% break %}
      {% endif %}
    {% endfor %}

    {% if found_color_option %}
      {% assign values = '' %}
      <ul class="product-item__colors list--unstyled">
        {% for variant in product.variants %}

          {% if variant.available %}
            {% assign value = variant.options[color_option_index] | remove: csp_flag_string %}

            {% unless values contains value %}
              {% assign values = values | join: ',' %}
              {% assign values = values | append: ',' | append: value %}
              {% assign values = values | split: ',' %}

              <li class="product-item__color swatch" title="{{ value }}">
                <a href="{{ product.url }}?variant={{ variant.id }}" data-id="{{ variant.id }}"><span data-link="{{ variant.link }}" data-image="{{ variant.featured_image | product_img_url: 'large' }}" style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ value | handle | append: '.' | append: file_extension | asset_url }});"></span></a>
              </li>

            {% endunless %}
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  </div> 
<script>
    $('.swatch span').hover(function() {
      if($(this).data("image").indexOf("no-image") == -1) {
        $(this).parents(".product-item__colors").children().removeClass("active");
                $(this).parents('.product_item').find('.product-image').css('background-image', "url(" + $(this).data('image').replace('_large.','_400x.') + ")");
        $(this).parents('.swatch').addClass("active");
      }
     }, function() {
       $(this).parents('.swatch').removeClass("active"); 
     }
    );
  </script>
{% endif %}