{% comment %}
{% include 'quantity-breaks-now' %}
{% endcomment %}
<script>
  (function($){
    $(document).ready(function(){
      if( $('.description-content').height() > 80 ) {
        $('.see-less').show();
        $('.see-less-home-page').show();
        $('.description-content').addClass('closed').click(function(){
          $(this).toggleClass('closed');
        });
      }
    });

    window.addEventListener('load', function(){
      var $document = $(document);

      var $dataProductID = '[data-product-id]';

      $document.off('click', $dataProductID);
      $document.on('click', $dataProductID, function(e){

        e.preventDefault();
      });
    });
  })(jQuery);
</script>
{% comment %}
{% render 'quantity-breaks-now', customer: customer, template: template, product: product, cart: cart %}
{% endcomment %}