<!-- begin - video-media-->
{% assign platform = '' %}
{%- if url contains 'youtube' or url contains 'youtu.be' -%}
  {% assign platform = 'youtube' %}
  {% if url contains 'youtu.be' -%}
      {% assign videoID = url | split:'/' | last %}
  {% elsif url contains '&' -%}
    {% assign videoID = url | split:'?v=' | last | split:'&' | first %}
  {% elsif url contains 'embed' -%}
    {% assign videoID = url | split:'embed/' | last %}
  {% else -%}
      {% assign videoID = url | split:'?v=' | last %}
  {% endif %}
{% elsif url contains 'vimeo' -%}
    {% assign platform = 'vimeo' %}
    {% assign videoID = url | split:'/' | last %}
{% endif %}


<img data-swift-lazy="1" loading="lazy" class="thumbnail-video"
    src="{% if platform == 'youtube' %}
        http://img.youtube.com/vi/{{ videoID }}/0.jpg
    {% elsif platform == 'vimeo' -%}
        https://i.vimeocdn.com/portrait/{{ videoID }}_300x300.webp
    {% else %}
        {{ url }}
    {% endif %}"
    alt="thumbnail" 
    />