  {% if settings.footer_style == 'footer1' %}
      <footer class="site-footer small--text-center" role="contentinfo">
          <div class="wrapper">
              <div class="grid">
                  {%if settings.footer_block == 'enable_footer_1' %}
                      <div class="grid__item large--one-quarter medium--one-half small--one-whole">
                          <h5>{{ settings.footer_menu_title_1 }}</h5>
                          <ul class='no-bullets'>
                            {% for link in linklists[settings.footer_menu_1].links %}
                                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                            {% endfor %}
                          </ul>
                      </div>
                  {% else %}
                      <div class="grid__item large--one-quarter medium--one-half small--one-whole text-center footer_img">
                          <img data-swift-lazy="1" loading="lazy" class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ 'footer.png' | asset_url }}"/>
                      </div>
                  {%endif %}
                  {%if settings.enable_footer_2 %}
                      <div class="grid__item large--one-quarter medium--one-half small--one-whole">
                          <h5> {{ settings.footer_menu_title_2 }} </h5>
                          <ul class='no-bullets'>
                              {% for link in linklists[settings.footer_menu_2].links %}
                                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                              {% endfor %}
                          </ul>
                      </div>
                  {%endif%}
                  {%if settings.enable_footer_3 %}
                      <div class="grid__item large--one-quarter medium--one-half small--one-whole">
                          <h5>{{ settings.footer_menu_title_3 }}</h5>
                          <ul class='no-bullets'>
                              {% for link in linklists[settings.footer_menu_3].links %}
                                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                              {% endfor %}
                         </ul>
                    </div>
                  {%endif%}
                  {%if settings.footer_newsletter_enable %}
                      <div class="grid__item large--one-quarter medium--one-half small--one-whole">
                          <h5>{{ settings.footer_menu_title_4 }}</h5>
                          <p>{{ settings.footer_menu_title_5 }}</p>
                          {%include 'newsletter' %}
                      </div>
                  {%endif%}
              </div>
              <div class="grid text-center">Copyright &copy; {{ "now" | date: "%Y" }} {% if settings.copyright_entity != blank %}<a href="{{ settings.copyright_entity-url }}">{{ settings.copyright_entity }}</a>{% else %}{{ shop.name | link_to: '/' }}{% endif %}. {{ settings.copyright_text }}</div>
          </div>
      </footer>
  {% elsif settings.footer_style == 'footer2' %}
      <footer class="site-footer small--text-center footer2" role="contentinfo">
            <div class="wrapper">
              <div class="half-content">
                  <div class="half-content grid__item mobile large--one-quarter medium--one-half small--one-whole text-center footer_img">
                      <img data-swift-lazy="1" loading="lazy" class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ 'footer_logo.png' | asset_img_url: '180x' }}"/>
                  </div>

                  {%if settings.footer_newsletter_enable %}
                      <div class="grid__item large--one-whole text-center">
                          <h5>{{ settings.footer_menu_title_4 }}</h5>
                          {%include 'klavyio-form' %}
                      </div>
                  {%endif%}
                  {%if settings.popular_footer_enable %}
                      <div class="popular-collection-links">
                          <h5>{{ settings.popular_footer_text }}</h5>
                          <a href="{{ settings.popular_footer_1_link }}">{{ settings.popular_footer_1.jpg }}
                              <img data-swift-lazy="1" loading="lazy" class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ 'popular_footer_1.jpg' | asset_img_url: '350x' }}"/>
                              <span>{{ settings.popular_footer_1_alt }}</span>
                          </a>
                          {% if settings.popular_footer_2_link != ''%}
                            <a href="{{ settings.popular_footer_2_link }}">
                                <img data-swift-lazy="1" loading="lazy" class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ 'popular_footer_2.jpg' | asset_img_url: '350x' }}"/>
                                <span>{{ settings.popular_footer_2_alt }}</span>
                            </a>
                          {% endif %}
                          {% if settings.popular_footer_3_link != ''%}
                            <a href="{{ settings.popular_footer_3_link }}">
                                <img data-swift-lazy="1" loading="lazy" class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ 'popular_footer_3.jpg' | asset_img_url: '350x' }}"/>
                                <span>{{ settings.popular_footer_3_alt }}</span>
                            </a>
                          {% endif %}
                          {% if settings.popular_footer_4_link != ''%}
                              <a href="{{ settings.popular_footer_4_link }}">
                                  <img data-swift-lazy="1" loading="lazy" class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ 'popular_footer_4.jpg' | asset_img_url: '350x' }}"/>
                                  <span>{{ settings.popular_footer_4_alt }}</span>
                              </a>
                          {% endif %}
                      </div>
                  {% endif %}
              </div>
              <div class="half-content last-half">
                  {%if settings.enable_footer_1 %}
                      <div class="half-content grid__item medium--one-half small--one-whole menu-footer-grid">
                          <h5>{{ settings.footer_menu_title_1 }}<i class="fa fa-angle-down mobile"></i></h5>
                          <ul class='no-bullets'>
                              {% for link in linklists[settings.footer_menu_1].links %}
                                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                              {% endfor %}
                          </ul>
                      </div>
                  {%endif %}
                  {%if settings.enable_footer_2 %}
                      <div class="half-content grid__item medium--one-half small--one-whole menu-footer-grid">
                          <h5>{{ settings.footer_menu_title_2 }}<i class="fa fa-angle-down mobile"></i></h5>
                          <ul class='no-bullets'>
                              {% for link in linklists[settings.footer_menu_2].links %}
                                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                              {% endfor %}
                          </ul>
                      </div>
                  {%endif %}
                  {%if settings.enable_footer_3 %}
                      <div class="half-content info-menu-footer grid__item medium--one-half small--one-whole menu-footer-grid">
                          <h5>{{ settings.footer_menu_title_3 }}<i class="fa fa-angle-down mobile"></i></h5>
                          <ul class='no-bullets'>
                              {% for link in linklists[settings.footer_menu_3].links %}
                                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                              {% endfor %}
                          </ul>
                      </div>
                  {%endif %}

                  <div class="half-content grid__item no-mobile large--one-quarter medium--one-half small--one-whole text-center footer_img">
                      <img data-swift-lazy="1" loading="lazy" class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ 'footer_logo.png' | asset_img_url: '360x' }}"/>
                  </div>

              </div>
          </div>
          <div class="credits">
              <div class="wrapper">
                  <p>Copyright &copy; {{ "now" | date: "%Y" }} {% if settings.copyright_entity != blank %}<a href="{{ settings.copyright_entity-url }}">{{ settings.copyright_entity }}</a>{% else %}{{ shop.name | link_to: '/' }}{% endif %}. {{ settings.copyright_text }}</p>
<!--                   <div class="credits-img">
                      <img data-swift-lazy="1" loading="lazy" class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ 'mobile_trust.png' | asset_url }}"/>
                  </div> -->
              </div>
          </div>
      </footer>

  {% elsif settings.footer_style == 'footer3' %}
      <footer class="site-footer small--text-center footer3" role="contentinfo">
          <div class="wrapper">
              <div class="grid">
                  {%if settings.footer_block == 'enable_footer_1' %}
                      <div class="grid__item large--one-quarter small--one-whole large--text-left medium--text-center">
                          <h5>{{ settings.footer_menu_title_1 }}</h5>
                          <ul class='no-bullets'>
                              {% for link in linklists[settings.footer_menu_1].links %}
                                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                              {% endfor %}
                          </ul>
                      </div>
                  {% else %}
                      <div class="grid__item large--one-quarter small--one-whole">
                         <img data-swift-lazy="1" loading="lazy" class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ 'footer.png' | asset_url }}"/>
                      </div>
                  {%endif %}
                  {%if settings.enable_footer_2 %}
                       <div class="grid__item large--one-quarter small--one-whole large--text-left medium--text-center">
                          <h5>{{ settings.footer_menu_title_2 }}</h5>
                          <ul class='no-bullets'>
                              {% for link in linklists[settings.footer_menu_2].links %}
                                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                              {% endfor %}
                          </ul>
                      </div>
                  {% endif %}

                  {%if settings.footer_newsletter_enable %}
                      <div class="grid__item large--one-half small--one-whole large--text-left medium--text-center">
                          <div class="grid__item large--two-fifths small--one-whole">
                              <h5>{{ settings.footer_menu_title_4 }}</h5>
                              <p>{{ settings.footer_menu_title_5 }}</p>
                          </div>
                          <div class="grid__item large--three-fifths small--one-whole footer-newsletter">
                             {%include 'newsletter' %}
                          </div>
                    </div>
                  {%endif%}
              </div>
              <div class="grid text-center">Copyright &copy; {{ "now" | date: "%Y" }} {% if settings.copyright_entity != blank %}<a href="{{ settings.copyright_entity-url }}">{{ settings.copyright_entity }}</a>{% else %}{{ shop.name | link_to: '/' }}{% endif %}. {{ settings.copyright_text }}</div>
          </div>
      </footer>
  {% endif %}
</div>