{% if settings.enable_searchbox %}
  <div class="header__search">
      <a class="close">X</a>
      <form action="/search" method="get" class="input-group search-bar" role="search">
          {% comment %}<input type="hidden" name="type" value="product">{% endcomment %}
          <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" class="input-group-field home_search_input" aria-label="{{ 'general.search.placeholder' | t }}">
          <span class="input-group-btn">
            <button type="submit" class="btn icon-fallback-text home_search_btn">
              <span class="icon icon-search" aria-hidden="true"></span>
              <span class="fallback-text">{{ 'general.search.submit' | t }}</span>
            </button>
          </span>
      </form>
  </div>
{% endif %}
<div class="topbar shippingbar">
    <div class="wrapper">
        {% if settings.shipping_bar_style == 'shipping1' %}
          <div class="shipping-bar">
            {% if settings.header_style == 'header1' or settings.header_style == 'header3' %}
                {% if settings.header_mail != '' %}
<!--                     <span class="email no-mobile"><i class="fa fa-envelope"></i><a href="mailto:{{ settings.header_mail }}?Subject=Hello%20again" target="_top">{{ settings.header_mail }}</a></span> -->
                  {% endif %}
              {% endif %}
              {% if settings.header_style == 'header1' or settings.header_style == 'header3' %}
                  {% if settings.shipping_text %}
                      <h5 class="top-bar__message">
                        {%assign priceitem = settings.value_free_shipping | minus:cart.total_price %}
                        {% if settings.value_free_shipping > 0 %}
                          {%if cart.total_price == 0 %}
                              {{ settings.shipping_text }} <vt style='background-color:red;'>{{ settings.value_free_shipping | money }}</vt>
                          {%elsif priceitem > 0 and  priceitem < settings.value_free_shipping%}
                              ONLY <vt style='background-color:red;'> {{ priceitem | money }}</vt> AWAY FROM FREE SHIPPING
                          {%else %}
                              {{ settings.cart_shipping_congrats }}
                          {%endif%}
                         {%elsif settings.value_free_shipping == 0  %}
                              {{ settings.shipping_text }}
                        {%else%}
                            {{ settings.shipping_text }}
                        {%endif%}
                      </h5>
                  {% endif %}
                  {% if settings.header_phone != '' %}
<!--                 <span class="phone-shipping no-mobile"><i class="fa fa-phone"></i><a href="tel:{{ settings.header_phone }}">{{ settings.header_phone }}</a></span> -->
                  {% endif %}
              {% endif %}
          </div>
        {% elsif settings.shipping_bar_style == 'shipping2' %}
          <div class="shipping-bar-2 top-bar__container container">
<!--               <div class="top-bar_column american-owned">
                  <img data-swift-lazy="1" loading="lazy" class="no-mobile" src="{{ 'shipping_image_1.png' | asset_url }}">
                  <span>{{ settings.shipping_text_1 }}</span>
              </div> -->
              <div class="top-bar_column easy-returns">
                  <img data-swift-lazy="1" loading="lazy" class="no-mobile" src="{{ 'shipping_image_2.png' | asset_url }}">
                  <span>
                    <a id="single_shipping" class="shipping-no-mobile" href="{{ 'popup-image.png' | asset_url }}">{{ settings.shipping_text_2 }}</a>
                    <a id="single_shipping" class="shipping-no-desktop" href="{{ 'popup-image-mobile.png' | asset_url }}">{{ settings.shipping_text_2 }}</a>
                  </span>
              </div>
            <div class="top-bar_column satisfaction">
              <a href="tel:(412) 275-0542"><img data-swift-lazy="1" loading="lazy" class="no-mobile" src="{{ 'shipping_image_3.png' | asset_url }}">
                <span>{{ settings.shipping_text_3 }}</span></a>
            </div>
          </div>
        {% endif %}
    </div>
    <div class="free_shipping" style="display:none;">
      <span class="cart_total_price">{{ cart.total_price }}</span>
      <span class="free_shipping_value">{{ settings.value_free_shipping }}</span>
    </div>
</div>

  <div id="NavDrawer" class="drawer drawer--left">
    
    <div class="drawer__header">
      	<div class="drawer__title h3">MENU</div>
        <div class="drawer__close js-drawer-close">
          <button type="button" class="icon-fallback-text">
            <span class="icon icon-x" aria-hidden="true"></span>
            <span class="fallback-text">{{ 'layout.drawers.close_menu' | t }}</span>
          </button>
        </div>
    </div>
    <!-- begin mobile-nav -->
    <ul class="mobile-nav">

      <li class="mobile-nav__item mobile-nav__search">
          {% include 'search-bar' %}
      </li>
      {% for link in linklists[settings.nav_menu].links %}
        {% comment %}
          Create a dropdown menu by naming a linklist the same as a link in the parent nav

          More info on dropdowns:
            - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
        {% endcomment %}
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
          <li class="mobile-item-nav mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}" aria-haspopup="true">
            <div class="mobile-nav__has-sublist">
              <a href="{{ link.url }}" class="item-menu-mobile mobile-nav__link">
                {% if settings.enable_mobile_menu_icons %}<i class="menu-mobile-icon"></i>{% endif %}{{ link.title }}
              </a>
              <div class="mobile-nav__toggle">
                <button type="button" class="icon-fallback-text mobile-nav__toggle-open">
                  <span class="icon icon-plus" aria-hidden="true"></span>
                  <span class="fallback-text">See More</span>
                </button>
                <button type="button" class="icon-fallback-text mobile-nav__toggle-close">
                  <span class="icon icon-minus" aria-hidden="true"></span>
                  <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
                </button>
              </div>
            </div>

            <ul class="mobile-nav__sublist">
              {% for childlink in linklists[child_list_handle].links %}
                <li class="mobile-nav__item {% if childlink.active %} mobile-nav__item--active{% endif %}">
                  {% if childlink.links != blank %}
                    <div class="mobile-nav__has-sublist">
                      <a href="{{ childlink.url }}" class="item-menu-mobile mobile-nav__link ">{{ childlink.title }}</a>
                      <div class="mobile-nav__toggle">
                        <button type="button" class="icon-fallback-text mobile-nav__toggle-open">
                          <span class="icon icon-plus" aria-hidden="true"></span>
                          <span class="fallback-text">See More</span>
                        </button>
                        <button type="button" class="icon-fallback-text mobile-nav__toggle-close">
                          <span class="icon icon-minus" aria-hidden="true"></span>
                          <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
                        </button>
                      </div>
                    </div>
                    <ul class="mobile-nav__sublist  child-level2">
                     {% for childOfChildlink in childlink.links %}
                 		<li class="mobile-nav__item {% if childOfChildlink.active %} mobile-nav__item--active{% endif %}">
                          <a href="{{ childOfChildlink.url }}" class="mobile-nav__link">{{ childOfChildlink.title | escape }}</a></li>
                     {% endfor %}
                 	 </ul>
                  {% else %}
                  <a href="{{ childlink.url }}" class="mobile-nav__link">{{ childlink.title | escape }}</a>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}">
              <a href="{{ link.url }}" class="item-menu-mobile mobile-nav__link">{% if settings.enable_mobile_menu_icons %}<i class="menu-mobile-icon"></i>{% endif %}{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if settings.header_mail != '' %}
          <li class="mobile-nav__item mobile-nav__search">
                <span class="email"><a href="mailto:{{ settings.header_mail }}?Subject=Hello%20again" target="_top"><i class="fa fa-envelope" aria-hidden="true"></i> {{ settings.header_mail }}</a></span>
          </li>
          {% endif %}
          {% if settings.header_phone != '' %}
          <li class="mobile-nav__item mobile-nav__search">
                <span><a href="tel:{{ settings.header_phone }}"><i class="fa fa-phone" aria-hidden="true"></i> {{ settings.header_phone }}</a></span>
          </li>
      {% endif %}

      {% comment %}
        If customer accounts are enabled, provide login and create account links
      {% endcomment %}
      {% if shop.customer_accounts_enabled %}
        {% if customer %}
          <li class="mobile-nav__item">
            {% if customer.first_name != blank %}
              {% capture first_name %}{{ customer.first_name }}{% endcapture %}
              <a href="/account">{{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}</a>
            {% else %}
              <a href="/account">{{ 'layout.customer.account' | t }}</a>
            {% endif %}
          </li>
          <li class="mobile-nav__item">
            {{ 'layout.customer.log_out' | t | customer_logout_link }}
          </li>
        {% else %}
          <li class="mobile-nav__item">
            {{ 'layout.customer.log_in' | t | customer_login_link }}
          </li>
          <li class="mobile-nav__item">
            {{ 'layout.customer.create_account' | t | customer_register_link }}
          </li>
        {% endif %}
      {% endif %}
      <br />
      {% if settings.footer_newsletter_enable %}
      <div class="newsletter-opt">
          <h5>{{ settings.footer_menu_title_4 }}</h5>
          {%include 'klavyio-form' %}
      </div>
      {% endif %}

    </ul>
    <!-- //mobile-nav -->
  </div>
  {% if settings.ajax_cart_method == "drawer" %}
	<div id="DrawerOverlay"></div>
  	<div id="CartDrawer" class="drawer drawer--right">
      {% if settings.enable_shipping_bar_Drawer %}
      <div class="shippingbar shipping-bar wrapper">
    	<h5 class="top-bar__message"></h5>
      </div>
      {% endif %}
      <div class="drawer__header">
        <div class="drawer__title h3">
          <div class='cartrow first_cart_row'>
            <!--div class='bgscol1 logo-container'>
              <a href='/'> <img data-swift-lazy="1" loading="lazy" src="{{'logo.png' | asset_url }}" class='cartlogo' />  </a> </div>
            <div class='bgscol1'>
              <ul class='cartlist'>
                {%if  settings.cart_phone !='' %}
                <li>Got a Question? Call Us</li>
                <li> <span class='cartphonenumber'>{{ settings.cart-phone }} </span>
                </li>
                {%endif%}

              </ul>
            </div-->
              <span class="cart-message" {% if cart.item_count == 0 %}style="display:none;"{% endif %}>
                  <i class="fa fa-check" aria-hidden="true" style="color:#6fa76b;"></i> An Item Was Added To Cart!
              </span>
          </div>
        </div>
        <div class="drawer__close js-drawer-close">
            <span class="fallback-text">X</span>
        </div>
      </div>
      <div id="CartContainer"></div>

      <div class="cartrow drawer-row bottomrow text-center">
        <p class="cupom-code-drawer"><strong>{{ settings.cart_text_1 }}</strong></p>
        {% comment %}
       	{% if settings.secure_image_drawer_enable %}
            <img data-swift-lazy="1" loading="lazy" class="drawer-badges" src="{{'trust_drawer_badge.png' | asset_img_url: '900x' }}"  />
		{% else %}
            <img data-swift-lazy="1" loading="lazy" class="drawer-badges" src="{{'secure-partners.png' | asset_img_url: '900x' }}"  />
        {% endif %}
        {% endcomment %}
        <a class='conshop ' href='/collections/all'> Continue Shopping </a>
        {% if settings.review_drawer_enable %}
            <div class="drawer-reviews">
              <section class="drawer-review_single">
                <div class="drawer-review_user">
                  {% if settings.cart_review_image1_enable %}<img data-swift-lazy="1" loading="lazy" class="drawer-user_image" src="{{ 'cartreview1.png' | asset_img_url: '50x' }}" />{% endif %}
                  <span class="user-name">{{ settings.cart_review_title_1 }}</span>
                </div>
                <span class="review-stars-verified"> Verified Purchase</span>
                <p>{{ settings.cart_review_text_1 }}</p>
              </section>

              <section class="drawer-review_single">
                <div class="drawer-review_user">
                  {% if settings.cart_review_image2_enable %}<img data-swift-lazy="1" loading="lazy" class="drawer-user_image" src="{{ 'cartreview2.png' | asset_img_url: '50x' }}" /> {% endif %}
                  <span class="user-name">{{ settings.cart_review_title_2 }}</span>
                </div>
                <span class="review-stars-verified"> Verified Purchase</span>
                 <p>{{ settings.cart_review_text_2 }}</p>
              </section>

              <section class="drawer-review_single">
                <div class="drawer-review_user">
                  {% if settings.cart_review_image3_enable %}<img data-swift-lazy="1" loading="lazy" class="drawer-user_image" src="{{ 'cartreview3.png' | asset_img_url: '50x' }}" />{% endif %}
                  <span class="user-name">{{ settings.cart_review_title_3 }}</span>
                </div>
                <span class="review-stars-verified"> Verified Purchase</span>
                 <p>{{ settings.cart_review_text_3 }}</p>
              </section>
            </div>

            {% if settings.secure_image_drawer_enable %}
                <img data-swift-lazy="1" loading="lazy" class="drawer-badges" src="{{'trust_drawer_badge.png' | asset_img_url: '900x' }}"  />
            {% else %}
                <img data-swift-lazy="1" loading="lazy" class="drawer-badges" src="{{'secure-partners.png' | asset_img_url: '900x' }}"  />
            {% endif %}
            <a class='conshop ' href='/collections/all'> Continue Shopping </a>
        {% endif %}
      </div>

    </div>
  {% endif %}
  {% if settings.header_style == 'header1' %}


  	<div id="PageContainer" class="is-moved-by-drawer {% if settings.vasta_homepage_style == 'homepage-style-1' %} homepage-style-1 {% endif %}{% if settings.vasta_homepage_style == 'homepage-style-2' and settings.homepage-section1 == 'homepage-banner' %}homepage-style-2{% endif %}">
    <header class="site-header header1" role="banner">
      	<div class="wrapper">
           <div class="logo-header">
            {% comment %}
              Use the uploaded logo from theme settings if enabled.
              Site name gets precedence with H1 tag on homepage, div on other pages.
            {% endcomment %}
            {% if template == 'index' %}
              <h1 class="site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
            {% else %}
              <div class="site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
            {% endif %}
              {% if settings.logo_use_image %}
                <a href="/" itemprop="url" class="site-header__logo-link">
                  <img data-swift-lazy="1" loading="lazy" src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
                </a>
              {% else %}
                <a href="/" itemprop="url">{{ shop.name }}</a>
              {% endif %}
            {% if template == 'index' %}
              </h1>
            {% else %}
              </div>
            {% endif %}
          </div>

          {% if settings.enable_searchbox %}
             <div class="header__search search-header no-mobile">
              <form action="/search" method="get" class="input-group search-bar" role="search">
                {% comment %}<input type="hidden" name="type" value="product">{% endcomment %}
                <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ settings.search_placeholder }}" class="input-group-field home_search_input" aria-label="{{ settings.search_placeholder }}">
                <button type="submit" class="btn search_btn btn-v">{{ 'general.search.submit' | t }}</button>
              </form>
            </div>
          {% endif %}

          <div class="customer-account">
               <a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="true" target="" >
                <span class="icon icon-cart" aria-hidden="true"></span>
                <span class="CartCount">{{ cart.item_count }}</span>
                
              </a>
            <span class="fallback-text">{{ 'layout.cart.title' | t }}</span>
          </div>
         </div>
        <div class="clear"></div>
        <div class="grid--table full-menu-grid">
            <div class="grid__item large--text-right medium-down--hide">

                <nav class="nav-bar" role="navigation">

                  {% comment %}
                    List out your main-menu linklist (default)

                    More info on linklists:
                      - http://docs.shopify.com/themes/liquid-variables/linklists
                  {% endcomment %}
                  <!-- begin site-nav -->
                  <ul class="site-nav" id="AccessibleNav">
                    {% for link in linklists[settings.nav_menu].links %}
                      {% comment %}
                        Create a dropdown menu by naming a linklist the same as a link in the parent nav

                        More info on dropdowns:
                          - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
                      {% endcomment %}
                      {% assign child_list_handle = link.title | handleize %}
                      {% if linklists[child_list_handle].links != blank %}
                        <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
                          <a href="{{ link.url }}" class="site-nav__link">
                            {{ link.title }}
                            <span class="icon icon-arrow-down" aria-hidden="true"></span>
                          </a>
                          {% if link.links != blank %}
                            <div class="site-nav__dropdown">
                                <ul class="child">
                                  {% for child_link in link.links %}
                                  <li class="{% if child_link.active %}active {% if child_link.child_active %}child-active{% endif %} {% endif %}{% if child_link.links != blank %}has-child{% endif %}"><a href= "{{ child_link.url }}">{{ child_link.title }}</a>
                                    {% if child_link.links != blank %}
                                      <ul class="grandchild">
                                      {% for grandchild_link in child_link.links %}
                                        <li {% if grandchild_link.active %}class="active {% if grandchild_link.child_active %}child-active{% endif %}"{% endif %}><a href= "{{ grandchild_link.url }}">{{ grandchild_link.title }}</a></li>
                                      {% endfor %}
                                      </ul>
                                    {% endif %}
                                  </li>
                                  {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        </li>
                      {% else %}
                        <li {% if link.active %}class="site-nav--active"{% endif %}>
                          <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                  <!-- //site-nav -->
                </nav>
	      </div>
      </div>
    </header>


  {% endif%}
{% if settings.header_style == 'header2' %}
  <div id="PageContainer" class="is-moved-by-drawer {% if settings.vasta_homepage_style == 'homepage-style-1' %} homepage-style-1 {% endif %}{% if settings.vasta_homepage_style == 'homepage-style-2' and settings.homepage-section1 == 'homepage-banner' %}homepage-style-2{% endif %}">
    <header class="site-header header2" role="banner">
      <div class="header-grid">

        <div class="grid grid--table">
          <div class="grid__item large--one-fifth">
            {% comment %}
              Use the uploaded logo from theme settings if enabled.
              Site name gets precedence with H1 tag on homepage, div on other pages.
            {% endcomment %}
            {% if template == 'index' %}
              <h1 class="site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
            {% else %}
              <div class="site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
            {% endif %}
              {% if settings.logo_use_image %}
                <a href="/" itemprop="url" class="site-header__logo-link">
                  <img data-swift-lazy="1" loading="lazy" src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
                </a>
              {% else %}
                <a href="/" itemprop="url">{{ shop.name }}</a>
              {% endif %}
            {% if template == 'index' %}
              </h1>
            {% else %}
              </div>
            {% endif %}
          </div>
         <div class="grid__item large--three-fifths large--text-right medium-down--hide">
            <nav class="nav-bar" role="navigation">
                {% comment %}
                  List out your main-menu linklist (default)

                  More info on linklists:
                    - http://docs.shopify.com/themes/liquid-variables/linklists
                {% endcomment %}
                <!-- begin site-nav -->
                <ul class="site-nav" id="AccessibleNav">
                  {% for link in linklists[settings.nav_menu].links %}
                    {% comment %}
                      Create a dropdown menu by naming a linklist the same as a link in the parent nav

                      More info on dropdowns:
                        - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
                    {% endcomment %}
                    {% assign child_list_handle = link.title | handleize %}
                    {% if linklists[child_list_handle].links != blank %}
                      <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
                        <a href="{{ link.url }}" class="site-nav__link">
                          {{ link.title }}
                          <span class="icon icon-arrow-down" aria-hidden="true"></span>
                        </a>
                        <div class="site-nav__dropdown">
                          <ul>
                          {% for childlink in linklists[child_list_handle].links %}
                            <li {% if childlink.active %} class="site-nav--active"{% endif %}>
                              <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
                            </li>
                          {% endfor %}
                          </ul>
                        </div>
                      </li>
                    {% else %}
                      <li {% if link.active %}class="site-nav--active"{% endif %}>
                        <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              <!-- //site-nav -->
            </nav>
          </div>
          <div class="grid__item large--one-fifth large--text-right medium-down--hide">
            {% comment %}
              Show number of items in the cart and total cost in the /cart link

              Ajax Cart Notes:
                - #cartCount updates the total number of items in the cart
                - #cartCost updates the total cost of the cart
                - Documentation:  http://shopify.com/timber#ajax-cart
            {% endcomment %}

            {% comment %}
              If customer accounts are enabled, provide login and create account links
            {% endcomment %}

             <div class="cmpny_contact">
               {% if settings.header_mail != '' %}
               <span class="email"><b class="text-link">E-Mail: </b><a href="mailto:{{ settings.header_mail }}?Subject=Hello%20again" target="_top">{{ settings.header_mail }}</a></span>
              {% endif %}
               <br>
              {% if settings.header_phone != '' %}
               <span><b class="text-link"> Phone Number: </b><a href="tel:{{ settings.header_phone }}">{{ settings.header_phone }}</a></span>
              {% endif %}
            </div>
            <div>
            {% if shop.customer_accounts_enabled %}
              <div class="customerlogin">
                {% if customer %}
                  {% if customer.first_name != blank %}
                    {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                    {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
                  {% else %}
                    <a href="/account">{{ 'layout.customer.account' | t }}</a>
                  {% endif %}
                  | {{ 'layout.customer.log_out' | t | customer_logout_link }}
                {% else %}
                  {{ 'layout.customer.log_in' | t | customer_login_link }}
                  | {{ 'layout.customer.create_account' | t | customer_register_link }}
                {% endif %}
              </div>
               {% endif %}
<!--                <a href="/cart" class="site-header__cart-toggle"> -->
              <a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="true" target="" >
                <span class="icon icon-cart" aria-hidden="true"></span>
                {{ 'layout.cart.title' | t }}
                (<span id="CartCount" class="CartCount">{{ cart.item_count }}</span>)
              </a>
            </div>

            {% if settings.enable_searchbox %}
            <div class="site-header__search">
              {% include 'search-bar' %}
            </div>
            {% endif %}
          </div>
        </div>

      </div>
    </header>
  {% endif %}
  {% if settings.header_style == 'header3' %}
    <div id="PageContainer" class="is-moved-by-drawer {% if settings.vasta_homepage_style == 'homepage-style-1' %} homepage-style-1 {% endif %}{% if settings.vasta_homepage_style == 'homepage-style-2' and settings.homepage-section1 == 'homepage-banner' %}homepage-style-2{% endif %}">
      <header class="site-header header3" role="banner">
        <div class="wrapper">
          <div class="grid--full grid--table">
            <div class="grid__item large--one-quarter">
              {% comment %}
                Use the uploaded logo from theme settings if enabled.
                Site name gets precedence with H1 tag on homepage, div on other pages.
              {% endcomment %}
              {% if template == 'index' %}
                <h1 class="site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
              {% else %}
                <div class="site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
              {% endif %}
                {% if settings.logo_use_image %}
                  <a href="/" itemprop="url" class="site-header__logo-link">
                    <img data-swift-lazy="1" loading="lazy" src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
                  </a>
                {% else %}
                  <a href="/" itemprop="url">{{ shop.name }}</a>
                {% endif %}
              {% if template == 'index' %}
                </h1>
              {% else %}
                </div>
              {% endif %}
          </div>
		<div class="grid__item large--three-quarters large--text-right medium-down--hide">
            <nav class="nav-bar" role="navigation">
              {% comment %}
                List out your main-menu linklist (default)

                More info on linklists:
                  - http://docs.shopify.com/themes/liquid-variables/linklists
              {% endcomment %}
              <!-- begin site-nav -->
              <ul class="site-nav" id="AccessibleNav">
                {% for link in linklists[settings.nav_menu].links %}
                  {% comment %}
                    Create a dropdown menu by naming a linklist the same as a link in the parent nav

                    More info on dropdowns:
                      - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
                  {% endcomment %}
                  {% assign child_list_handle = link.title | handleize %}
                  {% if linklists[child_list_handle].links != blank %}
                    <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
                      <a href="{{ link.url }}" class="site-nav__link">
                        {{ link.title }}
                        <span class="icon icon-arrow-down" aria-hidden="true"></span>
                      </a>
                      <div class="site-nav__dropdown">
                        <ul>
                        {% for childlink in linklists[child_list_handle].links %}
                          <li{% if childlink.active %} class="site-nav--active"{% endif %}>
                            <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
                          </li>
                        {% endfor %}
                        </ul>
                      </div>
                    </li>
                  {% else %}
                    <li {% if link.active %}class="site-nav--active"{% endif %}>
                      <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
              <!-- //site-nav -->
            </nav>
          </div>
          <div class="customer-account">
               <a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="true" target="" >
                <span class="icon icon-cart" aria-hidden="true"></span>
                <span class="CartCount">{{ cart.item_count }}</span>
              </a>
          </div>
        </div>
      </div>
    </header>

  {% endif %}
	<nav class="nav-bar large--hide medium-down--show" role="navigation">
		<div class="wrapper">
        	<div class="large--hide medium-down--show">
          		<div class="grid--full">
                    <div class="grid__item one-fifth">
                      <div class="site-nav--mobile">
                        <button type="button" class="icon-fallback-text site-nav__link js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
                          <span class="icon icon-hamburger" aria-hidden="true"></span>
                          <span class="fallback-text">{{ 'layout.navigation.menu' | t }}</span>
                        </button>
                      </div>
                  	</div>
                    <div class="grid__item three-fifths">
                      	{% if template == 'index' %}
                      		<div class="site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
						{% else %}
                      		<div class="site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
                        {% endif %}
                            {% if settings.logo_use_image %}
                                <a href="/" itemprop="url" class="site-header__logo-link">
                                  <img data-swift-lazy="1" loading="lazy" src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
                                </a>
                            {% else %}
                                <a href="/" itemprop="url">{{ shop.name }}</a>
                            {% endif %}
                            {% if template == 'index' %}
                                </div>
                            {% else %}
                                </div>
                        {% endif %}
                    </div>
                    <div class="grid__item one-fifth">
                        <div class="site-nav--mobile right">
                            <a href="/cart" class="js-drawer-open-right site-nav__link" aria-controls="CartDrawer" aria-expanded="false">
                                <span class="icon-fallback-text">
                                  <span class="icon icon-cart" aria-hidden="true"></span>
                                  (<span class="CartCount">{{ cart.item_count }}</span>)
                                  <span class="fallback-text">{{ 'layout.cart.title' | t }}</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    	{% if settings.header_style == 'header1' %}
            {% if settings.enable_searchbox %}
                {% if template == 'product' %}
                    {% if settings.product_search_enable %}
                        <div class="header__search search-header mobile">
                            <form action="/search" method="get" class="input-group search-bar" role="search">
                                {% comment %}<input type="hidden" name="type" value="product">{% endcomment %}
                                <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ settings.search_placeholder }}" class="input-group-field home_search_input" aria-label="{{ settings.search_placeholder }}">
                                <button type="submit" class="btn search_btn btn-v">{{ 'general.search.submit' | t }}</button>
                            </form>
                        </div>
                    {% else %}

                    {% endif %}
      			{% else %}
      				<div class="header__search search-header mobile">
                        <form action="/search" method="get" class="input-group search-bar" role="search">
                            {% comment %}<input type="hidden" name="type" value="product">{% endcomment %}
                            <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ settings.search_placeholder }}" class="input-group-field home_search_input" aria-label="{{ settings.search_placeholder }}">
                            <button type="submit" class="btn search_btn btn-v">{{ 'general.search.submit' | t }}</button>
                        </form>
                    </div>
                {% endif %}
          	{% endif %}
        {% endif %}
	</nav>
    <script>
        $(document).ready(function(){
            $(window).scroll(function(){
                var h = $("#shopify-section-header").height();
                if ($(this).scrollTop() > h) {
                  $('.fixed_header').fadeIn();
                } else {
                  $('.fixed_header').fadeOut();
                }
            });
            $(".search-icon").click(function(){
                $(".header__search").fadeIn("slow");
            });
            $(".close").click(function(){
              $(".header__search").fadeOut("slow");
            });
        });
    </script>
    {% style%}
  
    {% if settings.enable_popup %}
      {% assign popup = 'all' %}
    {% else %}
      {% assign popup = 'none' %}
    {% endif %}

    .top-bar_column > span > a,
    .top-bar_column > span > a:hover{
      text-decoration:none;
      color: white;
    }
    .top-bar_column > span > a{
      pointer-events: {{popup}};
    }
      
     
    
    {% endstyle%}
      
      
      <style>
        @media screen and (max-width: 767px) {
          .shipping-no-mobile {
            display: none;
          }
        }  
        @media screen and (min-width: 768px) {
          .shipping-no-desktop {
            display: none;
          }
        }
      </style>