<div class="home-page-collection wrapper">
  <div class="description-content see-more">
    <div class="description-text">
      <h2>Thank you for visiting our online barrel store!</h2>

      <p>
        Here at Mystic Barrels, it is our mission to bring YOU the barrels
        and
        barrel furniture you need for your home, business, event, or project.
      </p>

      <p>
        For over 2000 years, wooden barrels have been a crucial container for the storage and transport of wood and beverage
        products. And 2000 years later, there is still a craze for all things barrel aged! Not only is there an obvious love
        for
        aged whiskey, bourbon, rye, rum, gin, brandy and wine, but there is also a huge trend into bourbon-aged beers,
        barrel-aged ciders, and aged cocktails.
      </p>

      <p>
        The life of a barrel extends far beyond its time aging. Barrel spend their “retirement” being used in all sorts of
        different ways. Some customers leave the barrels as is, embracing the barrel’s rustic or natural beauty to set the
        scene
        of their home or business. Others create their own barrel furniture masterpiece, by refurbishing the barrels, or
        crafting their own tables, vanities, and cabinets! Yet others gravitate towards the use of the barrel staves, hoops,
        and
        heads for limitless possibilities in creating their own exciting works of art!
      </p>

      <p>
        Located in Pittsburgh, PA, we serve the local community here, as well as deliver barrels all over the region to get
        customers their best deal on shipping and delivery. Our current delivery area spans from Connecticut and western
        Massachusetts, down through New Jersey and New York, across Pennsylvania, Maryland, Virginia, and DC, and over
        through
        Ohio, Indiana, and southern Michigan. If you’re in our delivery area (see map above), have us deliver your order to
        guarantee you the best deal on barrels and shipping around!
      </p>

      <p>

        If outside of our delivery zone or need the barrels fast, do not fret! We have partnered up with some incredible
        shipping and freight partners to get you competitive rates on shipping. Simply follow through the checkout process
        to
        get an instant quote.
      </p>

      <p>

        Reimagine what your home, business, or event space could look like with some of our high-quality, and authentic
        barrels.
        Check out our products for more details. If you have any questions, feel free to send us a message, email, text, or
        call
        and we would love to help!

      </p>
    </div>
    <p class="see-less-home-page">See Less</p>
  </div>
</div> 
