{%if settings.homepage_review_enable or settings.review_cart_enable %}
    <!--link rel="stylesheet" type="text/css" href="{{'slick.css' | asset_url }}"/-->
    <script type="lazyload2">
        setTimeout(function() {
            $(".variable").slick({
                autoplay: true,
                autoplaySpeed: 3000,
                dots:false,
                arrows : false,
                slidesToShow: 3,
                infinite: true,
                responsive: [{
                    breakpoint:767,
                    settings: {
                      slidesToShow: 1,
                      slidesToScroll: 1
                    }
                }]
            });
        },3000);
    </script>
    <div class="clear"></div>
    <div class="reviews-content">
      <h2 class='reviewtitle'><strong>{{ settings.homepage_reveiew_title }} </strong></h2>
      <section  class="variable slider">
        {% if settings.homepage_review_text_1 != blank or settings.homepage_review_title_1 != blank %}
              <div class='reviewinnercol'>
                  <div class="half-top">
					<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
					<p class='reviewtext'>
					<strong>{{ settings.homepage_review_title_1 }}</strong>
					<br />
					<q>{{ settings.homepage_review_text_1 }}</q>
					</p>
					<p><small><strong>{{ settings.homepage_review_client_1 }}</strong></small></p>
                  </div>
                <div class="half-bottom">
	                  <p><small>{{ settings.homepage_review_date_1 }}</small></p>
	                  {% if settings.homepage_imagereview1 %}<img data-swift-lazy="1" loading="lazy" src="{{ 'homepage_review1.png' | asset_img_url: '100x' }}" class='reviewimg' />{% endif %}
	                  <p><a href="{{ settings.homepage_review_link_1 }}">{{ settings.homepage_review_product_1 }}</a></p>
				</div>
             </div>
          {% endif %}
        {% if settings.homepage_review_text_2 != blank or settings.homepage_review_title_2 != blank %}
			<div class='reviewinnercol'>
				<div class="half-top">
					<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
					<p class='reviewtext'>
					  <strong>{{ settings.homepage_review_title_2 }}</strong>
					  <br />
					  <q>{{ settings.homepage_review_text_2 }}</q>
					</p>
					<p><small><strong>{{ settings.homepage_review_client_2 }}</strong></small></p>
                </div>
                <div class="half-bottom">
	                <p><small>{{ settings.homepage_review_date_2 }}</small></p>
	                {% if settings.homepage_imagereview2 %}<img data-swift-lazy="1" loading="lazy" src="{{'homepage_review2.png' | asset_img_url: '100x' }}" class='reviewimg' />{% endif %}
					<p><a href="{{ settings.homepage_review_link_2 }}">{{ settings.homepage_review_product_2 }}</a></p>
				</div>
            </div>
          {% endif %}
        {% if settings.homepage_review_text_3 != blank or settings.homepage_review_title_3 != blank %}
			<div class='reviewinnercol'>
				<div class="half-top">
	                  <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
	                  <p class='reviewtext'>
	                      <strong>{{ settings.homepage_review_title_3 }}</strong>
	                      <br />
	                      <q>{{ settings.homepage_review_text_3 }}</q>
	                  </p>
                      <p><small><strong>{{ settings.homepage_review_client_3 }}</strong></small></p>
	              </div>
                  <div class="half-bottom">
	                  <p><small>{{ settings.homepage_review_date_3 }}</small></p>
	                  {% if settings.homepage_imagereview3 %}<img data-swift-lazy="1" loading="lazy" src="{{'homepage_review3.png' | asset_img_url: '100x' }}" class='reviewimg' />{% endif %}
	                  <p><a href="{{ settings.homepage_review_link_3 }}">{{ settings.homepage_review_product_3 }}</a></p>
	              </div>
              </div>
          {% endif %}
        {% if settings.homepage_review_text_4 != blank or settings.homepage_review_title_4 != blank %}
			<div class='reviewinnercol'>
				<div class="half-top">
	                  <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
	                  <p class='reviewtext'>
                        <strong>{{ settings.homepage_review_title_4 }}</strong>
	                    <br />
	                    <q>{{ settings.homepage_review_text_4 }}</q>
	                  </p>
	                  <p><small><strong>{{ settings.homepage_review_client_4 }}</strong></small></p>
				</div>
				<div class="half-bottom">
					<p><small>{{ settings.homepage_review_date_4 }}</small></p>
					{% if settings.homepage_imagereview4 %}<img data-swift-lazy="1" loading="lazy" src="{{'homepage_review4.png' | asset_url }}" class='reviewimg' />{% endif %}
					<p><a href="{{ settings.homepage_review_link_4 }}">{{ settings.homepage_review_product_4 }}</a></p>
                 </div>
              </div>
        {% endif %}
        {% if settings.homepage_review_text_5 != blank or settings.homepage_review_title_5 != blank %}
            <div class='reviewinnercol'>
            	<div class="half-top">
            		<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
					<p class='reviewtext'>
						<strong>- {{ settings.homepage_review_title_5 }}</strong>
						<br />
						<q>{{ settings.homepage_review_text_5 }}</q>
					</p>
	                <p><small><strong>{{ settings.homepage_review_client_5 }}</strong></small></p>
				</div>
				<div class="half-bottom">
	                <p><small>{{ settings.homepage_review_date_5 }}</small></p>
	                {% if settings.homepage_imagereview5 %} <img data-swift-lazy="1" loading="lazy" src="{{'homepage_review5.png' | asset_url }}" class='reviewimg' />{% endif %}
	                <p><a href="{{ settings.homepage_review_link_5 }}">{{ settings.homepage_review_product_5 }}</a></p>
                </div>
            </div>
        {% endif %}
        {% if settings.homepage_review_text_6 != blank or settings.homepage_review_title_6 != blank %}
            <div class='reviewinnercol'>
            	<div class="half-top">
            		<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
	                <p class='reviewtext'>
	                  <strong>{{ settings.homepage_review_title_6 }}</strong>
	                  <br />
	                  <q>{{ settings.homepage_review_text_6 }}</q>
	                </p>
	                <p><small><strong>{{ settings.homepage_review_client_6 }}</strong></small></p>
	            </div>
				<div class="half-bottom">
	                <p><small>{{ settings.homepage_review_date_6 }}</small></p>
	                {% if settings.homepage_imagereview6 %}<img data-swift-lazy="1" loading="lazy" src="{{'homepage_review6.png' | asset_url }}" class='reviewimg' />{% endif %}
	                <p><a href="{{ settings.homepage_review_link_6 }}">{{ settings.homepage_review_product_6 }}</a></p>
	            </div>
            </div>
        {% endif %}
      </section>
  </div>
{% endif %}