<!-- /snippets/homepage-product-grid-item.liquid -->
{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  A liquid variable (grid_item_width) is set just before the this
  snippet is included to change the size of the container.
  Once the variable is set on a page, all future instances of this
  snippet will use that width. Overwrite the variable to adjust this.

  Example
    - assign grid_item_width = 'large--one-quarter medium--one-half'

{% endcomment %}

{% comment %}
  Set the default grid_item_width if no variable is set
{% endcomment %}
{% unless grid_item_width %}
  {% assign grid_item_width = 'grid__item large--one-quarter medium--one-half' %}
{% endunless %}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

<div class="grid__item {{ grid_item_width }} product_item text-center">

  {% comment %}
    Link to your product with the 'within: collection' filter for the link to be aware of the collection.
    This allows you to create collection-based navigation on the product page.

    Results of using 'within: collection':
    - Instead of a URL with /products/product-handle
      you would get /collections/collection-handle/products/product-handle

    For more info on navigation within a collection
      - http://docs.shopify.com/support/your-store/collections/how-to-navigate-within-a-collection

  {% endcomment %}
  {% assign current_variant = product.selected_or_first_available_variant %} 
  <div class="productgrid">
  	<a href="{{ product.url | within: collection }}" class="grid__image">
    	<div class="reveal">
           <img data-swift-lazy="1" loading="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" class="lazy2 lazy3" data-src="{{ product.featured_image.src | product_img_url: '560x' }}" alt="{{ product.featured_image.alt | escape }}">
          {% comment %}
            {% if 1 < product.images.size %}
              <img data-swift-lazy="1" loading="lazy" class="hidden" src="{{ product.images[1] | product_img_url: '560x' }}" alt="{{ product.images[1].alt | escape }}" />
            {% endif %}
          {% endcomment %}
        </div>
    </a>
    {% comment %}
 {% if settings.collection_show_quickshop and product.available %}

     <span data-fancybox-href="#product-{{ product.id }}" class="quick_shop action_button button--quick-shop" data-gallery="product-{{ product.id }}-gallery">
          quick shop
        </span>
      {% endif %}{% endcomment %}
  </div>
  <p class="h6 product-title">
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
  </p>

  <section class="product-price">
    {% if settings.enable_price %}
      {% if on_sale %}
          <span id="ComparePrice" style="color:{{ settings.color_sale }}">{{ product.compare_at_price | money }}</span>
      {% endif %}
      {% if on_sale %}
        {% if product.price_varies %}
          {% assign sale_price = product.price | money %}
          <span style="color:{{ settings.color_original }}"> {{ product.price | money }}</span>
        {% else %}
            <span style="color:{{ settings.color_original }}"> {{ product.price | money }}</span>
        {% endif %}
      {% else %}
        {% if product.price_varies %}
          {% assign price = product.price | money %}
          {{ price }}
        {% else %}
          <span style="color:{{ settings.color_original }}">{{ product.price | money }}</span>
        {% endif %}
      {% endif %}
      {% endif %}
       <a href="#looxReviews"><div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></div></a>

      {% if settings.enable_product_stock %}
      	<span>
              {% if product.available %}
              {% else %}
                  <span style="color:red"> (out of stock)</span>
              {% endif %}
        </span>
      {% endif %}
    </section>
</div>
