{%if settings.instagram_enable %}

<div class="grid">
  <h2 class='promotitle'>Instagram Feed</h2>
  {% if settings.home_social_instagram_access_token == blank %}
  <p><center>You have enabled Instagram section, but you have not indicated any access token.<br>Make sure that you properly fill the required settings in the Theme Settings by <a href="{{admin_url}}" class="link--primary">clicking here</a>.</center></p>
          {% else %}
            <div id="instafeed" class="instafeed clearfix"></div>
          {% endif %}
</div>

 {{ 'instafeed.min.js' | asset_url | script_tag }}
<script>
 
 // var isMobile = Modernizr.mq('(max-width: 48em)');
/**
   * INSTAGRAM
   */
  {% if settings.home_social_instagram_access_token != blank %}
    {% assign template = '<div class="instagram__image-wrapper"><a href="{{link}}" target="_blank"><div class="instagram__overlay"><p class="instagram__caption">{{caption}}</p><time class="instagram__date">{{model.created_time}}</time></div><img data-swift-lazy="1" loading="lazy" class="instagram__image" src="{{image}}"/></a></div>' %}

    var formatInstagramDate = function(image) {
      var date = new Date(image.created_time * 1000);

      m = date.getMonth();
      d = date.getDate();
      y = date.getFullYear();

      var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

      image.created_time = monthNames[m] + ' ' + d + ', ' + y;

      return true;
    };

     if($(window).width() < 767){
      var resolution = 'low_resolution';
    } else {
      {% if settings.home_social_instagram_image_per_row > '4' %}
        var resolution = 'low_resolution';
      {% else %}
        var resolution = 'standard_resolution';
      {% endif %}
    }
  
  if($(window).width() < 767)
  {
    
   var limitphoto = 6;
  }
  else
  {
   var limitphoto = {{ settings.home_social_instagram_rows | times: settings.home_social_instagram_image_per_row }}; 
    
  }

      var feed = new Instafeed({
        get: 'user',
        userId: 'self',
        accessToken: {{ settings.home_social_instagram_access_token | json }},
        sortBy: 'most-recent',
        limit:limitphoto,
        resolution: resolution,
        template: '{{ template }}',
        after: function() {
          var images = $('.instagram__image-wrapper');

          images.filter(':nth-child(2n + 1)').addClass('grid__item--mobile-first');
          images.filter(':nth-child({{ settings.home_social_instagram_image_per_row}}n + 1)').addClass('grid__item--tablet-first grid__item--desktop-first');
        },
        filter: $.proxy(formatInstagramDate)
      });

   
    
      feed.run();
  
  {% endif %}

</script>
{% endif %}
