
<form id="email_signup" class="klaviyo_condensed_styling klaviyo_condensed_float klaviyo_condensed_embed_{{ settings.klaviyo_id }}" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate" onsubmit="return checkCheckBoxes(this);">
  <input type="hidden" name="g" value="{{ settings.klaviyo_id }}">
  <div class="klaviyo_field_group">
<!--     <label for="k_id_email" style="display: none;">Newsletter Sign Up</label> -->
    <input type="email" value="" name="email" id="k_id_email" placeholder="{{ settings.footer_placeholder }}" />
  </div>
    <div class="klaviyo_form_actions">
    <button type="submit" class="klaviyo_submit_button">{{ settings.footer_button_newsletter }}</button>
  </div>
  <div class="klaviyo_messages">
    <div class="success_message" style="display:none;">
      <p class="thank_you" > Thanks for signing up! Here is your <br class="mobile" />Coupon code: <span style='color:#cb0808;'> <b> {{ settings.cupom_code_newsletter }} </b> </span> </p>
    
    </div>
    <div class="error_message" style="display:none;"></div>
  </div>  
 
</form>

<style type="text/css">
  .klaviyo_condensed_styling, 
  .klaviyo_styling {
   
    display:inline-block !important;
    
  }
  .klaviyo_condensed_styling .klaviyo_field_group {
    width: 60% !important;
    margin: 0;
    float:left;
}
.success_message {
    color: black !important;
}
.klaviyo_styling.klaviyo_condensed_embed_{{ settings.klaviyo_id }},
.klaviyo_condensed_styling.klaviyo_condensed_embed_{{ settings.klaviyo_id }} {
  font-family: "Helvetica Neue", Arial;
}
.klaviyo_styling.klaviyo_condensed_embed_{{ settings.klaviyo_id }} label,
.klaviyo_condensed_styling.klaviyo_condensed_embed_{{ settings.klaviyo_id }} label {
  color:#50504F;
}
.klaviyo_styling.klaviyo_condensed_embed_{{ settings.klaviyo_id }} input[type=text],
.klaviyo_styling.klaviyo_condensed_embed_{{ settings.klaviyo_id }} input[type=email],
.klaviyo_condensed_styling.klaviyo_condensed_embed_{{ settings.klaviyo_id }} input[type=text],
.klaviyo_condensed_styling.klaviyo_condensed_embed_{{ settings.klaviyo_id }} input[type=email] {
  border-radius: 0px;
}
.klaviyo_styling.klaviyo_condensed_embed_{{ settings.klaviyo_id }} .klaviyo_submit_button,
.klaviyo_condensed_styling.klaviyo_condensed_embed_{{ settings.klaviyo_id }} .klaviyo_submit_button {
  background-color:#000;
  border-radius: 0px;
}

.klaviyo_styling.klaviyo_condensed_embed_{{ settings.klaviyo_id }} .klaviyo_submit_button:hover,
.klaviyo_condensed_styling.klaviyo_condensed_embed_{{ settings.klaviyo_id }} .klaviyo_submit_button:hover {
  background-color:#14698e;
}
  .klaviyo_form_actions {
    width: 40%;
    padding: 0;
    text-align: center;
    float: left;
}
  .klaviyo_condensed_styling{
  	margin-bottom: 0;
    max-width: 100%;
    width: 100%;
  }

.klaviyo_condensed_styling .klaviyo_submit_button {
	background-color: #000;
  	font-size: 16px;
  	padding: 0;
    width: 100%;
}
  
@media screen and (max-width:767px) {   
  .klaviyo_condensed_styling .klaviyo_submit_button {
      font-size: 12px;
  }
}  
</style>

<script type="lazyload2" data-src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
<script type="lazyload2">
  KlaviyoSubscribe.attachToForms('form.klaviyo_condensed_styling', {
    hide_form_on_success: true,
     custom_success_message: true
   
  });
</script>
