{%- assign type = media.media_type -%}
<div class="tb-media">
  {% case type %}
    {% when 'image' %}
      {{media | img_tag | replace: "<img src=", "<img class='lazy2 lazy3' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=' data-src=" }}
    {% when 'external_video' %}
      <img class="video-thum-extra lazy2 lazy3" data-swift-lazy="1" loading="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ media | img_url: '110x110', scale: 2 }}" alt="{{ media.alt }}">
    {% when 'video' %}
      <img  class="video-thum-extra lazy2 lazy3" data-swift-lazy="1" loading="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ media | img_url: '110x110', scale: 2 }}" alt="{{ media.alt }}">
    {% when 'model' %}
      {{ media | model_viewer_tag }}
    {% else %}
      {{ media | media_tag }}
  {% endcase %}
</div>


{% comment %}
<style>
  .tb-media {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
  }
  .tb-media > *{
    width: inherit;
    height: inherit;
    object-fit: contain;
  }
</style>
{% endcomment %}