{%- assign type = media.media_type -%}
<div class="sld-media">
  {% case type %}
    {% when 'image' %}
  		<img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-srcset="{{ media | img_url: '800x' }} 1536w,{{ media | img_url: '720x' }} 1280w,{{ media | img_url: '540x' }} 768w,{{ media | img_url: '360x'}} 320w" alt="{{ media.alt | escape }}">
  
    {% when 'external_video' %}
      {{ media | external_video_tag | replace: " src=", " data-src=" }}
    {% when 'video' %}
      {{ media | video_tag}}
    {% when 'model' %}
      {{ media | model_viewer_tag | replace: " src=", " data-src=" }}
    {% else %}
      {{ media | media_tag | replace: " src=", " data-src=" }}
  {% endcase %}
</div>
