{% if collection.handle == 'used-barrels' or collection.handle == 'all-products' or collection.handle == 'all' %}

  {% if product.id == 2140779741297 %}
      <p class="micro-copy-text" >The perfect barrel for your modern-rustic decor or very own DIY projects.</p>
  {% endif %}
  {% if product.id == 2138423623793 %}
      <p class="micro-copy-text" >Similar to the whiskeys, but offer a cleaner and lighter appearance, with galvanized silver hoops.</p>
  {% endif %}
  {% if product.id == 4337888166001 %}
      <p class="micro-copy-text" >Small-size barrels, ranging from 15-25 inches in height. A unique find for whatever ideas you can dream up!</p>
  {% endif %}
  {% if product.id == 4405921448049 %}
      <p class="micro-copy-text" >Real, authentic barrel planters. Hoops secured to the barrel to ensure longevity.</p>
  {% endif %}
  {% if product.id == 4405921808497 %}
      <p class="micro-copy-text" >The same used barrels, just cut in half longways. Use as planters, up against a wall, or a coffee table base.</p>
  {% endif %}

{% endif %}


{% if collection.handle == 'barrel-furniture' or collection.handle == 'all-products' or collection.handle == 'all' %}

  {% if product.id == 3946909106289 %}
    <p class="micro-copy-text" >
      Fully cleaned, sanded, stained, & polyurethane sealed in-house! We bring new life and beauty to these barrels!
    </p>
  {% endif %}
  {% if product.id == 6678788079729 %}
    <p class="micro-copy-text" >
      Add storage to your new barrel for your favorite bottles! 
    </p>
  {% endif %}
  {% if product.id == 3946904420465 %}
    <p class="micro-copy-text" >
      Add a tabletop to a refurbished barrel, creating an inviting place to gather with friends and family!
    </p>
  {% endif %}
  {% if product.id == 4515866214513 %}
    <p class="micro-copy-text" >
      A one-of-a-kind patio table, kitchen table, wedding table, or office desk!
    </p>
  {% endif %}
  {% if product.id == 4406352183409 %}
    <p class="micro-copy-text" >
      Position these barrels up against a wall for a unique, functional, and space-saving idea.
    </p>
  {% endif %}
  {% if product.id == 4405927837809 %}
    <p class="micro-copy-text" >
      An end table or coffee table, crafted from an authentic whiskey or wine barrel. Finished to perfection.
    </p>
  {% endif %}

{% endif %}


<style>
  p.micro-copy-text {
    margin-bottom: 5px;
  }
</style>
  