<!-- Product Slider w/ Video -->
  <div id="product-flexslider" class="flexslider product_gallery product-{{ product.id }}-gallery {% if product-images == blank %}product_slider{% endif %} {% if settings.product_thumbs == false %}animated fadeInUp{% endif %}">
    <ul class="slides">
      {% for image in product.media %}
       {% assign index = forloop.index %}
        {% case image.media_type %}
          {% when 'image' %}
            <li data-index="{{ index }}" data-thumb="{{ image | product_img_url: '200x200' }}" data-featured-image="{{ image | product_img_url: 'master' }}" data-title="{% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}{{ product.title }}{% else %}{{ image.alt | escape }}{% endif %}">
              <a href="#" title="{{ image.alt | escape }}">
                <img data-swift-lazy="1" loading="lazy"  src="{{ image | product_img_url: '1024x1024' }}" alt="{{ image.alt | escape }}"/>
              </a>
            </li>
          {% when 'external_video' %}
            {% assign thumbVideo = "http://img.youtube.com/vi/[_ID_VIDEO_]/0.jpg" | replace: "[_ID_VIDEO_]", image.external_id %}
            <li data-index="{{ index }}" data-thumb="{{ thumbVideo }}" data-featured-image="{{ thumbVideo }}" data-title="{% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}{{ product.title }}{% else %}{{ image.alt | escape }}{% endif %}">
              <div class="product-single__media" style="padding-top: {{ 1 | divided_by: image.aspect_ratio | times: 100}}%;" data-media-id="{{ image.id }}">
                {{ image | external_video_tag }}
              </div>
            </li>              
          {% when 'video' %}
            <li data-index="{{ index }}" data-thumb="{{ 'video-thumb.png' | asset_img_url: '200x' }}" data-featured-image="{{ 'video-thumb.png' | asset_img_url: '200x' }}" data-title="{% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}{{ product.title }}{% else %}{{ image.alt | escape }}{% endif %}">
              <div class="product-single__media" data-media-id="{{ image.id }}">
                {{ image | video_tag: controls: true }}
              </div>
            </li>              
          {% when 'model' %}
            <li data-index="{{ index }}" data-thumb="{{ 'video-thumb.png' | asset_img_url: '200x' }}" data-featured-image="{{ 'video-thumb.png' | asset_img_url: '200x' }}" data-title="{% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}{{ product.title }}{% else %}{{ image.alt | escape }}{% endif %}">
              <div class="product-single__media" style="padding-top: 100%" data-media-id="{{ image.id }}">
                {{ image | model_viewer_tag }}
              </div>
            </li>              
          {% else %}
            <li data-index="{{ index }}" data-thumb="{{ image | product_img_url: '200x200' }}" data-featured-image="{{ image | product_img_url: 'master' }}" data-title="{% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}{{ product.title }}{% else %}{{ image.alt | escape }}{% endif %}">              
              <div class="product-single__media" style="padding-top: 100%;" data-media-id="{{ image.id }}">
                {{ image | media_tag }}
              </div>
            </li>
        {% endcase %}
      {% endfor %}
    </ul>
  </div>

  <!-- End Slider -->

<!-- FlexSlider -->




<script type="lazyload2" charset="utf-8">

  setTimeout(function() {
    var slider, // Global slider value to force playing and pausing by direct access of the slider control
        canSlide = true; // Global switch to monitor video state

    // Load the YouTube API. For some reason it's required to load it like this
    var tag = document.createElement('script');
    tag.src = "//www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // Setup a callback for the YouTube api to attach video event handlers
    window.onYouTubeIframeAPIReady = function(){
      // Iterate through all videos
      $('#product-flexslider iframe').each(function(){
        // Create a new player pointer; "this" is a DOMElement of the player's iframe
        var player = new YT.Player(this, {
          playerVars: {
            autoplay: 0
          }
        });

        // Watch for changes on the player
        player.addEventListener("onStateChange", function(state){
          switch(state.data)
          {
              // If the user is playing a video, stop the slider
            case YT.PlayerState.PLAYING:
              slider.flexslider("pause");
              canSlide = false;
              break;
              // The video is no longer player, give the go-ahead to start the slider back up
            case YT.PlayerState.ENDED:
            case YT.PlayerState.PAUSED:
              slider.flexslider("play");
              canSlide = true;
              break;
          }
        });

        $(this).data('player', player);
      });
    }



    // Setup the slider control
    /**
     *
     * Vasta Mod - Sync swatch with images slider
     *
     * Mods list:
     * 
     * > Add 'start' function;
     */
    var locked = false;
    
    slider = $("#product-flexslider")
    .flexslider({
      animation: "slide",      			
      easing: "swing",
      slideshow: true,      
      pauseOnHover: true,
      pauseOnAction: true,
      // 			touch: true,
      video: true,
      controlNav: "thumbnails",
      animationLoop: true,
      useCSS: false,
      sync: "#product-carousel",
      // Before you go to change slides, make sure you can!
      before: function(){			    		
        if(!canSlide)
          slider.flexslider("pause");
      },
      after: function(slider) {
        var currentSlider = $('.flex-active-slide', slider),
            position = currentSlider.attr('data-index'),
            variant,
            swatchElement;
        
        if (typeof productOptions !== 'undefined') {
          variant = productOptions.filter(function(item){
            return item && item.featured_image && item.featured_image.position == position;
          });

          if (variant && variant.length > 0) {
            variant = variant[0];

            swatchElement = $('.swatch-element[data-variant="' + variant.id + '"]');

            $('input', swatchElement).prop('checked', true).trigger('change');
          }
        }
      },
      start: function(slider){
        var variant;

        if (typeof productOptions !== 'undefined') {
          var slideIndex = {{ product.selected_or_first_available_variant.featured_image.position | minus: 1 }};
          
          slider.flexAnimate(Math.max(slideIndex, 0), true);
          
          $('.swatch-element[data-variant]').click(function(event){
            var id = $(this).attr('data-variant');

            variant = productOptions.filter(function(item){
              return item && item.id == id;
            });

            if (variant.length > 0) {
              variant = variant[0];
              
              slider.flexAnimate(variant.featured_image.position-1, true);
            }
          });
        }
      }
    });

    slider.on("click", ".flex-prev, .flex-next", function(){
      console.log('clicked!');
      canSlide = true;
      $('#product-flexslider iframe').each(function(){
        $(this).data('player').pauseVideo();
      });
    });

    slider.on("click", ".flex-control-nav", function(){
      console.log('clicked!');
      canSlide = true;
      $('#product-flexslider iframe').each(function(){
        $(this).data('player').pauseVideo();
      });
    });
  },3000);
</script> 