{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
{{ 'flexslider_new.css' | asset_url | stylesheet_tag }}
{{ 'jquery.flexslider.js' | asset_url | script_tag }}

<script type="text/javascript">
    $(function(){
      SyntaxHighlighter.all();
    });
    $(window).load(function(){
      $('#carousel').flexslider({
        animation: "slide",
        controlNav: false,
        animationLoop: false,
        slideshow: false,
        itemMargin: 5,
        asNavFor: '#slider'
      });

      $('#slider').flexslider({
        animation: "slide",
        controlNav: false,
        animationLoop: false,
        slideshow: false,
        sync: "#carousel",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>
<!--div class="flexslider product_gallery {% if product-images == blank %}product_slider{% endif %}" id="product-{{ product.id }}-gallery"-->
  <div id="container" class="cf">
    

	<div id="main" role="main">
      <section class="slider">
        <div id="slider" class="flexslider">
  <ul class="slides">
    {% for image in product.images %}
      <li  class="product-single__photos" id="ProductPhoto">
        {% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}
          {% assign src = image.alt | split: 'src="' %}
          {% assign src = src[1] | split: '"' | first %}

          {% if src contains '?' %}
            {% assign src = src | append: '&amp;autoplay=1' %}
          {% else %}
            {% assign src = src | append: '?autoplay=1' %}
          {% endif %}

          <div class="video-container {% if image.alt contains 'vimeo' %}vimeo{% else %}youtube{% endif %}">
            <div>
               <a href="{{ image.src | img_url: 'master' }}" class="product-single__thumbnail">
                {{ image.alt }}
              </a>
            </div>
          </div>
        {% else %}
         <a href="{{ image.src | img_url: 'master' }}" class="product-single__thumbnail">
                <img data-swift-lazy="1" loading="lazy"  class='ProductPhotoImg zoom' src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt | escape }}">
              </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
        
     <div id="carousel" class="flexslider">
          <ul class="slides product-single__thumbnails grid-uniform" id="ProductThumbs">
    {% for image in product.images %}
      <li  class="grid__item one-fifth" >
        
         <a href="{{ image.src | img_url: 'thumb' }}" class="product-single__thumbnail">
                <img data-swift-lazy="1" loading="lazy" src="{{ image.src | img_url: 'thumb' }}" alt="{{ image.alt | escape }}">
              </a>
        
      </li>
    {% endfor %}
  </ul>
     </div>
 </section>
      
    </div>

  </div><!--/div-->
