<!-- /snippets/product-grid-item.liquid -->
{% comment %}
  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  A liquid variable (grid_item_width) is set just before the this
  snippet is included to change the size of the container.
  Once the variable is set on a page, all future instances of this
  snippet will use that width. Overwrite the variable to adjust this.

  Example
    - assign grid_item_width = 'large--one-quarter medium--one-half'

{% endcomment %}

{% comment %}
  Set the default grid_item_width if no variable is set
{% endcomment %}
{% unless grid_item_width %}
  {% assign grid_item_width = 'grid__item large--one-quarter medium--one-half' %}
{% endunless %}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

<div class="grid__item {{ grid_item_width }} product_item text-center">
  {% comment %}
    Link to your product with the 'within: collection' filter for the link to be aware of the collection.
    This allows you to create collection-based navigation on the product page.

    Results of using 'within: collection':
    - Instead of a URL with /products/product-handle
      you would get /collections/collection-handle/products/product-handle

    For more info on navigation within a collection
      - http://docs.shopify.com/support/your-store/collections/how-to-navigate-within-a-collection

  {% endcomment %}
  
  {% assign current_variant = product.selected_or_first_available_variant %}
  	<div class="productgrid">
        <a href="{{ product_current.url | within: collection }}" class="grid__image">
          <img data-swift-lazy="1" loading="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" class="lazy2 lazy3"data-src="{{ product_current.featured_image.src | img_url: '400x' }})"/>
        </a>
      
        {% comment %}
          {% if settings.collection_show_quickshop and product_current.available %}
              <span data-fancybox-href="#product-{{ product_current.id }}" class="quick_shop action_button button--quick-shop" data-gallery="product-{{ product_current.id }}-gallery">
                quick shop
              </span>
          {% endif %}
      	{% endcomment %}

        {% if settings.collection_swatch_type != 'none' %}
            {% include 'collection-swatch' %}
        {% endif %}
    </div>
    <p class="h6 product-title">
      <a href="{{ product_current.url | within: collection }}">{{ product_current.title }}</a>
    </p>
  
  {% unless product_current.tags contains 'no-price' %}
 	<p class="product-price">
      {% comment %}
        You can show a leading 'from' or 'up to' by checking 'product.price_varies'
        if your variants have different prices.
      {% endcomment %}
      {% if on_sale %}
        <span id="ComparePrice" style="color:{{ settings.color_sale }}">{{ product_current.compare_at_price | money }}</span>
      {% endif %}

      {% if on_sale %}
        {% if product_current.price_varies %}
          {% assign sale_price = product_current.price | money %}
          <span style="color:{{ settings.color_original }}"> {{ product_current.variants.first.price | money }}</span>
        {% else %}
          <span style="color:{{ settings.color_original }}"> {{ product_current.variants.first.price | money }}</span>
        {% endif %}
      {% else %}
        {% if product_current.price_varies %}
          {% assign price = product_current.price | money %}
            <span style="color:{{ settings.color_original }}"> {{ price }}</span>
        {% else %}
          <span style="color:{{ settings.color_original }}">{{ product_current.price | money }}</span>
        {% endif %}
      {% endif %}
      <br>
      {% if settings.enable_product_stock %}
        <span>
            {% unless product_current.available %}
                <span style="color:red; font-size: 14px;"> (out of stock)</span>
            {% endunless %}
        </span>
      {% endif %}
  </p>
  {% endunless %}
  
  {%if settings.enable_add_cart_button %}
    <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">
      <input type="hidden" name="id" value="{{ product_current.variants.first.id }}" />
      <button type="submit" name="add" id="AddToCart" class="btn AddToCart">Add To Cart</button>
    </form>
  {%endif %}
{% comment %}
  {% if settings.collection_show_quickshop and product_current.available %}
    {% include 'quick_shop', product: product_current %}
  {% endif %}  
{% endcomment %}
</div>