<div class="product-single__photos" id="ProductPhoto">
  {% comment %}
    {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
    <img src="{{ featured_image | img_url: '480x' }}" alt="{{ featured_image.alt | escape }}" class="ProductPhotoImg">
  {% endcomment %}
  {% if product.images.size > 1 %}
    <div class="product-single__main slider-for">
      {% comment%}
        {% for image in product.images %}
            <div data-imageid="{{image.id}}">
                <img src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt | escape }}" data-imageid="{{image.id}}">
              	<div class="yt-video"></div>
            </div>
        {% endfor %}
      {% endcomment %}
      {% for media in product.media %}
      	{% if forloop.first == true %}
      		{% render 'media', media: media %}
      	{% else %}
      		{% render 'media-2', media: media %}
      	{% endif %}
      {% endfor %}
    </div>
{% endif %}
</div>
{% comment %}
Create thumbnails if we have more than one product image
{% endcomment %}

{% if product.images.size > 1 %}
    <ul class="product-single__thumbnails slider-nav">
      {% comment %}
        {% for image in product.images %}
            <li data-imageid="{{image.id}}">
              <img class="list-image-for-slider" src="{{ image.src | img_url: '160x' }}" alt="{{ image.alt | escape }}" data-imageid="{{image.id}}" />
            </li>
        {% endfor %}
      {% endcomment %}
      {% for media in product.media %}
      {% render 'media-thumbnails', media: media %}
      {% endfor %}
    </ul>
{% endif %}

<script>
  setTimeout(function(){
    $('.slider-for').slick({
      infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      speed: 700,
      arrows: true,
      adaptiveHeight: true,
      fade: false,
      loop: true,
      asNavFor: '.slider-nav',
      responsive: [
      {
        breakpoint: 575,
        settings: {
          infinite: true,
          slidesToShow: 1,
          slidesToScroll: 1,
//           centerMode: true,
          dots: true,
          dotsClass:'slick-dots',
          speed: 700,
          arrows: true, 
          adaptiveHeight: true,
          fade: false,
        }
      }
    ]
    });
    $('.slider-nav').slick({
      slidesToShow: 5,
      slidesToScroll: 1,
      asNavFor: '.slider-for',
      prevArrow:"<button type='button' class='slick-prev pull-left'><i class='fa fa-angle-left' aria-hidden='true'></i></button>",
      nextArrow:"<button type='button' class='slick-next pull-right'><i class='fa fa-angle-right' aria-hidden='true'></i></button>",
      focusOnSelect: true,
      infinite:false,
      responsive: [
      	{
          breakpoint: 768,
          settings: {
            slidesToShow: 5
          }
        },
        {
          breakpoint: 421,
          settings: {
            slidesToShow: 3
          }
        }
      ]
    });
  });
</script>
<style>
  .slider-for , .slider-nav {
    margin:0;
  }
  .product-single__thumbnails .slick-next, .product-single__thumbnails .slick-prev {
    top: 26%;
  }
  @media screen and (max-width: 575px){
    .slider-nav{
      display: none !important;
    }
  }
  .tb-media {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
  }
  .tb-media > *{
    width: inherit;
    height: inherit;
    object-fit: contain;
  }
</style>