<!-- start product-sliders (SNIPPET) -->

{% render 'icon-loading' %}

{% assign product_featured_direction = 'product-featured-horizontal' %}
{% assign product_thumbnail_direction = 'product-thumbnails-horizontal' %}

{% for tagBadge in product.tags %}
    {% if tagBadge == settings.product_badge_tag and settings.product_badge_text_tag != blank %} 
        <label class="product_tag_badge ribbon {{ settings.position_product_tag_badge }}">
            <span>{{ settings.product_badge_text_tag }}</span>
        </label>
    {% endif %}
{% endfor %}

<div class="product-featured {{ product_featured_direction }} jq-featured-slider">
    {% for image in product.images %}
        <div class="product-slider-image-wrapper" data-src="{{ image.src | split:'?' | first }}">
            <img data-swift-lazy="1" loading="lazy" class="slick-img" data-lazy="{{ image.src | product_img_url: '800x' | split:'?' | first }}" alt="{{ image.alt | escape }}">
        </div>
    {% endfor %}
</div>

<div class="product-thumbnails {{ product_thumbnail_direction }}">
    {% for image in product.images %}
        <div class="product-slider-image-wrapper">
            <img data-swift-lazy="1" loading="lazy" class="slick-img" data-lazy="{{ image.src | product_img_url: '98x' | split:'?' | first }}" alt="{{ image.alt | escape }}">
        </div>
    {% endfor %}
</div>
