<!-- /snippets/product-grid-item.liquid -->
{% comment %}
  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  A liquid variable (grid_item_width) is set just before the this
  snippet is included to change the size of the container.
  Once the variable is set on a page, all future instances of this
  snippet will use that width. Overwrite the variable to adjust this.

  Example
    - assign grid_item_width = 'large--one-quarter medium--one-half'

{% endcomment %}

{% comment %}
  Set the default grid_item_width if no variable is set
{% endcomment %}
{% unless grid_item_width %}
  {% assign grid_item_width = 'grid__item large--one-quarter medium--one-half' %}
{% endunless %}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

<div class="grid__item {{ grid_item_width }} product_item text-center">
  {% comment %}
    Link to your product with the 'within: collection' filter for the link to be aware of the collection.
    This allows you to create collection-based navigation on the product page.

    Results of using 'within: collection':
    - Instead of a URL with /products/product-handle
      you would get /collections/collection-handle/products/product-handle

    For more info on navigation within a collection
      - http://docs.shopify.com/support/your-store/collections/how-to-navigate-within-a-collection

  {% endcomment %}
  
  {% assign current_variant = product.selected_or_first_available_variant %}
  	<div class="productgrid">
        <a href="{{ product.url | within: collection }}" class="grid__image">
          <img data-swift-lazy="1" loading="lazy" class="lazy2 lazy3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ product.featured_image.src | img_url: '400x' }})"/>
        </a>
      
        {% comment %}
          {% if settings.collection_show_quickshop and product.available %}
              <span data-fancybox-href="#product-{{ product.id }}" class="quick_shop action_button button--quick-shop" data-gallery="product-{{ product.id }}-gallery">
                quick shop
              </span>
          {% endif %}
      	{% endcomment %}

        {% if settings.collection_swatch_type != 'none' %}
            {% include 'collection-swatch' %}
        {% endif %}
    </div>
    <p class="h6 product-title">
      <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    </p> 
  {% if template.name != 'product'%}
  {% render 'micro-copy' , with product: product %}
  {% endif%}
<!--   YOTPO STAR RATING - CATEGORY PAGE -->
  <div style="text-align: center">
  <div class="yotpo bottomLine" style="display: inline-block"
data-product-id="{{ product.id }}">
{%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
{%- assign time_now = 'now' | date: '%s' %}
{%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
{%- assign diff_seconds_from_live = time_now | minus: yotpo_live_time %}
{%- assign yotpo_bottomline_last_updated = product.metafields.yotpo.catalog_bottomline_update_time | date: '%s' %}
{%- assign diff_seconds_from_last_bottomline_update = time_now | minus: yotpo_bottomline_last_updated %}
{%- if yotpo_live_time and diff_seconds_from_live < 86400 or yotpo_bottomline_last_updated and diff_seconds_from_last_bottomline_update < 86400 -%}
  {%- assign yotpo_bottomline_obsolete = false %}
{%- else %}
  {%- assign yotpo_bottomline_obsolete = true %}
{%- endif %}
{%- if yotpo_offload_content == 'yes' and yotpo_bottomline_obsolete != true -%}
  {{ product.metafields.yotpo.catalog_bottomline }}
{%- endif %}
</div> </div>
  
  {% include 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: true %}
  {% unless product.tags contains 'no-price' %}
 	<p class="product-price">
      {% comment %}
        You can show a leading 'from' or 'up to' by checking 'product.price_varies'
        if your variants have different prices.
      {% endcomment %}
      {% if on_sale %}
        <span id="ComparePrice" style="color:{{ settings.color_sale }}">{{ product.compare_at_price | money }}</span>
      {% endif %}

      {% if on_sale %}
        {% if product.price_varies %}
          {% assign sale_price = product.price | money %}
          <span style="color:{{ settings.color_original }}"> {{ product.variants.first.price | money }}</span>
        {% else %}
          <span style="color:{{ settings.color_original }}"> {{ product.variants.first.price | money }}</span>
        {% endif %}
      {% else %}
        {% if product.price_varies %}
          {% assign price = product.price | money %}
            <span style="color:{{ settings.color_original }}"> {{ price }}</span>
        {% else %}
          <span style="color:{{ settings.color_original }}">{{ product.price | money }}</span>
        {% endif %}
      {% endif %}
      <br>
      {% if settings.enable_product_stock %}
        <span>
            {% unless product.available %}
                <span style="color:red; font-size: 14px;"> (out of stock)</span>
            {% endunless %}
        </span>
      {% endif %}
  </p>
  {% endunless %}
  
  {%if settings.enable_add_cart_button %}
    <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">
      <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
      <button type="submit" name="add" id="AddToCart" class="btn AddToCart">Add To Cart</button>
    </form>
  {%endif %}
{% comment %}
  {% if settings.collection_show_quickshop and product.available %}
    {% include 'quick_shop', product: product %}
  {% endif %}  
{% endcomment %}
</div>