 {% if  settings.product_tabber_location == 'above_pro_cart' %}
  <div class="prod_description abovebuttoncart">
  <ul class="tabs">
    <li><a href="#tab-1">Description</a></li>
    
    {% if settings.prodtitle2 !='' %}
    <li><a href="#tab-2">{{ settings.prodtitle2 }}</a></li>
    {%endif %}
    {% if settings.prodtitle3 !='' %}
    <li><a href="#tab-3">{{ settings.prodtitle3 }}</a></li>
    {%endif %}
  </ul>
    
    
  <div id="tab-1">
  {{ product.description }}
  </div>
    {% if settings.prodtitle2 !='' %}
  <div id="tab-2">
  {{ settings.prodtab2 }}
  </div>
    {%endif%}
     {% if settings.prodtitle3 !='' %}
  <div id="tab-3">
  {{ settings.prodtab3 }}
  </div>
    {%endif%}
</div>

  {% endif %}