
{%assign total_products_per_row = settings.promo_product_per_row %}
{% assign number_of_related_products_per_row = total_products_per_row %}
 {% case number_of_related_products_per_row %}
    {% when '1' %}
      {% assign grid_item_width = '' %}
    {% when '2' %}
      {% assign grid_item_width = 'large--one-half medium--one-half text-center' %}
    {% when '3' %}
      {% assign grid_item_width = 'large--one-third medium--one-half text-center' %}
    {% when '4' %}
      {% assign grid_item_width = 'large--one-quarter medium--one-third small--one-half text-center' %}
    {% when '5' %}
      {% assign grid_item_width = 'large--one-fifth medium--one-third small--one-half text-center' %}
    {% when '6' %}
      {% assign grid_item_width = 'large--one-sixth medium--one-third small--one-half text-center' %}
    {% else %}
      {% assign grid_item_width = 'large--one-quarter medium--one-third small--one-half text-center' %}
  {% endcase %}

{%if settings.enable_promotion %}

<div class="grid-uniform collection wrapper {% if settings.vasta_homepage_style == 'homepage-style-2' and settings.homepage-section1 == 'homepage-banner' %}homepage-style-2{% endif %}">
  {%if settings.enable_title_promotion %}
    {%if settings.promo_title_1 != '' or settings.promo_title_2 != '' or settings.promo_title_3 != '' or settings.promo_title_4 != ''%}
      {% if template != '404' %}
        <h2 class='promotional-title promotitle {% if settings.vasta_homepage_style == 'homepage-style-2' and settings.homepage-section1 == 'homepage-banner' %}homepage-style-2{% endif %}'> {{ settings.promotional_heading_title }} </h2>
      {% endif%}
    {% endif %}
  {% endif %}
  {%if settings.promo_title_1 != '' %}
    <div class="grid__item {{ grid_item_width }}">
      <a href="{{ settings.promo_link_1 }}" class="grid__image">
        <img data-swift-lazy="1" loading="lazy" class="lazy2 lazy3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{'promo1.jpg' | asset_img_url: '400x' }}" alt="{{ settings.promo_title_1 }}">
      </a>
      <p class="h6">
        <a href="{{ settings.promo_link_1 }}"> {{ settings.promo_title_1 }} </a>
      </p>
      <p>{{ settings.promo_textarea_1 }}</p>
    </div>
  {%endif %}
  {%if settings.promo_title_2 != '' %}
    <div class="grid__item {{ grid_item_width }}">
      <a href="{{ settings.promo_link_2 }}" class="grid__image">
        <img data-swift-lazy="1" loading="lazy" class="lazy2 lazy3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ 'promo2.jpg' | asset_img_url: '400x' }}" alt="{{ settings.promo_title_2 }}">
      </a>
      <p class="h6">
        <a href="{{ settings.promo_link_2 }}"> {{ settings.promo_title_2 }} </a>
      </p>
      <p>{{ settings.promo_text_2 }}</p>
    </div>
  {%endif%}
  {%if settings.promo_title_3 != '' %}
  <div class="grid__item {{ grid_item_width }}">
    <a href="{{ settings.promo_link_3 }}" class="grid__image">
      <img data-swift-lazy="1" loading="lazy" class="lazy2 lazy3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ 'promo3.jpg'  | asset_img_url: '400x' }}" alt="{{ settings.promo_title_3 }}">
    </a>
    <p class="h6">
      <a href="{{ settings.promo_link_3 }}"> {{ settings.promo_title_3 }} </a>
    </p>
  <p>{{ settings.promo_text_3 }}</p>
</div>
  {%endif%}
   {%if settings.promo_title_4 != '' %}
    <div class="grid__item {{ grid_item_width }}">
      <a href="{{ settings.promo_link_4 }}" class="grid__image">
        <img data-swift-lazy="1" loading="lazy" class="lazy2 lazy3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ 'promo4.jpg' | asset_img_url: '400x' }}" alt="{{ settings.promo_title_4 }}">
      </a>
      <p class="h6">
        <a href="{{ settings.promo_link_4 }}"> {{ settings.promo_title_4 }} </a>
      </p>
      <p>{{ settings.promo_text_4 }}</p>
    </div>
  {%endif%}
</div>
{%endif%}