{% if settings.slider_promotional_enable %}

  <div id="promotional_slider">
    <div class="promotionalslider_wrapper">
       {%if settings.enable_promo_slide1 %}
          <div class="promotionalslider_single">
            <a href="{{ settings.link_promo1 }}">
              <section style="background-image: url({{'promo_slide1.jpg' | asset_url }})"></section>
              <p>{{ settings.title_promo1 }}</p>
            </a>
          </div>
      {% endif %}

      {%if settings.enable_promo_slide2 %}
         <div class="promotionalslider_single">
          <a href="{{ settings.link_promo2 }}">
            <section style="background-image: url({{'promo_slide2.jpg' | asset_url }})"></section>
            <p>{{ settings.title_promo2 }}</p>
          </a>
        </div>
      {% endif %}

      {%if settings.enable_promo_slide3 %}
         <div class="promotionalslider_single">
          <a href="{{ settings.link_promo3 }}">
            <section style="background-image: url({{'promo_slide3.jpg' | asset_url }})"></section>
            <p>{{ settings.title_promo3 }}</p>
          </a>
        </div>
      {% endif %}

      {%if settings.enable_promo_slide4 %}
         <div class="promotionalslider_single">
          <a href="{{ settings.link_promo4 }}">
            <section style="background-image: url({{'promo_slide4.jpg' | asset_url }})"></section>
            <p>{{ settings.title_promo4 }}</p>
          </a>
        </div>
      {% endif %}

      {%if settings.enable_promo_slide5 %}
         <div class="promotionalslider_single">
            <a href="{{ settings.link_promo5 }}">
              <section style="background-image: url({{'promo_slide5.jpg' | asset_url }})"></section>
              <p>{{ settings.title_promo5 }}</p>
            </a>
        </div>
      {% endif %}

      {%if settings.enable_promo_slide6 %}
        <div class="promotionalslider_single">
            <a href="{{ settings.link_promo6 }}">
              <section style="background-image: url({{'promo_slide6.jpg' | asset_url }})"></section>
              <p>{{ settings.title_promo6 }}</p>
            </a>
        </div>
      {% endif %}

      {%if settings.enable_promo_slide7 %}
        <div class="promotionalslider_single">
            <a href="{{ settings.link_promo7 }}">
              <section style="background-image: url({{'promo_slide7.jpg' | asset_url }})"></section>
              <p>{{ settings.title_promo7 }}</p>
            </a>
        </div>
      {% endif %}

      {%if settings.enable_promo_slide8 %}
        <div class="promotionalslider_single">
            <a href="{{ settings.link_promo8 }}">
              <section style="background-image: url({{'promo_slide8.jpg' | asset_url }})"></section>
              <p>{{ settings.title_promo8 }}</p>
            </a>
        </div>
      {% endif %}
     </div>
  </div>

	{{ 'promotional_slider-script.js' | asset_url | script_tag }}
	{{ 'promotional_slider-style.scss.css' | asset_url | stylesheet_tag }}

{% endif %}