<!--link rel="stylesheet" type="text/css" href="{{'slick.css' | asset_url }}"/-->
<script type="lazyload2" data-src="{{'slick.min.js' | asset_url }}"></script>

<script type="lazyload2">
 
  setTimeout(function(){
  
      $(".variable").slick({
        
         autoplay: true,
        autoplaySpeed: 3000,
        dots:false,
          arrows : false,
         slidesToShow: 3,
        infinite: true,
          responsive: [
    {
      breakpoint:767,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
   ]
      });
      
    },3000);
</script>
<center><h1 class='reviewtitle'><b> {{ settings.reveiew_title }} </b> </h1> </center>

<section  class="variable slider">
   
<div>
    <div class='reviewinnercol1'>
    <img data-swift-lazy="1" loading="lazy" src="{{'cartreview1.png' | asset_url }}" class='reviewimg' />
   </div>
       <div class='reviewinnercol2'>
   

         <p class='reviewtext'><q> {{ settings.cart_review_text_1 }}  </q></p>
          <b>- {{ settings.cart_review_title_1 }}  </b>
      
  </div>
  </div>
 <div>
    <div class='reviewinnercol1'>
    <img data-swift-lazy="1" loading="lazy" src="{{'cartreview2.png' | asset_url }}" class='reviewimg' />
   </div>
       <div class='reviewinnercol2'>
   

         <p class='reviewtext'><q> {{ settings.cart_review_text_2 }}  </q></p>
          <b>- {{ settings.cart_review_title_2 }} </b>
      
  </div>
  </div>

<div>
    <div class='reviewinnercol1'>
    <img data-swift-lazy="1" loading="lazy" src="{{'cartreview3.png' | asset_url }}" class='reviewimg' />
   </div>
       <div class='reviewinnercol2'>
   

         <p class='reviewtext'><q> {{ settings.cart_review_text_3 }}  </q></p>
          <b>- {{ settings.cart_review_title_3 }} </b>
      
  </div>
  </div>
  <div>
    <div class='reviewinnercol1'>
    <img data-swift-lazy="1" loading="lazy" src="{{'cartreview4.png' | asset_url }}" class='reviewimg' />
   </div>
       <div class='reviewinnercol2'>
   

         <p class='reviewtext'><q> {{ settings.cart_review_text_4 }}  </q></p>
          <b>- {{ settings.cart_review_title_4 }} </b>
      
  </div>
  </div>

</section>