{%if settings.enable_home_shipping %}
<div  class="grid-uniform shipping_text">
  <div class='grid__item large--one-quarter medium--one-third small--one-half text-center'>
    <h6> {{ settings.home_ship_text_1 }} </h6>
    <i class="fa {{ settings.home_ship_icon_1 }} {{ settings.shipping_icon_size }} homeshippingicon"></i>
  </div>
  <div class='grid__item large--one-quarter medium--one-third small--one-half text-center'>
    <h6> {{ settings.home_ship_text_2 }} </h6>
    <i class="fa {{ settings.home_ship_icon_2 }} {{ settings.shipping_icon_size }} homeshippingicon"></i>
  </div>
  <div class='grid__item large--one-quarter medium--one-third small--one-half text-center'>
    <h6> {{ settings.home_ship_text_3 }} </h6>
    <i class="fa {{ settings.home_ship_icon_3 }} {{ settings.shipping_icon_size }} homeshippingicon"></i>
  </div>
  <div class='grid__item large--one-quarter medium--one-third small--one-half text-center'>
    <h6> {{ settings.home_ship_text_4 }} </h6>
    <i class="fa {{ settings.home_ship_icon_4 }} {{ settings.shipping_icon_size }} homeshippingicon"></i>
  </div>
</div>
{%endif%}