{% if content_for_header contains 'sticky-cart-detect.js' %}
    
        <script type="lazyload2" data-src="https://sticky-cart.uplinkly-static.com/public/sticky-cart/mystic-barrels.myshopify.com/sticky-cart.js?t=1638438674.732573"></script>
    

    
{% endif %}