<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js"> <!--<![endif]-->
    <head>
      	{% render 'remove-cls' %}
      	{% if template contains 'index' %}
            {% render 'homepage-critical-css' %}
        {% elsif template contains 'collection' %}
            {% render 'collection-critical-css' %}
        {% elsif template contains 'product' %}
            {% render 'product-critical-css' %}
        {% else %}
      		{% render 'timber-scss-css' %}
      		{% render 'custom-general-css' %}
    	{% endif %}

      <meta name="google-site-verification" content="hn5t1Khq5yk7mUSUDWD4LxatHVet5QxBfAKHG2CrSsg" />
      
        <script type="lazyload2">
            var head = document.head;
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = "https://180784.tracking.hyros.com/v1/lst/universal-script?ph=6ddf29a7196ab427a59100f9b18873da552067f9d9c6628cffbb0a4a3bd6d208&tag=!tracking";
            head.appendChild(script);
        </script>
        {% include 'booster-seo' %}
        <meta name="google-site-verification" content="IlQp2HWNIIgM9nwack7qv2xpEyhAIoAwgwx8rtUNLaI">
        <meta name="google-site-verification" content="IkrxgvudTkNY60UOPf0D20L1XCa6Car9YCg1QGlTgkQ">
        <script type="lazyload2">(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/oTC1Dlr61DX8M1lAcf2xTABUhysCDNtaeSy7gXzw/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();</script>
        {% if template contains 'noindex' %}
        <meta name="robots" content="noindex">
        {% endif %}
        <!-- Basic page needs ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        {% if settings.favicon_enable %}
        <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png">
        {% endif %}

        <!-- Title and description ================================================== -->
        {% comment %}
        {% endcomment %}

        <!-- Custom Fonts -->
        {% if settings.logo_font contains 'Google' or settings.headline_font contains 'Google' or settings.nav_font contains 'Google' or settings.regular_font contains 'Google' %}
        <link data-href="//fonts.googleapis.com/css?family=.|{% if settings.logo_font contains 'Google' %}{{ settings.logo_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.headline_font contains 'Google' %}{{ settings.headline_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.nav_font contains 'Google' %}{{ settings.nav_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.regular_font contains 'Google' %}{{ settings.regular_font | replace: 'Google_', ''  }}:light,normal,bold{% endif %}" rel="stylesheet" type="text/css" />
        {% endif %}

        <link data-href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
        <link rel="stylesheet" data-href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      
{%- capture seo_page_title -%}
			{%- if request.page_type == 'search' and search.terms != blank -%}
				{{ search.terms | split: ' AND ' | last | split: 'product_type:' | last }} - {{ shop.name }}
			{%- else -%}
				{{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}
			{%- endif -%}
		{%- endcapture -%}
		<title>{{- seo_page_title -}}</title>
		{%- if page_description -%}
		<meta name="description" content="{{ page_description | escape }}">
      
		{%- endif -%}

        <!-- Microdata product page -->
        {% if template == 'product' %}
            <div itemscope itemtype="http://schema.org/Product">
              <meta itemprop="name" content="{{ product.title | escape }}" />
              <meta itemprop="sku" content="{{ product.selected_or_first_available_variant.sku }}"/>
              <meta itemprop="gtin14" content="{{ product.selected_or_first_available_variant.barcode }}"/>
              <meta itemprop="brand" content="{{ product.vendor }}"/>
              <meta itemprop="description" content="{{ product.description | strip_html | escape }}"/>
              <meta itemprop="image" content="https:{{ product.featured_image.src | img_url: 'grande' }}"/>
              <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                <meta itemprop="priceCurrency" content="{{ shop.currency }}">
                <meta itemprop="price" content="{{ product.price |money_without_currency  | remove:',' }}">
                <meta itemprop="priceValidUntil" content="{{ product.published_at }}"/>
                <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="http://schema.org/NewCondition" />
                {% if product.available == true %}<meta itemprop="availability" content="http://schema.org/InStock"/>{% else %}<meta itemprop="availability" content="http://schema.org/OutOfStock"/>{% endif %}
                <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
              </div>
              <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                <meta itemprop="ratingValue" content="5" />
                <meta itemprop="reviewCount" content="1" />
              </div>
              <div itemprop="review" itemscope itemtype="http://schema.org/Review">
                <meta itemprop="name" content="{{ settings.homepage_review_title_1 }}"/> 
                <meta itemprop="author" content="{{ settings.homepage_review_client_1 }}"/>
                <meta itemprop="datePublished" content="{{ settings.homepage_review_date_1 }}">
                <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                  <meta itemprop="worstRating" content = "1"/>
                  <meta itemprop="ratingValue" content = "5"/>
                  <meta itemprop="bestRating" content = "5" />
                </div>
                <meta itemprop="description" content="{{ settings.homepage_review_text_1 }}"/>
              </div>
            </div>
            <!-- Created by FeedArmy -->
        {% endif %}

        <!-- Helpers ================================================== -->
        {% include 'social-meta-tags' %}
        <link rel="canonical" href="{{ canonical_url }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=12, minimum-scale=1" />
        <meta name="theme-color" content="{{ settings.color_primary }}">
        <!-- CSS ================================================== -->
        <link rel="stylesheet" data-href="{{ 'timber.scss.css' | asset_url }}">
        <!-- Header hook for plugins ================================================== -->
        {%- if request.design_mode or template contains 'cart' or template contains 'checkout' -%}
            {{ content_for_header }}
        {%- else -%}
            {% capture content_for_header2 %}{{ content_for_header }}{% endcapture %}
            {{ content_for_header2 | replace: ' defer="defer" ', ' type="lazyload2" ' | replace: " src=", " data-src=" | replace: "window.addEventListener('load', asyncLoad, false);", "window.addEventListener('wnw_load', asyncLoad, false);" | replace: "DOMContentLoaded", "DOMContentLoaded2" }}
        {%- endif -%}

        {% include 'oldIE-js' %}
		{% render 'jquery-min' %}
        {% comment %} {{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' | script_tag }} {% endcomment %}
      	<script type="lazyload2" data-src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      	<script type="lazyload2" data-src="{{ 'modernizr.min.js' | asset_url }}"></script>
      	<script type="lazyload2" data-src="{{ 'fancybox.min.js' | asset_url }}"></script>

        {% comment %}
        If you store has customer accounts disabled, you can remove the following JS file
        {% endcomment %}

        {% if template contains 'customers' %}
        {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
        {% endif %}

        <link rel="stylesheet" type="text/css" data-href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/flexslider.min.css"/>
        <script type="lazyload2" data-src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/jquery.flexslider-min.js"></script>
	    {{ shop.metafields.loox["global_html_head"] }}
        {% include 'judgeme_core' %}

        {% unless template == 'videos' %} 
      		<script src="{{ 'slick.min.js' | asset_url }}"></script>
        {% endunless %}

        {% include 'gtm-container' %}    

        {% if template contains 'product' or template contains 'collection' or template contains 'index' or template contains 'search' %}
        <!-- Global site tag (gtag.js) - AdWords: 793423510 -->
        <script type="lazyload2" data-src="https://www.googletagmanager.com/gtag/js?id=AW-793423510"></script>
        <script type="lazyload2">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-793423510');
        </script>
        <script type="lazyload2">
        gtag('event', 'page_view', {
            'send_to': 'AW-793423510',
            'ecomm_pagetype': '{% if template contains 'collection' %}category{% elsif template contains 'product' %}product{% elsif template contains 'search' %}{% elsif template contains 'index' %}home{% endif %}',
            {% if template contains 'product' %}
            'ecomm_prodid': 'shopify_US_{{ product.id }}_{% if product.variants.first.id %}{{ product.variants.first.id }}',{% else %}{{ product.variants.id }}',{% endif %}
            {% endif %}
            {% if template contains 'product' %}'ecomm_totalvalue': {{ product.price_min | money_without_currency | remove:',' }}{% endif %}
        });
        </script>
        {% endif %}

		{% if template contains 'product' or template contains 'cart' %}<script src='https://volumediscount.hulkapps.com/hulkcode.js' defer='defer'></script>{% endif %}
        <!-- Zapiet | Store Pickup + Delivery -->
        {% include 'storepickup' %}
        <!-- Zapiet | Store Pickup + Delivery -->

  		<link rel="stylesheet" data-href="{{ 'custom-general.scss.css' | asset_url }}">

        {% include 'swift_core' %} 

        <meta name="facebook-domain-verification" content="a1zblw2bhudu5wqayck870dh4xkomg" />

        {% include 'swift_preload_font' with settings.type_header_family %}
        {% include 'swift_preload_font' with settings.type_base_family %}
      	{% render 'app-block' %}
      
      <style>
      .discount-code-wrapper {max-width: 350px;width: 100%;margin: 0 auto !important;}
      .js-drawer-open .discount-code-wrapper { margin: 0 auto !important;}
      .discount-code-wrapper .qb-discount-code-inputs {width: 100%;}
      .discount-code-wrapper .apply-discount-code {background: #26b522;}
      </style>
      
    </head>

    {% comment %}
    Add the page template as a class for easy page or template specific styling.
    {% endcomment %}

    <body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
        {%if template =='cart' and settings.cart_style == 'cart2'  %}
        {% include 'cart-header' %}
        {% else %}
        {% include 'header' %}
        {% endif %}
        {%if template =='index' and settings.homepage-section1 != 'none' %}
        {% include settings.homepage-section1 %}
        {% endif %}
        <main class="{% unless template.name == 'index' %} wrapper {% endunless %} main-content" role="main">
        {{ content_for_layout }}
        </main>

        <!-- begin site-footer -->
        {% include 'footer' %}
        <!-- //site-footer -->

		{{ 'timber.js' | asset_url | script_tag }}

        {% comment %}
        Template-specific js
        {% endcomment %}

        <script>
        {% if resetPassword %}
        $(function() {
            timber.resetPasswordSuccess();
        });
        {% endif %}
        </script>

    {% if settings.ajax_cart_method == "drawer" %}
      {{ 'handlebars.min.js' | asset_url | script_tag }}
      {% include 'ajax-cart-template' %}
      {{ 'ajax-cart.js' | asset_url | script_tag }}
		<script>
			setTimeout(function() {
                ajaxCart.init({
                    formSelector: '#AddToCartForm',
                    cartContainer: '#CartContainer',
                    addToCartSelector: '#AddToCart',
                    cartCountSelector: '.CartCount',
                    cartCostSelector: '#CartCost',
                    moneyFormat: {{ shop.money_format | json }}
                });
            });

          jQuery(document.body).on('afterCartLoad.ajaxCart', function(evt, cart) {
            // Bind to 'afterCartLoad.ajaxCart' to run any javascript after the cart has loaded in the DOM
            timber.RightDrawer.open();
            freeshipping();
          });

          function freeshipping(){
            var cartfreeshipping = parseInt(jQuery('.free_shipping_value').text());
            var totalCart = jQuery('.total .carto').text().replace('$', '');
            var freeMessage = "{{ settings.value_free_shipping }}"

            if( totalCart != "" ){
              totalCart = totalCart.replace('.', '');
              var remain = cartfreeshipping - parseInt(totalCart);
              if(remain == 0 ){
                jQuery('.top-bar__message').html("WE PAY SHIPPING ON ALL ORDERS <vt style='background-color:red;'>" + cartfreeshipping + "</vt>");
              }else if( remain > 0 && remain < cartfreeshipping ){
                jQuery('.top-bar__message').html("ONLY <vt class='upd-value' style='background-color:red;'>$" + remain/100 + "</vt> AWAY FROM FREE SHIPPING!");
              }else if( freeMessage == 0 ){
                jQuery('.top-bar__message').html("Mystic Barrels....Proudly Serving Customers And Businesses Throughout The Northeast Corner Of The Us");
              }else{
                jQuery('.top-bar__message').html("CONGRATULATIONS! <vt>WE'LL PAY</vt> YOUR SHIPPING");
              }
            }else if( freeMessage == 0 ){
                jQuery('.top-bar__message').html("Mystic Barrels....Proudly Serving Customers And Businesses Throughout The Northeast Corner Of The Us");
            }else{
              jQuery('.top-bar__message').html("WE PAY SHIPPING ON ALL ORDERS <vt style='background-color:red;'>$" + (cartfreeshipping/100).toFixed(2) + "</vt> ");
            }
          }
      </script>
    {% endif %}

        {% raw %}
        <script id="recently-viewed-product-template"  type="text/x-jquery-tmpl">
            <div class="grid__item large--one-quarter medium--one-quarter small--one-half product_item text-center product_item text-center product-recently-viewed" data-handle="${handle}">
            <div class="productgrid">
                <a href="${url}" class="grid__image">
                <img data-swift-lazy="1" loading="lazy" class="reveal img-recently" src="${Shopify.Products.resizeImage(featured_image,"530x")})" />
                </a>
            </div>
            <p class="h6 product-title">
                <a href="${url}">${title}</a>
            </p>
            <p class="product-price">
                <span style="color:#26b522">${Shopify.formatMoney(price)}</span>
                <br>
                <br>
                <span></span>
            </p>
        </div>
        </script>
        {% endraw %}

        <!-- Begin Recently Viewed Products -->

        <script type="lazyload2" data-src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
      	<script type="lazyload2" data-src="{{ 'jquery.products.min.js' | asset_url }}"></script>
      	<script type="lazyload2" data-src="//cdn.jsdelivr.net/npm/vanilla-lazyload@12.0.0/dist/lazyload.min.js"></script>
            
        {% if template contains 'product' %}
        <script type="lazyload2">
        Shopify.Products.recordRecentlyViewed();
        </script>
        {% endif %}
        <script type="lazyload2">
        Shopify.Products.showRecentlyViewed( { howManyToShow:5, onComplete: function(e){
            {% if template contains 'product' %}
                $('.product-recently-viewed[data-handle="{{ product.handle }}"]').remove();
            {% endif %}
        } } );
        </script>

        <!-- End Recently Viewed Products -->
        {% if settings.enable_backtotop %}
        {%include 'scrollbutton' %}
        {% endif %}

		{% if template contains "product" %}
            <script src="{{ 'vasta-scripts.js' | asset_url }}"></script>
      	{% else %}
      		<script type="lazyload2" data-src="{{ 'vasta-scripts.js' | asset_url }}"></script>
      	{% endif %}

        <script type="lazyload2"> var shopappurl="vastashop.myshopify.com";</script>
        {% include 'addon_app' %}

	    {{ shop.metafields.loox["global_html_body"] }}

        {% if customer %} <div id="shopmsg-customer-helper" data-id="{{ customer.id }}" style="display:none;"></div>{% endif %}
        {% include 'custom-scripts' %}
        {% render 'quantity-breaks-now', customer: customer, template: template, product: product, cart: cart %}
        {{ 'wnw-optimization.js' | asset_url | script_tag }}
        <script>
            var AddToCartClicked = false;
            jQuery("#AddToCart").click(function() {
              if( !jQuery("body").hasClass("wnw_loaded") ) {
                AddToCartClicked = true;
              } else {
                AddToCartClicked = false;
                return true;
              }
              event.preventDefault();
            });
        </script>
	{% include 'gts' %}</body>
</html>