<!doctype html>
  <!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
  <!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    
    {% if template contains 'noindex' %}
    <meta name="robots" content="noindex">
    {% endif %}

    <!-- Basic page needs ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    {% if settings.favicon_enable %}
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
    {% endif %}

    <!-- Title and description ================================================== -->
    <title>
      {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>
    <!-- Custom Fonts -->


    {% if settings.logo_font contains 'Google' or settings.headline_font contains 'Google' or settings.nav_font contains 'Google' or settings.regular_font contains 'Google' %}
    <link href="//fonts.googleapis.com/css?family=.|{% if settings.logo_font contains 'Google' %}{{ settings.logo_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.headline_font contains 'Google' %}{{ settings.headline_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.nav_font contains 'Google' %}{{ settings.nav_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.regular_font contains 'Google' %}{{ settings.regular_font | replace: 'Google_', ''  }}:light,normal,bold{% endif %}" rel="stylesheet" type="text/css" />
    {% endif %}

    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    <!-- Microdata product page -->
    {% if template == 'product' %}
    	
              <div itemscope itemtype="http://schema.org/Product">
                <meta itemprop="name" content="{{ product.title | escape }}" />
                <meta itemprop="sku" content="{{ product.selected_or_first_available_variant.sku }}"/>
                <meta itemprop="gtin14" content="{{ product.selected_or_first_available_variant.barcode }}"/>
                <meta itemprop="brand" content="{{ product.vendor }}"/>
                <meta itemprop="description" content="{{ product.description | strip_html | escape }}"/>
                <meta itemprop="image" content="https:{{ product.featured_image.src | img_url: 'grande' }}"/>
                  <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                    <meta itemprop="priceCurrency" content="{{ shop.currency }}">
                    <meta itemprop="price" content="{{ product.price |money_without_currency  | remove:',' }}">
                    <meta itemprop="priceValidUntil" content="{{ product.published_at }}"/>
                    <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="http://schema.org/NewCondition" />
                    {% if product.available == true %}<meta itemprop="availability" content="http://schema.org/InStock"/>{% else %}<meta itemprop="availability" content="http://schema.org/OutOfStock"/>{% endif %}
                     <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
                   </div>
                  <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                    <meta itemprop="ratingValue" content="5" />
                    <meta itemprop="reviewCount" content="1" />
                  </div>
                <div itemprop="review" itemscope itemtype="http://schema.org/Review">
                  <meta itemprop="name" content="{{ settings.homepage_review_title_1 }}"/> 
                  <meta itemprop="author" content="{{ settings.homepage_review_client_1 }}"/>
                  <meta itemprop="datePublished" content="{{ settings.homepage_review_date_1 }}">
                  <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                    <meta itemprop="worstRating" content = "1"/>
                    <meta itemprop="ratingValue" content = "5"/>
                    <meta itemprop="bestRating" content = "5" />
                  </div>
                  <meta itemprop="description" content="{{ settings.homepage_review_text_1 }}"/>
                </div>
              </div>
              <!-- Created by FeedArmy -->
      {% endif %}

    <!-- Helpers ================================================== -->
    {% include 'social-meta-tags' %}
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="{{ settings.color_primary }}">

    <!-- CSS ================================================== -->
    {{ 'timber.scss.css' | asset_url | stylesheet_tag }}

    <!-- Header hook for plugins ================================================== -->
    {{ content_for_header }}
    {% include 'oldIE-js' %}

    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' | script_tag }}

    {{ 'https://code.jquery.com/ui/1.12.1/jquery-ui.js' | script_tag }}

    {{ 'modernizr.min.js' | asset_url | script_tag }}
    {{ 'fancybox.min.js' | asset_url | script_tag }}

    {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
    {% endcomment %}
    {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {% endif %}
    
    {{ 'slick.min.js' | asset_url | script_tag }}
  

	{{ shop.metafields.loox["global_html_head"] }}
  {% include 'judgeme_core' %}
</head>

  {% comment %}
  Add the page template as a class for easy page or template specific styling.
  {% endcomment %}
  <body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
    {%if template =='cart' and settings.cart_style == 'cart2'  %}
    {% include 'cart-header' %}
    {% else %}
    {% include 'header' %}
    {% endif %}
    {%if template =='index' and settings.homepage-section1 != 'none' %}
    {% include settings.homepage-section1 %}
    {% endif %}
    <main class="wrapper main-content" role="main">
      {{ content_for_layout }}
    </main>

    <!-- begin site-footer -->

    {%include 'footer' %}

    <!-- //site-footer -->

    {{ 'timber.js' | asset_url | script_tag }}

    {% comment %}
    Template-specific js
    {% endcomment %}

    <script>
      {% if resetPassword %}
      $(function() {
        timber.resetPasswordSuccess();
      });
      {% endif %}
    </script>

    {% comment %}
    Ajaxify your cart with this plugin.
    Documentation:
    - http://shopify.com/timber#ajax-cart
    {% endcomment %}

    {% if settings.ajax_cart_method == "drawer" %}
      {{ 'handlebars.min.js' | asset_url | script_tag }}
      {% include 'ajax-cart-template' %}
      {{ 'ajax-cart.js' | asset_url | script_tag }}
      <script>
        jQuery(function($) {
          ajaxCart.init({
            formSelector: '#AddToCartForm',
            cartContainer: '#CartContainer',
            addToCartSelector: '#AddToCart',
            cartCountSelector: '.CartCount',
            cartCostSelector: '#CartCost',
            moneyFormat: {{ shop.money_format | json }}
          });
          });

          jQuery(document.body).on('afterCartLoad.ajaxCart', function(evt, cart) {
            // Bind to 'afterCartLoad.ajaxCart' to run any javascript after the cart has loaded in the DOM
            timber.RightDrawer.open();
            freeshipping();
          });

          function freeshipping(){
            var cartfreeshipping = parseInt(jQuery('.free_shipping_value').text());
            var totalCart = jQuery('.total .carto').text().replace('$', '');
            var freeMessage = "{{ settings.value_free_shipping }}"

            if( totalCart != "" ){
              totalCart = totalCart.replace('.', '');
              var remain = cartfreeshipping - parseInt(totalCart);
              if(remain == 0 ){
                jQuery('.top-bar__message').html("WE PAY SHIPPING ON ALL ORDERS <vt style='background-color:red;'>" + cartfreeshipping + "</vt>");
              }else if( remain > 0 && remain < cartfreeshipping ){
                jQuery('.top-bar__message').html("ONLY <vt class='upd-value' style='background-color:red;'>$" + remain/100 + "</vt> AWAY FROM FREE SHIPPING!");
              }else if( freeMessage == 0 ){
                jQuery('.top-bar__message').html("Mystic Barrels....Proudly Serving Customers And Businesses Throughout The Northeast Corner Of The Us");
              }else{
                jQuery('.top-bar__message').html("CONGRATULATIONS! <vt>WE'LL PAY</vt> YOUR SHIPPING");
              }
            }else if( freeMessage == 0 ){
                jQuery('.top-bar__message').html("Mystic Barrels....Proudly Serving Customers And Businesses Throughout The Northeast Corner Of The Us");
            }else{
              jQuery('.top-bar__message').html("WE PAY SHIPPING ON ALL ORDERS <vt style='background-color:red;'>$" + (cartfreeshipping/100).toFixed(2) + "</vt> ");
            }
          }

      </script>
    {% endif %}



{% raw %}
<script id="recently-viewed-product-template"  type="text/x-jquery-tmpl">
    <div class="grid__item large--one-quarter medium--one-quarter small--one-half product_item text-center product_item text-center product-recently-viewed" data-handle="${handle}">
      <div class="productgrid">
        <a href="${url}" class="grid__image">
          <img data-swift-lazy="1" loading="lazy" class="reveal img-recently" src="${Shopify.Products.resizeImage(featured_image,"530x")})" />
          </a>
      </div>
      <p class="h6 product-title">
          <a href="${url}">${title}</a>
      </p>
      <p class="product-price">
          <span style="color:#26b522">${Shopify.formatMoney(price)}</span>
          <br>
        <br>
        <span></span>
      </p>
   </div>
</script>
{% endraw %}



<!-- Begin Recently Viewed Products -->

{{ '//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' | script_tag }}
{{ 'jquery.products.min.js' | asset_url | script_tag }}

{% if template contains 'product' %}
<script>
Shopify.Products.recordRecentlyViewed();
</script>
{% endif %}


<script>
  Shopify.Products.showRecentlyViewed( { howManyToShow:5, onComplete: function(e){
  	{% if template contains 'product' %}
      	$('.product-recently-viewed[data-handle="{{ product.handle }}"]').remove();
      {% endif %}
  } } );
</script>

<!-- End Recently Viewed Products -->

    {% if settings.enable_backtotop %}
      {%include 'scrollbutton' %}
    {% endif %}

    {{ 'vasta-scripts.js' | asset_url | script_tag }}

    {% comment %} {% include 'subscription-theme-footer' %} {% endcomment %}
    {% comment %}This is for Volume Discount App by hulkapps {% endcomment %}
  <script> var shopappurl="vastashop.myshopify.com";</script> {%include 'addon_app' %}{% include 'hulkcode_common' %}
	{{ shop.metafields.loox["global_html_body"] }}
</body>
</html>
