
    {% for block in section.blocks %}
		{%- assign collection = collections[block.settings.feature_collection] -%}
        {% assign _collection = collections['new-products'] %}
       
        <div class="section-header">
          <p class="h1 section-header__left">{{ collection.title }}</p>
          <div class="section-header__right">
            <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection.title }}">More {{ collection.title }} &rsaquo;</a>
          </div>
        </div>
         <div class="grid-uniform">
          {% for product in collections[block.settings.feature_collection].products limit:5 %}
       		{% assign grid_item_width = 'large--one-fifth medium--one-half' %}   
          	{% include 'product-grid-item' %}
          {% endfor %} 
      </div>
<hr/>
    {% endfor %}



{% schema %}
  {
    "name": "Collection Management",
    "class": "index-section",
    "settings": [
      
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "collectiion Management",
        "settings": [
        {
       "type": "collection",
       "id": "feature_collection",
       "label": "Feature collection"
   		 }
		    
        ]
      }
    ]
  }
{% endschema %}