
{% if section.blocks.size > 0 and section.settings.enable_section  %}
{% assign title_handle = collection.title | handle %}
{% unless  title_handle  contains 'used-barrels' or title_handle  contains 'specialty-barrels' %}

    <section class="section section--mb-s section--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="home-image-grid">

	{% for block in section.blocks %}
      	{% if block.type =='text' %}
          <div class="box" style="background-color:{{ block.settings.bg_color }}">
            <h3 class="title">{% if block.settings.title != blank %}{{ block.settings.title }}{% endif %}</h3>
            <span class="separator"></span>
            <p class="content" >{% if block.settings.text != blank %}{{ block.settings.text }}{% endif %}</p>

          </div>
        {% endif %}
	{% endfor %}

    </section>
{% endunless %}
{% endif %}



{% schema %}
{
    "name": "Grid Text",
    "class": "js-section__home-image-grid",
    "max_blocks": 5,
    "settings": [
        {
            "type": "checkbox",
            "id": "enable_section",
            "label": "Enable Section",
            "default": true
        }
    ],
    "blocks": [

        {
            "type": "text",
            "name": "Text block",
            "settings": [
                {
                    "type": "color",
                    "id": "bg_color",
                    "label": "Background color",
                    "default": "#f5f5f5"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Text block heading"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text",
                    "default": "<p>Use these text blocks to promote seasonal sales, store events or to tell your brand's story.</p>"
                }
            ]
        }
    ]
}
{% endschema %}