 <section class="hero-img-section">
       <div class="huff-6 hero-details" style="background-color: {{section.settings.bg_color}};">
         <div class="hero-info">
           <h2 style="color: {{section.settings.title-color}};">{{section.settings.hero_title}}</h2>
           <p class="sub-title" style="color: {{section.settings.title-color}};">{{section.settings.hero_text}}</p>
           <div class="banner-tick-mark">
             <p class="hero-banner-small-title">For your Home, Business, Event, or DIY Project</p>
             {% comment %}
             <p><img src="{{ 'right-tick.png' | asset_url }}">Add that modern-rustic vibe to your décor!</p>
             <p><img src="{{ 'right-tick.png' | asset_url }}">We inspect each barrel to ensure high quality!</p>
             <p><img src="{{ 'right-tick.png' | asset_url }}">Perfect for DIY-ers!</p>
             {% endcomment %}
           </div>
           <a href="{{section.settings.Button_url}}" class="hero-btn">{{section.settings.button_text}}</a>
         </div>
       </div>
       <div class="huff-6">
            <img class="top-three-desk-show" srcset="{{ section.settings.lavender_image | img_url: '900x' }} 1536w,{{ section.settings.lavender_image | img_url: '720x' }} 1280w,{{ section.settings.lavender_image | img_url: '540x' }} 768w,{{ section.settings.lavender_image | img_url: '360x'}} 320w" alt="">
       </div>
    </section>
{% schema %}
  {
    "name": "Hero Banner",
    "settings": 
    [ 
        {
            "type": "richtext",
            "id": "hero_title",
            "label": "Hero Titile"
        },
 		{
            "type": "color",
            "id": "title-color",
            "label": "hero-title color",
            "default": "#fff"
        },
        {
            "type": "text",
            "id": "hero_text",
            "label": "Hero Text"
        },
        {
          "id": "Button_url",
          "type": "url",
          "label": "link"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button Text"
        },
        {
            "type": "color",
            "id": "bg_color",
            "label": "Background color",
            "default": "#C7B299"
        },
        {
          "type": "image_picker",
          "id": "lavender_image",
          "label": "Hero img"
        }
    ],

    "presets": [
    {
      "name": "Hero Banner",
      "category": "Text"
    }
  ]
  }
{% endschema %}


<style>
  .hero-img-section{
    display: grid;
    grid-template-columns: repeat(2, 47% 53%);
  }
  .hero-details{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px 0 35px;
  }
  .hero-info p, .hero-info h2{
    /*     text-align: center; */
    text-transform: capitalize;
  }
  .hero-info h2{
    font-size: 1.5rem;
  }  
  .hero-info .sub-title{
    font-size: 2rem;
  }
  .hero-info a{
    background-color: #26b522;
    color: #fff;
    max-width: 284px;
/*     margin: 0 auto; */
    display: block;
    text-align: center;
    border: 3px solid #fff;
    font-size: 22px;
    cursor: pointer;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: 0;
  }
  .hero-info a:hover{
    background-color: #000;
    color: #fff;
    border-color: #fff;
    transform: perspective(1px) translateZ(0);
    transition-property: color;
    transition-duration: .3s;
  }
  .top-three-desk-show{
    vertical-align: top;
  }
  
/*   for banner tick mark */
  
  .banner-tick-mark p {
    display: flex;
    align-items: center;
    text-transform: none;
/*     margin-left: 10px; */
/*     max-width: 85%; */
    font-weight: 700;
  }
  
  .banner-tick-mark p img {
    width: 40px;
  }
  .hero-banner-small-title {
    font-style: italic;
    font-size: 1.1rem;
  }
  @media screen and (max-width: 1199px){
    .hero-info{
      max-width: 515px;
    }
    .hero-info h2{
      line-height: 40px;
      font-size: 32px;
    }
    .hero-info .sub-title{
      font-size: 1.7rem;
      line-height: 35px;

    }
  }
  @media screen and (max-width: 1050px){
    .hero-info .sub-title {
      font-size: 1.7rem;
      margin: 28px 0 30px 0;
    }
    
  }
  @media screen and (max-width: 991px){
    .hero-info a{
      line-height: 1;
    }
    .hero-details {
      padding: 3px 15px;
    }
    .hero-info h2 {
      line-height: 25px;
      font-size: 18px;
    }
    .hero-info .sub-title {
      margin: 2px 0;
      font-size: 1.2rem;
    }
    .banner-tick-mark p {
      margin-bottom: 8px;
    }
    .hero-info a {
      font-size: 15px;
      padding: 8px;
      margin: 0 auto;
    }
    .hero-banner-small-title {
      font-size: 1rem;
    }
  }
  @media screen and (max-width: 767px){
    .hero-info a{
      max-width: 224px;
      padding: 14px 5px;
    }
    .hero-img-section{
      grid-template-columns: repeat(1, 1fr);
    }
    .hero-img-section{
      width: 100%;
    }
    .hero-details{
      padding: 20px 15px;
    }
    .hero-info p, .hero-info h2{
      margin-bottom: 0;
      line-height: 30px;
    }
    .hero-info .sub-title{
      margin-bottom: 15px;
    }
    .banner-tick-mark p {
      max-width: 100%;
      margin-bottom: 15px;
    }
    
  }
  @media screen and (max-width: 575px){
    .hero-details{
      padding: 40px 20px;
    }
    .hero-info a{
      max-width: 224px;
      border: 2px solid #fff;
    }
    .hero-info h2{
      line-height: 37px;
    }
    .hero-info .sub-title{
      font-size: 1.3rem;
    }
    .hero-banner-small-title {
      font-size: 1rem;
    }
  }
  @media screen and (max-width: 320px){
    .hero-info .sub-title{
      font-size: 1.1rem;
    }
    .hero-banner-small-title {
      font-size: 0.9rem;
    }
  }
</style>