
<section id="section-best-sellers-video">
  <div class='section-sellers-row-video'>
    <div class="section-col-video section-col-video-2" >  
      <div class='container-home-video'>
        {%comment%}
<!--         hide thumbnail -->
        <img id="home-video-thumbnail" src="{{ 'barrel-thumbnail.png' | asset_url }}" />
        {%endcomment%}
        <iframe id="video1" class='responsive-iframe' src='{{ 'iframe-thumbnail.jpg' | asset_url }}' data-src='{{ section.settings.video }}&enablejsapi=1' frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="section-col-video section-col-video-1" >   

      <h2 class="news_letter_title">
        {{ section.settings.description }}
      </h2>
    </div>
  </div>
</section>  

<script type="lazyload2">

  if($(window).width() <= 767) {
    $("#video1").attr('src',$("#video1").attr('src') + '&mute=1');
  }

  var tag = document.createElement('script');
  tag.id = 'iframe-demo';
  tag.src = 'https://www.youtube.com/iframe_api';
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  //var player;
  function onYouTubeIframeAPIReady() {
    window.Yplayer = new YT.Player('video1', {});
  }
  
  setTimeout(function(){
    
    $(document).on('click','#home-video-thumbnail',function(ev){
      if(!window.Yplayer) return
      setTimeout(function(){ 
        $("img#home-video-thumbnail").css("z-index", "0");
        $("img#home-video-thumbnail").css("opacity", "0");
      }, 1);
      $("#video1").trigger("click");
      window.Yplayer.playVideo()
      ev.preventDefault();

    });
  });
  
</script>

{% schema %}
{
"name": "Video Section",
"settings": [


{
"type": "text",
"id": "video",
"label": "Video Url"
}
,

{
  "type": "richtext",
  "id": "description",
  "label": "Paragraph"
}

],

"presets": [
{
"name": "Home Video",
"category": "Video"
}
]
}
{% endschema %}

<style>
  section#section-best-sellers-video {
    margin: 15px 0;
  }
  .section-col-video.section-col-video-1 {
    justify-content: flex-start;
  }
  h3.news_letter_title {
    max-width: 640px;
  }
  img#home-video-thumbnail {
    position: absolute;
    z-index: 1;
    min-height: 300px !important;
    cursor: pointer;
    max-width: 545px !important;
    height: -webkit-fill-available;
  }
  .section-sellers-row-video {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #e3deda;
  }
  .section-col-video {
    justify-content: flex-end;
    text-align: left;
    align-items: center;
    display: flex;
    flex:1;
    padding: 1%;
  }

  .container-home-video {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 545px !important;

/*     padding-top: 56.25%; */
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }

  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
/*     position: absolute;
    top: 0; */
    left: 0;
    bottom: 0;
    right: 0;
    border:0px;
    width: 100%;
    min-height: 300px !important;
  }

  h3.news_letter_title {
    text-transform: none;
    font-weight: bold;
    padding: 0 2%;
  }
  @media screen and (max-width: 767px) {
    section#section-best-sellers-video {
      margin-top: 10px;
    }
    .section-sellers-row-video {
      flex-direction: column-reverse;
    }
    .responsive-iframe {
      min-height: 220px !important;
    }
    img#home-video-thumbnail {
      min-height: 220px !important;
      width: 100%;
      max-height: 226px !important;
    }
  }
</style>