{% assign icon_num = section.settings.uvp_icon_number %}
{% if section.settings.enable_uvp_icon %}
<div class="wrappers">
  
<!--   <p class="vp-title">
    Our barrels end up in so many unique places and used for so many unique things!
  </p>
  <p class="vp-sub-title">
    What will you do with your barrel?
  </p> -->
  <div class="uvp-icons">
      {%for i in (1..icon_num) %}
      {%assign uvp_img = "uvp_img_" | append:i %}
      {%assign uvp_text = "uvp_text_" | append:i %}

      <div class="uvp-icon-image">
        <a href="/collections/all-products">
        <img class="vp-img-border lazy2 lazy3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ section.settings[uvp_img] | img_url: '200x200' }}">
        </a>
        <p>{{ section.settings[uvp_text] }}</p>
      </div>
      {% endfor %}
  </div>
</div>
{% endif %}

<style>

  .uvp-icons {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .uvp-icons .uvp-icon-image {
    flex: 0 0 24%;
/*     padding: 0 1%; */
  }
  .uvp-icon-image p {
    text-align: center;
    text-align: -webkit-center;
    margin: 0;
  }
  .vp-sub-title {
    text-align: center;
    font-size: 1.2rem;
  }
  .vp-title {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 10px;
    font-weight: 700;
    margin-bottom: 0;
  }
  img.vp-img-border {
    border: 4px solid black;
    width: 100%;
  }
  @media screen and (max-width: 767px) {
    .uvp-icons .uvp-icon-image {
      flex: 0 0 50%;
      padding: 10px; 
    }
    .vp-title {
      font-size: 1rem;
      margin-top: 0px;
    }
    .vp-sub-title {
      font-size: 1rem;
    }
/*     .uvp-icons {
      padding: 20px 0px;
    } */
  }
</style>


{% schema %}
 {
"name": "VP-Feature",

"settings":[
{
"type": "checkbox",
"id": "enable_uvp_icon",
"label": "Show UVP-ICONS",
"info": "Check for Enable and Uncheck for Disable",
"default": true
},
{
   "type": "select",
   "id": "uvp_icon_number",
   "options": [
      { "value": "3", "label": "3"},
      { "value": "4", "label": "4"}
   ],
   "label": "Howmany icons you want?"
},
{
"type": "image_picker",
"id": "uvp_img_1",
"label": "UVP ICON 1"
},
{
   "type": "text",
   "id": "uvp_text_1",
   "label": "Sub Text 1"
},
{
"type": "image_picker",
"id": "uvp_img_2",
"label": "UVP ICON 2"
},
{
   "type": "text",
   "id": "uvp_text_2",
   "label": "Sub Text 2"
},
{
"type": "image_picker",
"id": "uvp_img_3",
"label": "UVP ICON 3"
},
{
   "type": "text",
   "id": "uvp_text_3",
   "label": "Sub Text 3"
},
{
"type": "image_picker",
"id": "uvp_img_4",
"label": "UVP ICON 4"
},
{
   "type": "text",
   "id": "uvp_text_4",
   "label": "Sub Text 4"
}



]

}
{% endschema %}
