{% assign row_num = section.settings.faq_row_number %}



<section class="faq-section">
  <div class="container wrapper">
    <div class="headding">
      <h2>SHIPPING FAQ</h2>
      <p>Have some questions? Why not take a look at some of the most frequently asked questions below to see if we have your answer.</p>
    </div>
    <div class="faq-box">

      {%for i in (1..row_num) %}
      {%assign faq_question = "faq_question_" | append:i %}
      {%assign faq_answer = "faq_answer_" | append:i %}

      <div class="accordion-box">
        <a class="toggle" href="javascript:;"><span><img class="search-icon-faq lazy2 lazy3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ 'search-icon.png' | asset_url }}"></span>{{ section.settings[faq_question] }}</a>
        <div class="faq-detail">
          {{ section.settings[faq_answer] }}
        </div>
      </div>

      {% endfor %}


    </div>
  </div>
</section>


<div id="myModal-chart-delivery" class="modal-chart">
  <!-- Modal content -->
  <div class="modal-content-chart-delivery">
    <div class="modal-body-chart">
      <img data-swift-lazy="1" loading="lazy" class="popup-img lazy2 lazy3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ 'MAP.png' | asset_img_url: 'original' }}" />
    </div>
<!--     <div class="modal-footer-chart"><span class="close-chart-image">OK</span> </div>-->
          <a href="#close-modal" rel="modal:close" class="close-chart-image close-modal">Close</a>

  </div>
</div>

<!--   faq script start from here don't close when user click on another tab -->

<script type="text/javascript">
  $(document).ready(function(){
    $('.toggle').click(function(e) {
      e.preventDefault();
      if( $(this).hasClass("active") ){
        $(this).removeClass('active');
        $(this).next('.faq-detail').slideUp(300, function() {
          $(this).next('.faq-detail').css('display', 'none');
        });
      }
      else {
        //         $('.toggle').removeClass('active');
        //         $('.faq-detail').removeClass('active');
        //         $('.faq-detail').css('display', 'none');
        $(this).toggleClass('active');
        $(this).next('.faq-detail').slideDown().css('display','block');

      }

    });
  });
  
  
  
  
  $(document).ready(function(){
    if($(window).width() > 768) {
      //   for popup image
      $(document).on("click","a[href='#myModal-chart-delivery']", function (e) {
        $("div#myModal-chart-delivery").css('display', 'flex');
        $("body").addClass("show-overlay");
      });
      $(".close-chart-image, .show-overlay").click(function () {
        $("div#myModal-chart-delivery").hide();
        $("body").removeClass("show-overlay");
      });


      var modalFaq = document.getElementById("myModal-chart-delivery");


      window.onclick = function (event) {
        if (event.target == modalFaq) {
          modalFaq.style.display = "none";
          $("body").removeClass("show-overlay");
        }
      }
    } else {
      $(document).on("click","a[href='#myModal-chart-delivery']", function (e) {
        $([document.documentElement, document.body]).animate({
          scrollTop: $("#scroll-for-faq").offset().top - 10
        }, 300);
      });
    }
  });

</script>
<!--   faq script over from here -->  




{% schema %}
{
"name": "FAQ SECTION",

"settings":[

{
"type": "select",
"id": "faq_row_number",
"options": [
{ "value": "0", "label": "0"},
{ "value": "1", "label": "1"},
{ "value": "2", "label": "2"},
{ "value": "3", "label": "3"},
{ "value": "4", "label": "4"},
{ "value": "5", "label": "5"},
{ "value": "6", "label": "6"},
{ "value": "7", "label": "7"},
{ "value": "8", "label": "8"},
{ "value": "9", "label": "9"},
{ "value": "10", "label": "10"}
],
"label": "Howmany rows you want?"
},
{
"type": "html",
"id": "faq_question_1",
"label": "Question 1"
},
{
"type": "html",
"id": "faq_answer_1",
"label": "Answer of question 1",
"default": "<p>Please enter the answer</p>"
},
{
"type": "text",
"id": "faq_question_2",
"label": "Question 2"
},
{
"type": "html",
"id": "faq_answer_2",
"label": "Answer of question 2",
"default": "<p>Please enter the answer</p>"
},
{
"type": "text",
"id": "faq_question_3",
"label": "Question 3"
},
{
"type": "html",
"id": "faq_answer_3",
"label": "Answer of question 3",
"default": "<p>Please enter the answer</p>"
},
{
"type": "text",
"id": "faq_question_4",
"label": "Question 4"
},
{
"type": "richtext",
"id": "faq_answer_4",
"label": "Answer of question 4",
"default": "<p>Please enter the answer</p>"
},
{
"type": "text",
"id": "faq_question_5",
"label": "Question 5"
},
{
"type": "html",
"id": "faq_answer_5",
"label": "Answer of question 5"
},
{
"type": "text",
"id": "faq_question_6",
"label": "Question 6"
},
{
"type": "html",
"id": "faq_answer_6",
"label": "Answer of question 6",
"default": "<p>Please enter the answer</p>"
},
{
"type": "text",
"id": "faq_question_7",
"label": "Question 7"
},
{
"type": "richtext",
"id": "faq_answer_7",
"label": "Answer of question 7",
"default": "<p>Please enter the answer</p>"
},
{
"type": "text",
"id": "faq_question_8",
"label": "Question 8"
},
{
"type": "richtext",
"id": "faq_answer_8",
"label": "Answer of question 8",
"default": "<p>Please enter the answer</p>"
},
{
"type": "text",
"id": "faq_question_9",
"label": "Question 9"
},
{
"type": "richtext",
"id": "faq_answer_9",
"label": "Answer of question 9",
"default": "<p>Please enter the answer</p>"
},
{
"type": "text",
"id": "faq_question_10",
"label": "Question 10"
},
{
"type": "richtext",
"id": "faq_answer_10",
"label": "Answer of question 10",
"default": "<p>Please enter the answer</p>"
}


]

}
{% endschema %}

<style>


  /*========================================
  Home page FAQ css start from here
  ========================================*/

  .faq-section {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    float: left;
    background-color: #f3f3f3;
    padding: 65px 0;
  }
  /*   .faq-section .container {
  max-width: 1430px;
  } */
  .front-page section {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    position: relative;
  }
  .faq-section .container .headding {
    display: table;
    width: 100%;
    max-width: 860px;
    margin: 0 auto;
  }
  .faq-section .container .headding h2 {
    color: #353535;
    font-size: 1.7em;
    font-weight: bold;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    text-align: center;
  }
  .faq-section .container .headding p {
    color: #353535;
    font-size: 19px;
    line-height: 30px;
    font-family: "Lato",sans-serif;
    font-weight: normal;
    margin: 10px 0 40px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    text-align: center;
  }
  .faq-section .container .faq-box .accordion-box {
    padding: 0 0 20px 30px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    float: left;
  }
  .faq-section .container .faq-box .accordion-box a.toggle {
    background: #fff;
    color: #4f4f4f;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    float: left;
    position: relative;
    font-size: 15px;
    font-family: "Lato",sans-serif;
    font-weight: normal;
    line-height: 20px;
    padding: 10px 70px 10px 50px;
    border-radius: 50px;
    text-decoration: none;
    cursor: pointer;
  }
  .faq-section .container .faq-box .accordion-box a.toggle span {
    display: inline-block;
    width: 41px;
    height: 40px;
    text-align: center;
    color: #000;
    border-radius: 50%;
    top: 76%;
    left: 15px;
    background: #e7e7e7;
    position: absolute;
    z-index: 1;
    line-height: 60px;
    margin: -30px 0 0 -30px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .accordion-box a.toggle span img.search-icon-faq {
    width: 40%;
    display: flex;
    position: absolute;
    top: 28%;
    left: 28%;
  }
  .faq-section .container .faq-box .accordion-box a.toggle:after {
    position: absolute;
    right: 0;
    top: 0px;
    bottom: 0;
    content: "+";
    display: flex;
    background: #000;
    color: #fff;
    font-size: 25px;
    width: 28px;
    height: 28px;
    text-align: center;
    border-radius: 50px;
    margin: auto 10px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px;
  }
  .faq-section .container .faq-box .accordion-box .faq-detail {
    /* border: 1px solid #3079ba; */
    padding: 25px;
    display: none;
    width: 94%;
    float: left;
    margin: 0 0 0 4%;
    border-radius: 0 0 10px 10px;
    background: #fff;
  }
  .faq-section .container .faq-box .accordion-box .faq-detail p,
  .faq-section .container .faq-box .accordion-box .faq-detail ul li,
  .faq-section .container .faq-box .accordion-box .faq-detail div{
    margin: 0;
    color: #656565;
    font-size: 15px;
    font-family: "Lato",sans-serif;
    font-weight: normal;
  }
  .faq-section .container .faq-box .accordion-box .faq-detail p a {
    color: #007bff;
    text-decoration: underline;
  }
  .faq-section .container .faq-box .accordion-box a.toggle.active:after {
    content: "-";
    background: #fff;
    color: #000;
  }
  .faq-section .container .faq-box .accordion-box a.toggle.active span {
    background: #fff;
    color: #000;
  }
  .faq-section .container .faq-box .accordion-box a.toggle.active {
    color: #fff;
    background: #000;
  }
  span.chart-division-content strong {
    color: #007bff;
    text-decoration: underline;
  }
  @media screen and (max-width: 767px) {
    .faq-section {
      padding: 20px 0;
    }

    .faq-section .container .headding h2 {
      font-size: 62px;
      line-height: normal;
    }
    .faq-section .container .headding p {
      font-size: 18px;
      line-height: 30px;
    }
    .faq-section .container .faq-box .accordion-box a.toggle {
      font-size: 15px;
      padding: 10px 60px 10px 47px;
      line-height: 20px;
    }
    .faq-section .container .faq-box .accordion-box a.toggle span {
      width: 40px;
      height: 40px;
      line-height: 40px;
      left: 30px;
      top: 30px;
    }
    .faq-section .container .faq-box .accordion-box a.toggle:after {
      width: 30px;
      height: 30px;
      line-height: 29px;
    }
    .front-page section.hero-section .collection-image li a h4.shop-now, .faq-section .container .faq-box .accordion-box .faq-detail p {
      font-size: 15px;
    }

  }
  @media screen and (max-width: 640px) {
    .faq-section .container .faq-box .accordion-box {
      padding-left: 0;
    }
  }
  @media screen and (max-width: 480px) {
    .faq-section .container .headding h2 {
      font-size: 2em;
    }
  }
  
  
/*  =====================================================
  for modal
===================================================== */
   .modal-content-chart-delivery {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 47%;
  }
  @media screen and (max-width: 1024px) {
    .modal-content-chart-delivery {
      width: 90%;
    }
  }
</style>