{% assign image_num = section.settings.feature_image_number %}
{% if section.settings.enable_feature_image %}
<div class="wrapper">

  <div class="feature-images">
    <div class="first-half">
      <p class="feature-title">
        {{ section.settings.feature_heading }}
      </p>
      <p>{{ section.settings.feature_subtitle }}<p>
<!--       <p>
        There are 4 main products:
      </p>
      <ul style="list-style: none;">
        <li>- Refurbished Barrels</li>
        <li>- Refurbished, Vertically-Cut Half-Barrels</li>
        <li>- Pub Tables</li>
        <li>- Half-Barrel Tables</li>
      </ul> -->
      <a href="/collections/all-products" class="barrel-furniture">SHOP NOW</a>
    </div>
    <div class="feature-single-image second-half">

      {%for i in (1..image_num) %}
      {%assign feature_img = "feature_img_" | append:i %}
      {%assign image_link = "image_link_" | append:i %}
      <img class="feature-img-border" src="{{ section.settings[feature_img] | img_url: '500x500' }}">

      {% comment %}
      <a href="{{ section.settings[image_link] }}">
        <img class="feature-img-border" src="{{ section.settings[feature_img] | img_url: '500x500' }}">
      </a>
      {% endcomment %}
      {% endfor %}
    </div>

  </div>
</div>
{% endif %}

<style>

  .barrel-furniture, .barrel-furniture:hover {
    background-color: #26b522;
    color: #fff; 
    max-width: 220px;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    text-align: center;
    border: 3px solid #fff;
    font-size: 22px;
    cursor: pointer;
    padding: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: 0;
  }
  .feature-images {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .feature-images .feature-single-image {
    flex: 0 0 40%;

  }
  .feature-images .first-half{
    flex: 0 0 48%;
    align-self: center;
    text-align: center;
    /*     padding: 0 1%; */
  }
  .feature-images .feature-single-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
  .feature-single-image p {
    text-align: center;
    text-align: -webkit-center;
    margin: 0;
  }
  .feature-title {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10px;
    font-weight: 700;
    text-transform: uppercase;
  }
  img.feature-img-border {
    /*     border: 4px solid black; */
    width: 100%;
/*     height: 100%; */
  }
  @media screen and (max-width: 767px) {
    .feature-images .feature-single-image,
    .feature-images .first-half {
      flex: 0 0 100%;
      padding: 10px; 
    }
    .feature-title {
      font-size: 1.5rem;
      margin-top: 0px;
    }
    /*     .uvp-icons {
    padding: 20px 0px;
  } */
    .barrel-furniture, .barrel-furniture:hover { 
      margin: 0 auto;
    }
    img.feature-img-border {
    /*     border: 4px solid black; */
    width: 100%;
    height: auto;
  }
  }
</style>


{% schema %}
{
"name": "Featured Collection",

"settings":[
{
"type": "checkbox",
"id": "enable_feature_image",
"label": "Show Feature Collection",
"info": "Check for Enable and Uncheck for Disable",
"default": true
},
{
"type": "text",
"id": "feature_heading",
"label": "Feature Collection Heading"
},
{
"type": "richtext",
"id": "feature_subtitle",
"label": "Feature Collection Sub Text"
},
{
"type": "select",
"id": "feature_image_number",
"options": [
{ "value": "2", "label": "2"},
{ "value": "3", "label": "3"},
{ "value": "4", "label": "4"}
],
"label": "Howmany Feature Images you want?"
},
{
"type": "image_picker",
"id": "feature_img_1",
"label": "Feature Image 1"
},
{
"type": "url",
"id": "image_link_1",
"label": "Image link"
},
{
"type": "image_picker",
"id": "feature_img_2",
"label": "Feature Image 2"
},
{
"type": "url",
"id": "image_link_2",
"label": "Image link"
},
{
"type": "image_picker",
"id": "feature_img_3",
"label": "Feature Image 3"
},
{
"type": "url",
"id": "image_link_3",
"label": "Image link"
},
{
"type": "image_picker",
"id": "feature_img_4",
"label": "Feature Image 4"
},
{
"type": "url",
"id": "image_link_4",
"label": "Image link"
}


]

}
{% endschema %}
