
<div class="wrappers" >

  <header class="section-header aos-init aos-animate">
    <h2 class=" section-header__title appear-delay text-center space-header">
      {{ section.settings.review_heading }}
    </h2>
    <hr class="hr--small">
  </header>

  <div class="reviews-list text-center">

    <div class="reviews-wrap">


      {%for i in (1..4) %}
      {%assign review_img = "review_img_" | append:i %}
      {%assign review_des = "review_des_" | append:i %}
      {%assign reviewer_name = "reviewer_name_" | append:i %}
      {%assign reviewer_designation = "reviewer_designation_" | append:i %}



      <div class="reviews-box">
        <div class="content">

          <p>{{section.settings[review_des]}}</p>
          <div class="loox-rating rating" data-id="" data-rating="5.0" data-rating-upgraded="1">
            <img class="custome-star-size lazy2 lazy3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ 'star-yellow.png' | asset_url }}"/>
            <img class="custome-star-size lazy2 lazy3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ 'star-yellow.png' | asset_url }}"/>
            <img class="custome-star-size lazy2 lazy3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ 'star-yellow.png' | asset_url }}"/>
            <img class="custome-star-size lazy2 lazy3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ 'star-yellow.png' | asset_url }}"/>
            <img class="custome-star-size lazy2 lazy3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ 'star-yellow.png' | asset_url }}"/>
          </div>
          
          <h3>{{section.settings[reviewer_name]}}</h3>
          <span>{{section.settings[reviewer_designation]}}</span>

        </div>
        <div class="img">
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" class="lazy2 lazy3" data-src="{{ section.settings[review_img] | img_url: 'master'  }}">
        </div>
      </div>

      {% endfor %}



    </div>
  </div>
</div>


{% schema %}
{
"name": "Real Customer Reviews",
"settings": [
{
"type": "text",
"id": "review_heading",
"label": "Review Heading"
},
{
"type": "image_picker",
"id": "review_img_1",
"label": "Review Image 1"
},
{
"type": "text",
"id": "review_des_1",
"label": "Review Description 1"
},
{
"type": "text",
"id": "reviewer_name_1",
"label": "Reviewer Name 1"
},
{
"type": "text",
"id": "reviewer_designation_1",
"label": "Reviewer Designation 1"
},

{
"type": "image_picker",
"id": "review_img_2",
"label": "Review Image 2"
},
{
"type": "text",
"id": "review_des_2",
"label": "Review Description 2"
},
{
"type": "text",
"id": "reviewer_name_2",
"label": "Reviewer Name 2"
},
{
"type": "text",
"id": "reviewer_designation_2",
"label": "Reviewer Designation 2"
},

{
"type": "image_picker",
"id": "review_img_3",
"label": "Review Image 3"
},
{
"type": "text",
"id": "review_des_3",
"label": "Review Description 3"
},
{
"type": "text",
"id": "reviewer_name_3",
"label": "Reviewer Name 3"
},
{
"type": "text",
"id": "reviewer_designation_3",
"label": "Reviewer Designation 3"
},

{
"type": "image_picker",
"id": "review_img_4",
"label": "Review Image 4"
},
{
"type": "text",
"id": "review_des_4",
"label": "Review Description 4"
},
{
"type": "text",
"id": "reviewer_name_4",
"label": "Reviewer Name 1"
},
{
"type": "text",
"id": "reviewer_designation_4",
"label": "Reviewer Designation 4"
}
]
}
{% endschema %}

<style>
  header.section-header.aos-init.aos-animate {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .space-header {
    margin-top: 10px !important;
    margin-bottom: -10px !important;
  }
  .reviews-list {
    width: 100%;
    display: inline-block;
    vertical-align: top;
  }

  .reviews-list .reviews-wrap {
/*     margin: 0 -20px; */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .reviews-list .reviews-wrap .reviews-box {
    padding: 20px;
    width: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
  }
  img.custome-star-size {
    width: 18px;
  }
  @media screen and (min-width: 767px) {
    .reviews-list .reviews-wrap .reviews-box:nth-child(4n) .img, .reviews-list .reviews-wrap .reviews-box:nth-child(4n-1) .img {
      -ms-flex-order: 1;
      order: 1;
      margin-left: 0;
      margin-right: -20px;
    }

    .reviews-list .reviews-wrap .reviews-box:nth-child(4n) .content, .reviews-list .reviews-wrap .reviews-box:nth-child(4n-1) .content {
      -ms-flex-order: 2;
      order: 2;
    }
  }

  .reviews-list .reviews-wrap .reviews-box .content {
    width: 50%;
    z-index: 1;
  }

  .reviews-list .reviews-wrap .reviews-box .content p {
    background: #000;
    color: #fff;
    /*     font-size: 24px; */
    font-style: italic;
    font-weight: 600;
    padding: 8px;
    border-radius: 15px;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
  }

  .reviews-list .reviews-wrap .reviews-box .content .rating {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 5px 0;
    font-size: 20px;
  }

  .reviews-list .reviews-wrap .reviews-box .content h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
  }

  .reviews-list .reviews-wrap .reviews-box .content span {
    font-size: 14px;
    font-weight: 600;
    color: #9A9A9A;
  }

  @media screen and (max-width: 1200px) {
    .reviews-list .reviews-wrap .reviews-box .content p {
      padding: 10px;
    }

    .reviews-list .reviews-wrap .reviews-box .content p, .reviews-list .reviews-wrap .reviews-box .content .rating {
      font-size: 18px;
    }

    .reviews-list .reviews-wrap .reviews-box .content h3 {
      font-size: 16px;
    }

    .reviews-list .reviews-wrap .reviews-box .content span {
      font-size: 12px;
    }
  }

  .reviews-list .reviews-wrap .reviews-box .img {
    width: 50%;
    margin-left: -20px;
  }

  .reviews-list .reviews-wrap .reviews-box .img img {
    vertical-align: top;
    padding: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }

  i.opw-noci {
    font-family: 'opw-snoci' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .stars-color {
    color: #FFCA00FF;
  }

  .opw-noci-star-full:before {
    content: "\e9d9";
  }
  .opw-noci:before {
    font-family: 'opw-snoci' !important;
  }

  @media screen and (max-width: 768px) {
    .space-header {
      margin-top: 45px;
    }
  }
  @media screen and (max-width: 767px) {

    .reviews-list .reviews-wrap .reviews-box {
      width: calc(100% + 10px);
      padding: 20px 0;
      margin-right: -20px !important;
      justify-content: center;
    }

    .reviews-list .reviews-wrap .reviews-box:nth-child(even) .img {
      -ms-flex-order: 1;
      order: 1;
      margin-left: 0;
      margin-right: -10px;
    }

    .reviews-list .reviews-wrap .reviews-box:nth-child(even) .content {
      -ms-flex-order: 2;
      order: 2;
    }

    .reviews-list .reviews-wrap .reviews-box .img {
      width: 40%;
      margin-left: -10px;
    }

    .reviews-list .reviews-wrap .reviews-box .content {
      width: 50%;
    }

    .reviews-list .reviews-wrap .reviews-box .content p {
      padding: 7px;
      border-radius: 5px;
      font-size: 14px;
    }

    .reviews-list .reviews-wrap .reviews-box .content .rating {
      margin: 5px 0;
    }

    .reviews-list .reviews-wrap .reviews-box .content h3 {
      font-size: 20px;
    }

    .reviews-list .reviews-wrap .reviews-box .content span {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 767px) and (max-width: 480px) {
    .reviews-list .reviews-wrap .reviews-box .content p {
      padding: 5px;
      font-size: 12px;
    }

    .reviews-list .reviews-wrap .reviews-box .content h3 {
      font-size: 16px;
      margin: 0;
    }

  }
</style>