<style>
  .sidebar-template-section .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  
  {% if section.blocks.size > 0 and section.settings.toggle_enable %}
    .sidebar-template-section .container .sidebar {
      flex: 0 0 20%;
    }

    .sidebar-template-section .container .page-template__content {
      flex: 0 0 75%;
    }
  {% else %}
  	.sidebar-template-section .container .page-template__content {
      flex: 0 0 100%;
    }
  {% endif %}
  
  .toggle {
  	cursor: pointer;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    background: #3c3c3c;
    color: #fff;
    padding: 5px 5px 5px 10px;
  }
  
  .sidebar ul li {
  	position: relative;
    margin: 0;
  }
  
  .sidebar ul li a {
  	display: block;
    width: 100%;
    padding: 5px 10px;
    color: {{ settings.ship_back_color }};
    padding-right: 30px;
  }
  
  .sidebar ul li span {
  	position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .toggle > span {
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
  }
  
  .sidebar > div + div {
  	margin-top: 16px;
  }
  
  .sidebar li ul,
  .toggle_list {
    display: none;
  }
  
  .toggle_list,
  .toggle_list ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .toggle_list li ul {
    padding-left: 16px;
  }
  
  .menu-toggle {
  	-webkit-transition: ease all .3s;
       -moz-transition: ease all .3s;
    		transition: ease all .3s;
  }
  
  .menu-toggle + ul,
  .toggle.open + .toggle_list,
  .sidebar li.open > ul {
    display: block;
  }
  
  .sidebar ul li:hover > a {
    background: rgba(75,167,215, .03);
  }
  
  .sidebar ul li.open > a {
    background: rgba(75,167,215, .1);
  }
  
  .sidebar ul li.open > .menu-toggle {
  	transform: rotate(-180deg);
  }
  
  .accordion {
    margin: 0;
    padding:10px;
    border-top:#f0f0f0 1px solid;
    background: #ccccff;
    text-decoration:none;
    color: #000;
    font-size:1em;
    position:relative;
  }
  .accordion-open {
    background:#660066;
    color: #fff;
  }
  .accordion-open span {
    display:block;
    position:absolute;
    right:3px;
    top:25%;
    padding:10px;
  }
  .accordion-open span {
    background:url('{{ 'minus.png' | asset_url }}') center center no-repeat;
      }
  .accordion-close span {
    display:block;
    position:absolute;
    right:3px;
    top:25%;
    background:url('{{ 'plus.png' | asset_url }}') center center no-repeat;
      padding:10px;
      }
  .faqpage div.container {
    padding:0;
    margin:0;
  }
  .faqpage div.container {
    max-width:100%;
    padding:5px 0;
  }
  .faqpage div.content {
    background:#f0f0f0;
    margin: 0;
    padding:10px;
    font-size:.9em;
    line-height:1.5em;
  }
  .faqpage div.content ul {
    padding:0;
    margin:0;
    padding:3px;
  }
  .faqpage div.content p {
    padding:0;
    margin:3px 0 10px;
    padding:3px;
  }
  .faqpage div.content ul li {
    list-style-position:inside;
    line-height:25px;
  }
  
  
  @media (max-width: 767px) {
    .sidebar-template-section .container {
      width: 540px;
      margin: 0 auto;
      max-width: 94%;
    }
    
    .sidebar-template-section .container .sidebar,
    .sidebar-template-section .container .page-template__content {
    	flex: 0 0 100%;
    }
    
    .sidebar-template-section .container .sidebar {
      margin-bottom: 30px;
    }
    
    .toggle {
    }
    
    .menu-toggle {
      float: right;
    }
  }

</style>

<div class="container main content main-wrapper">
  {% unless page.handle == 'about' %}

  <div class="sixteen columns page-template__title">
    <h1 class="center">{{ page.title }}</h1>
    <div class="feature_divider"></div>
  </div>
 {% endunless %}
  
  {% comment %}Check to see if sidebar should be enabled{% endcomment %}
  
  {% if section.blocks.size > 0 and section.settings.toggle_enable %}
  	{% assign sidebar = true %}
  {% else %}
  	{% assign sidebar = false %}
  {% endif %}

  {% if sidebar %}
  	{% include 'sidebar' %}
    <div class="twelve columns page page-template__content">
      {{ page.content }}
    </div>
  {% else %}
    <div class="sixteen columns page page-template__content">
      {{ page.content }}
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Sidebar",
  "class": "sidebar-template-section",
  "settings": [{
      "type": "paragraph",
      "content": "Create a sidebar by adding content blocks."
    },
    {
      "type": "checkbox",
      "id": "toggle",
      "label": "Toggle sidebar content",
      "default": false
    }
  ],
  "blocks": [{
      "type": "filter_by_collection",
      "name": "Collection list",
      "limit": 1
    },
    {
      "type": "filter_by_type",
      "name": "Type list",
      "limit": 1
    },
    {
      "type": "filter_by_vendor",
      "name": "Vendor list",
      "limit": 1
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [{
        "type": "link_list",
        "id": "custom_menu_linklist",
        "label": "Menu"
      }]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [{
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text area can be used for special announcements or general information.</p>"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [{
        "type": "page",
        "id": "content_page",
        "label": "Page"
      }]
    }
  ]
}
{% endschema %}

<script type="text/javascript" src="{{ 'jquery.elevatezoom.js' | asset_url }}"></script>
<script type="text/javascript" src="{{ 'jquery_accordion.js' | asset_url }}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('.toggle').click(function(){
      $(this).toggleClass('open');
      
      $('span', this).html( $('span', this).html() == '+' ? '-': '+' );
    });
    
    $('.sidebar li').click(function(){
      if ($('> ul', this).length > 0) {
        $(this).toggleClass('open');
        
        return false;
      }
      
      return true;
    });
  });
</script>


