{% assign icon_num = section.settings.uvp_icon_number %}
{% if section.settings.enable_uvp_icon %}
<div class="wrapper half-fill-color-white">
  
  <p class="vp-title">
    WHAT MAKES MYSTIC BARRELS UNIQUE
  <br/>
  </p>
  <div class="uvp-icons">
      {%for i in (1..icon_num) %}
      {%assign uvp_img = "uvp_img_" | append:i %}
      {%assign uvp_text = "uvp_text_" | append:i %}

      <div class="uvp-icon-image">
        <img class="vp-img-border lazy2 lazy3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ section.settings[uvp_img] | img_url: '200x200' }}">
        <p>{{ section.settings[uvp_text] }}</p>
      </div>
      {% endfor %}
  </div>
</div>
  <div class="half-fill-color"></div>

{% endif %}

<style>
  .wrapper.half-fill-color-white {
    position: relative;
    z-index: 2;
  }
  div#shopify-section-product-vp-section {
    position: relative;
  }
  .half-fill-color {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 60%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .uvp-icons {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .uvp-icons .uvp-icon-image {
    flex: 0 0 23%;
    padding: 0 2%;
    background-color: white;
  }
  .uvp-icon-image p {
    text-align: center;
    text-align: -webkit-center;
    margin: 0;
    font-size: 13px;
  }
  .vp-title {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 10px;
    color: white;
    padding: 15px 0;
  }
/*   img.vp-img-border {
    border: 4px solid black;
  } */
  @media screen and (max-width: 767px) {
    .uvp-icons .uvp-icon-image {
      flex: 0 0 50%;
      padding: 10px; 
    }
    .uvp-icons {
      justify-content: center;
      margin-bottom: 15px;
      background: white;
    }
    .vp-title {
      font-size: 1rem;
      margin-top: 0px;
    }
    .half-fill-color {
      height: 100%;
    }
/*     .uvp-icons {
      padding: 20px 0px;
    } */
  }
</style>


{% schema %}
 {
"name": "Product-VP-Feature",

"settings":[
{
"type": "checkbox",
"id": "enable_uvp_icon",
"label": "Show UVP-ICONS",
"info": "Check for Enable and Uncheck for Disable",
"default": true
},
{
   "type": "select",
   "id": "uvp_icon_number",
   "options": [
      { "value": "3", "label": "3"},
      { "value": "4", "label": "4"}
   ],
   "label": "Howmany icons you want?"
},
{
"type": "image_picker",
"id": "uvp_img_1",
"label": "UVP ICON 1"
},
{
   "type": "text",
   "id": "uvp_text_1",
   "label": "Sub Text 1"
},
{
"type": "image_picker",
"id": "uvp_img_2",
"label": "UVP ICON 2"
},
{
   "type": "text",
   "id": "uvp_text_2",
   "label": "Sub Text 2"
},
{
"type": "image_picker",
"id": "uvp_img_3",
"label": "UVP ICON 3"
},
{
   "type": "text",
   "id": "uvp_text_3",
   "label": "Sub Text 3"
},
{
"type": "image_picker",
"id": "uvp_img_4",
"label": "UVP ICON 4"
},
{
   "type": "text",
   "id": "uvp_text_4",
   "label": "Sub Text 4"
}



]

}
{% endschema %}
