{% schema %}
  {
    "name": "Gallery",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Title",
        "default": "Hello world"
      }
    ]
  }
{% endschema %}
