<!-- start value-proposition-icons.liquid (SECTION) -->
{% assign image_crop = section.settings.icon_uvp_width | times: 2 | append: 'x' %}
{% assign sizes_length = 0 %}
{% for block in section.blocks %}
{% if "icon" == block.type %}
{% assign sizes_length = sizes_length | plus: 1 %}
{% endif %}
{% endfor %}

<div class="featured-icons featured-icons-col-{{ sizes_length }} {% if section.settings.enabled_icon_text %}featured-icons-m-text{% endif %} {{ section.settings.custom_class }}">
  <div class="wrapper">
    {% for block in section.blocks %}
    {% if "icon" == block.type %}
    <div class="uvp-icon-item {% if section.settings.enabled_text_below_img %}featured-icon-text-below-img featured-icon-{{ forloop.index }} {% else %} featured-icon featured-icon-{{ forloop.index }} {%endif %}">
      <!-- <img class="icon-img lazy" src="{{ 'basic.png' | asset_img_url: '10x' }}" data-src="{{ block.settings.icon | img_url: '64x' }}" alt="Featured Icon"/> -->
      {% assign image_temp = block.settings.icon | img_url: '4x6' %}
      {% unless image_temp contains '/no-image' %}
      {% if block.settings.icon.alt != blank %}
      {% assign image_alt = block.settings.icon.alt | strip_html | escape %}
      {% elsif block.settings.text != blank %}
      {% assign image_alt = block.settings.text | strip_html | escape %}
      {% else %}
      {% assign image_alt = "Image without description." %}
      {% endif %}

      <div class="uvp-image-wrapper">
        <img class="icon-img lazy" src="{{ 'basic.png' | asset_img_url: '10x' }}" data-src="{{ block.settings.icon | img_url: image_crop }}" alt="{{image_alt}}"/>
      </div>
      {% endunless %}

      {% if section.settings.enabled_icon_text %}
      <div class="uvp-icon-text">
        <span class="icon-text">{{ block.settings.text }}</span>
        {% if block.settings.text_2 != blank %}
        <span class="icon-text">{{ block.settings.text_2 }}</span>
        {% endif%}
      </div>
      {% endif %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
"name": "UVP 1",
"class": "proposition-icons",
"settings": [
{
"type": "header",
"content": "Unique Value Propositions"
},
{
"type": "text",
"id": "custom_class",
"label": "Custom Class",
"info": "Custom class to apply css styles for specific sections"
},       
{
"type": "checkbox",
"id": "enabled_icon_text",
"label": "Enable Icon Text",
"default": true
},      
{
"type": "checkbox",
"id": "enabled_text_below_img",
"label": "Enable Icon Text Below Image",
"default": false
},
{
"type":      "color",
"id":        "color_id",
"label":     "Backgroud color",
"default":   "#fffef8",
"info":      "Backgroud color"
},
{
"type": "range",
"id": "icon_uvp_width",
"min": 50,
"max": 300,
"step": 10,
"unit": "px",
"label": "Icon width",
"default": 50
}

],
"blocks": [
{
"name": "Icon",
"type": "icon",
"limit": 8,
"settings": [
{
"type": "text",
"id": "title",
"label": "Block Title",
"placeholder": "Block title"
},
{
"type": "text",
"id": "text",
"label": "Icon Text",
"placeholder": "Type icon text."
},
{
"type": "text",
"id": "text_2",
"label": "Icon Text line 2",
"placeholder": "Type icon text line 2."
},
{
"type": "image_picker",
"id": "icon",
"label": "Icon"
}
]
}
],
"presets": [
{
"name": "Unique Value Proposition",
"category": "Unique Value Proposition"
}
]
}
{% endschema %}

<style>
  #shopify-section-{{ section.id }} {
    position: relative;
  }
  #shopify-section-{{ section.id }} .featured-icons {
    background-color: {{section.settings.color_id}};
  }
  :root{
    --icon_uvp_width: {{ section.settings.icon_uvp_width }}px;
    }
      .uvp-icon-text {
        width: 150px;
      }


      /******************************************************************************* # VALUE PROPOSITION ICONS *******************************************************************************/

      .featured-icons {
        display: inline-block;
        vertical-align: top;
        margin-top: 25px;
        padding: 10px 0;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
        width: 100%;
      }
      .featured-icons .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }
      .featured-icons .featured-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        float: left;
      }
      .featured-icons .featured-icon-text-below-img {
        display: block;
        text-align: center;
        padding: 10px;
      }
      .featured-icons .icon-text {
        display: inline-block;
        width: 150px;
        line-height: 1.5;
      }
      @media screen and (max-width: 320px) {
        .featured-icons .icon-text {
          width: 125px;
        }
      }
      .featured-icons .icon-img {
        margin-left: auto;
        width: var(--icon_uvp_width);
          }
      .featured-icons .featured-icon-text-below-img .uvp-image-wrapper {
        width: var(--icon_uvp_width);
          padding: 0;
          margin: auto;
          }
      .featured-icons .featured-icon-text-below-img .icon-text {
        width: 100%;
      }
      .featured-icons .featured-icon-text-below-img .icon-img {
        margin: auto;
        width: var(--icon_uvp_width);
          }
      .featured-icons.featured-icons-col-4 .uvp-icon-item {
        width: 25%;
      }
      .featured-icons.featured-icons-col-3 .uvp-icon-item {
        width: 33.333%;
      }
      .featured-icons.featured-icons-col-2 .uvp-icon-item {
        width: 50%;
      }
      .featured-icons.featured-icons-col-1 .uvp-icon-item {
        width: 100%;
      }
      .uvp-image-wrapper {
        padding: 5px;
      }
      @media (max-width: 1279px) {
        .featured-icon-text-below-img .uvp-image-wrapper {
          width: var(--icon_uvp_width);
            padding: 0;
            margin: auto;
            max-width: 100%;
            }
        .featured-icon-text-below-img .icon-text {
          width: 100%;
        }
        .featured-icon-text-below-img .icon-img {
          margin: auto;
          width: var(--icon_uvp_width);
            }
        .featured-icons .icon-img {
          margin-left: auto;
          width: var(--icon_uvp_width);
            }
      }
      @media (max-width: 1019px) {
        .uvp-image-wrapper {
          margin: 0 auto;
          max-width: 100%;
        }
      }
      @media (max-width: 767px) {
        .featured-icons {
          margin: 20px 0;
        }
        .featured-icons .icon-img {
          margin: auto;
          width: var(--icon_uvp_width);
            }
        .featured-icons .featured-icon-text-below-img {
          display: block;
          text-align: center;
          padding: 0;
          width: var(--icon_uvp_width);
            }
        .featured-icons-m-text .featured-icon {
          flex-direction: column;
          text-align: center;
          width: 100%;
        }
        .featured-icons-m-text .featured-icon:nth-of-type(n+3) {
          margin-top: 20px;
        }
        .featured-icon-text-below-img:nth-of-type(n+3) {
          margin-top: 0;
        }
        .featured-icons-col-3 .featured-icon:nth-of-type(n+3) {
          margin-top: 0;
        }
        .featured-icon:nth-child(2n), .featured-icon-text-below-img:nth-child(2n), .featured-icon:last-child, .featured-icon-text-below-img:last-child {
          margin-right: 0;
        }
        .featured-icons.featured-icons-col-4 .uvp-icon-item {
          width: 50%;
        }
        .featured-icons.featured-icons-col-4 .uvp-icon-item:nth-child(n + 3) {
          margin-top: 40px;
        }
        .uvp-image-wrapper {
          max-width: 60%;
        }
      }
      @media (max-width: 478px) {
        .featured-icons {
          margin: 20px 0;
        }
        .featured-icons .featured-icon-text-below-img {
          display: block;
          text-align: center;
          padding: 0;
          width: var(--icon_uvp_width);
            }
        .featured-icons-m-text .featured-icon {
          flex-direction: column;
          text-align: center;
          width: 100%;
        }
        .featured-icons-m-text .featured-icon:nth-of-type(n+3) {
          margin-top: 0;
        }
      }


</style>
