<!-- start videos-blog.liquid (SECTION) -->   
{% if section.settings.enable_section %}
  <section id="video-blog{{ section.id }}" data-slider="{{ section.id }}" data-section-type="video" class="video-section wrapper {{ section.settings.video_custom_class }}">
    {% if section.settings.enable_section_title and section.settings.section_title != blank %}
      <h2 class="section-title">{{ section.settings.section_title }}</h2>
    {% endif %}

    <div>
      <div class="video-blog-grid">
        {% for block in section.blocks %}
           {% assign url = block.settings.video_url %}
           {% assign video_title = block.settings.title %}
           {% assign video_description = block.settings.video_description %}
           {% assign description_link = block.settings.description_link %}
            <div class="video-blog-block">
                {% assign platform = '' %}
              {%- if url contains 'youtube' or url contains 'youtu.be' -%}
                {% assign platform = 'youtube' %}
                {% if url contains 'youtu.be' -%}
                    {% assign videoID = url | split:'/' | last %}
                {% elsif url contains '&' -%}
                  {% assign videoID = url | split:'?v=' | last | split:'&' | first %}
                {% elsif url contains 'embed' -%}
                  {% assign videoID = url | split:'embed/' | last %}
                {% else -%}
                    {% assign videoID = url | split:'?v=' | last %}
                {% endif %}
              {% elsif url contains 'vimeo' -%}
                  {% assign platform = 'vimeo' %}
              {% endif %}
              <div class="video-popup"><img data-swift-lazy="1" loading="lazy" class="lazy2 lazy3" data-video-src="{% if platform == 'youtube' %}https://www.youtube.com/embed/{{ videoID }}{% else %}{{ url }}{% endif %}" data-src="http://img.youtube.com/vi/{{ videoID }}/0.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="{{video_title}}" /></div>
              <div class="video-blog-content">
                <h3 class="video-title">{{video_title}}</h3>
                <p>{{video_description}}</p>
                <a class="button-link" href="{{description_link}}">Read More</a>
              </div>
          </div>

        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
{
    "name": "Videos Blog Section",
	"class": "videos-slider",
    "settings": [
        {
            "type": "text",
            "id": "video_custom_class",
            "label": "Custom Class"
        },
        {
            "type": "checkbox",
            "id": "enable_section",
            "label": "Enable Section"
        },
        {
            "type": "checkbox",
            "id": "enable_section_title",
            "label": "Enable Section Title"
        },
        {
            "type": "text",
            "id": "section_title",
            "label": "Section Title",
            "placeholder": "Section title"
        },
        {
            "type": "paragraph",
            "content": "Add videos on your page adding blocks. One block for each video."
        }
    ],
    "blocks": [
        {
            "type": "block_video",
            "name": "Video",
            "settings": [
				{
                    "type": "text",
                    "id": "title",
                    "label": "Video Block Title"
                },
                {
                    "type": "text",
                    "id": "video_url",
                    "label": "Video URL"
                },
                {
                    "type": "textarea",
                    "id": "video_description",
                    "label": "Description"
                },
                {
                    "type": "text",
                    "id": "description_link",
                    "label": "Description Link"
                }
            ]
        }
    ],

    "presets": [
        {
        "name": "Video Slider",
        "category": "Video"
        }
    ]
}
{% endschema %}
