$(document).ready(function(){
  
  $('.promotionalslider_wrapper').slick({
    infinite: true,
    slidesToShow: 4,
    slidesToScroll: 1,
    autoplay: {{settings.promotional_auto_slide}},
    autoplaySpeed: {{settings.promotional_slide_time}},
    responsive: [
      {
        breakpoint: 768,
        settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
        }
      }
    ]
  });
});
