$slidercolor: {{settings.vasta_collections_border_color}};
$slidercolor-font: {{settings.vasta_collections_text_color}};
$slidercolor-backgroundtext: {{settings.vasta_collections_text_background}};


/* slider CSS */

#promotional_slider{
  padding: 20px 30px;
  margin: 0 auto -125px;
  overflow: hidden;
  background: #FFF;
  position: relative;
  top: -125px;

  .promotionalslider_wrapper{
    width: 100%;
    display: flex;
    
   .slick-arrow {
        font-size: 0;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        -webkit-appearance: none;
        border: 0;
        background: #FFF;
        box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
        outline: none;
        &:before {
            font-size: 23px;
            color: #444;
        }
     
      &.slick-next:before {
          content: ">";
      }

      &.slick-prev:before {
          content: "<";
      }
    }
    
    /* slick initialized */
    &.slick-initialized {
        position: relative;
        .slick-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 9;
        }

        .slick-next {
            right: -25px;
        }

        .slick-prev {
            left: -25px;
        }
    
    }
  
    .promotionalslider_single{
      display:flex;
/*       max-width: 25%; */
      flex: 0 0 25%;
      flex-direction: column;
      border: 5px solid $slidercolor;
      margin: 0 10px;
      
      section{
        background: no-repeat center center / cover;
        width: 100%;
        height: 0;
        padding-top: 100%;
      }
      
      p{
        background-color: $slidercolor-backgroundtext;
        color: $slidercolor-font;
        text-align: center;
        padding: 10px 0 0;
        text-transform: uppercase;
        font-weight: bold;
        font-family: "Arial", sans-serif;
        font-size: 19px;
        margin: 0;
      }
    }
  }
}

@media (max-width: 767px) {
  #promotional_slider {
  	top: 0;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 479px){
	#promotional_slider .promotionalslider_wrapper .promotionalslider_single p {
    	font-size: 14px;
        padding: 5px 0 0;
    }
}