if ( typeof jQuery == "undefined" ) document.write('<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"><\/script>');

document.write("<div class='orderrow'><div class='divleft'><img  class='orderimage'/></div><div class='divright'><p class='ordertext'></p><a  class='orderproduct'></a></div></div>");
var shopname ="{{ request.host }}"; 
 function  orderPOP(shopname)
   {
 
    $.ajax ( {
        url: 'https://ithubhamirpur.com/admin/notify.php',
        type: 'POST',
      data: {shopname:shopname} ,
     
        crossDomain: true,
        success: function(data){
         
        data=   $.parseJSON(data);
          
        
          var title = data.variant_title;
          var city =data.city;
          var country =data.country;
          var imageurl = data.imageurl;
          var prourl= data.producturl;
          
         $(".orderimage").attr('src',imageurl);
         $(".ordertext").text("Someone in "+city+","+country+" purchased");
         $(".orderproduct").attr('href',prourl).text(title);
        
          $(".orderrow").slideDown(223).delay("{{ section.settings.orderdelaytimer | times:1000 }}").fadeOut(1000);

         setTimeout(function(){
        orderPOP(shopname);
       },"{{ section.settings.orderblinktimer | times:1000 }}");

          
             }
     
        } );
    
  
        }
  orderPOP(shopname);
  