setTimeout(function(){
  thumbnails = $('img[src*="/products/"]');
  if (thumbnails.length > 1) {
    thumbnails.bind('click', function() {
      var arrImage = $(this).attr('src').split('?')[0].split('.');
      var strExtention = arrImage.pop();
      var strRemaining = arrImage.pop().replace(/_[a-zA-Z0-9@]+$/,'');
      var strNewImage = arrImage.join('.')+"."+strRemaining+"."+strExtention;
      if (typeof variantImages[strNewImage] !== 'undefined') {
          productOptions.forEach(function (value, i) {
           optionValue = variantImages[strNewImage]['option-'+i];
           if (optionValue !== null && $('.single-option-selector:eq('+i+') option').filter(function() { return $(this).text().trim() === optionValue }).length) {
             $('.single-option-selector:eq('+i+')').val(optionValue).trigger('change');
           }
        });
      }
    });
  }
});

window.lazyLoadOptions = {
    elements_selector: ".lazy",
    threshold: 0,
    callback_enter: function(e) {  },
    callback_exit: function(e) {  },
    callback_reveal: function(e) {  },
    callback_loaded: function(e) {  },
    callback_error: function(e) {  },
    callback_finish: function(e) {  }
};

window.addEventListener('LazyLoad::Initialized', function (event) {
    window.lazyLoadInstance = event.detail.instance;
}, false);

var videoPopup = '<div id="popup-video" class="popup-box">' +
  '<div class="popup-video-wrapper">' +
  '<iframe src="" class="popup-iframe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>' +
  '<div class="popup-close"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve"> <g> <g> <path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872 c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872 c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052 L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116 c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952 c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116 c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"/> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg></div>' +
  '</div>' +
  '</div>';

  /* Popup Featured Products*/
  $(document).on('click', '.video-popup', function(){
    console.log('entrou');
    var popup = $(document.getElementById('popup-video')),
    src = $(this).children().attr('data-video-src');

    if (popup.length != 0) {
      $(document.getElementById('popup-video')).remove();
    }

    $(document.body).append(videoPopup);
    popup = $(document.getElementById('popup-video'));

    $(document.body).addClass('open-popup-video');

    popup.addClass('active').find('.popup-iframe').attr('src', src);
  });

  $(document).on('click', '.popup-box .popup-close', function(){
    $('.popup-video-wrapper .popup-iframe').attr('src', '');
    $(this).closest('.popup-box').removeClass('active');
    $(document.body).removeClass('open-popup-video');
  });

setTimeout(function(){
  $('body').on('DOMSubtreeModified', ".customer-account .CartCount", function() {
    if($('.customer-account .CartCount').html() > 0) {
      $('.cart-message').show();
    } else {
      $('.cart-message').hide();
    }
  });
  setTimeout(function () {
    $('.internal-popup').attr('href', '{{ "popup-image.png" | asset_img_url: '600x' }}');
    $('.image-popup').attr('href', '{{ "popup-image.png" | asset_img_url: '600x' }}');
    $('.image-popup').html('{{ settings.popup-map-text }}');
  }, 500);

  $('.fancy').fancybox();
  
  setTimeout(function () {
    if($('.product-recently-viewed').length > 0) {
        $('#recently-viewed-products h2').css('display','block');
    }
  }, 1000);

  $("a#single_image").fancybox();
  $("a#single_shipping").fancybox();
    
  /* Add class to mobile menu for icons */
  var i = 1;
  $('ul.mobile-nav > li.mobile-nav__item a > i').each(function() {
    var menuText = $(this).text().toLowerCase();
    $(this).parent().closest('li').addClass('menu-item-' + i);
    i++;
  });

  $('.site-nav').each(function(){
    $(this).find('.grandchild').parent().parent().parent().addClass('has-grand-child');
  });

  /* Make it drawer close when click it out the form when its opened */
  $('#DrawerOverlay').click(function(){
    $('.drawer__close').trigger('click');
  });

  /* Add class when menu has grandchild */
  $('.mobile-nav-sub__toggle.mobile-nav__toggle').click(function (){
    $(this).siblings('.grandchild.sub-toggle').toggle();
  });

  /* Function to add price and qtd items on ATC button */
  var currentPrice = parseFloat($('.ProductPrice').text().replace('$', '').replace(',', ''));
  var originalprice = currentPrice;

//   function multiplyProductTotal(qtd, value, atualizaCurrentPrice ) {
//     if( ! atualizaCurrentPrice ) atualizaCurrentPrice = false;
//     setTimeout(function () {
//       console.log('value B $' + value);
//       console.log('value currentPrice' + currentPrice);

//       if( atualizaCurrentPrice )
//         currentPrice = parseFloat($('.ProductPrice').text().replace('$', '').replace(',', ''));

//       qtd = $('.product__quat').val();
//       value = currentPrice * qtd;
//       $('.productValue').text('$' + value.toFixed(2));
//       $('.productQtd').html( '(' + qtd + ( qtd == 1 ? ' ITEM' : ' ITEMS') + ')');
//       console.log('multiplyProductTotal() $' + value.toFixed(2));
//     }, 300);
//   }

  
  
   
    
  function get_discout_value(){
     var discount_qtd = [];
    var discount_value = [];
 
    for (i = 0; i < $('.hulkapps-table td').size(); i++) {
      if (i%2 == 0){

        discount_qtd.push($($('.hulkapps-table td').get(i)).html().replace(/\D/g, ''));
      }

      else if (i%2 == 1){

        discount_value.push($($('.hulkapps-table td').get(i)).html().replace('.00', '').replace(/\D/g, ''));
      }

    }
      var index;
      var quant = $('.product__quat').val();
      discount_qtd.forEach(function(item,i){
          
          if(parseInt(quant) >= parseInt(item)){
				index = i;
			}
      });
    if(typeof discount_value[index] != 'undefined'){
     return discount_value[index] * quant ;
    }else{
    	return 0;
    }
    	
     
  }
  

  
  
  // new function
  var totalAMais = 0;
  function multiplyProductTotal(qtd, value, atualizaCurrentPrice ) {
    setTimeout(function () {
      var qtd    		= parseInt($('.product__quat').val());
      var price  		= parseFloat($('.ProductPrice').eq(0).text().replace(/[^0-9]/g, ''));
      var separatorCent = $('.ProductPrice').eq(0).text().replace(/[^\,|\.]/g, '');
      var separatorMil = '';
      if (separatorCent === ',') { 
            separatorMil = ',';
            separatorCent = '.';
      } else { 
        if(separatorCent == '.') {
          separatorMil = ',';
          separatorCent = '.';
        } else {
          separatorMil = ',';
          separatorCent = '.';
        } 
      }
      var simbol 		= $('.ProductPrice').eq(0).text().replace(/[0-9|\,|\.]| [\S\s]*/g, '');
      var language      = $('.productValue > .money').eq(0).attr('doubly-currency') ? $('.productValue > .money').attr('doubly-currency') : '' ;
      price = (price * qtd) / 100;
      price += totalAMais;
      if(get_discout_value() != 0){
        var discount_price = price - get_discout_value();
        console.log(price - get_discout_value());
        $('.productValue').html('<span style="    font-size: 12px; margin-right: 5px;text-decoration: line-through;">$'+ price +'</span>'+'$' + discount_price.toFixed(2).replace('.', separatorCent) + ' ' + language);
      }else{
         $('.productValue').text('$' + price.toFixed(2).replace('.', separatorCent) + ' ' + language);
       
      }
      $('.productQtd').html( '(' + qtd + ( qtd == 1 ? ' ITEM' : ' ITEMS') + ')');
    }, 300);
  }

  /* Reduce product qtd */
  $("#AddToCartForm .product-minus").click(function(ev) {
    ev.stopPropagation();
    console.log('clicked minus');
    multiplyProductTotal();
  });

  /* Increase product qtd */
  $("#AddToCartForm .product-plus").click(function(ev) {
    ev.stopPropagation();
    console.log('clicked plus');
    multiplyProductTotal();
  });

  /* Type product qtd */
  $('.product__quat').change(function () {
    if ($('.product__quat').val() >= '1') {
      multiplyProductTotal();
    } else {
      alert("Please type 1 or more.");
      $('.productValue').text('$' + price.toFixed(2));
    }
  });
    $('.product__quat').keyup(function () {
    if ($('.product__quat').val() >= '1') {
      multiplyProductTotal();
    } else {
      alert("Please type 1 or more.");
      $('.productValue').text('$' + price.toFixed(2));
    }
  });
  
  

  /* Run function when product has swatch */
  $('#AddToCartForm .swatch-container .swatch-element').click(function () {
    console.log('clicked swatch element');
    setTimeout(function(){
      multiplyProductTotal(null, parseFloat($('.ProductPrice').text().replace('$', '')), true );
    }, 200);
  });

  /* Run function when product hasn't swatch */
  $('#AddToCartForm .selector-wrapper').change(function () {
    console.log('clicked select option');
    setTimeout(function(){
      multiplyProductTotal(null, parseFloat($('.ProductPrice').text().replace('$', '')), true );
    }, 200);
  });

  $('.rc_container').click(function(){
    $('#AddToCartForm').trigger('change');
  });

  $('.proaddcheck').click(function() {
    totalAMais = 0;
    $('.proaddcheck input[type="checkbox"]:checked').each(function(){
            var valueP = $(this).parent().parent().parent().find('.addprice').text().replace('USD', '').replace('$', '').trim();

            if( $(this).parent().parent().parent().find("[id^=quant_productSelectAddon]").length ) {
                valueP = valueP * ( $(this).parent().parent().parent().find("[id^=quant_productSelectAddon]").val() * 1 );
            }

            totalAMais += Number(valueP);
    })
    console.log('totalAMais', totalAMais);
    multiplyProductTotal();
  });
  
  multiplyProductTotal();
});

$(document).on("keypress", "#AddToCartForm", function(event) { 
    return event.keyCode != 13;
});

$('.product__quat').keypress(function (e) {
 var key = e.which;
 if(key == 13)  // the enter key code
  {
    $('.product__quat').blur();
  }
});

/* Function to make mobile footer menu collapsable */
var width = $(window).width();
$('.footer2 .wrapper .half-content').click(function() {
  if ( width <= 767  ) {
    $(this).children('.no-bullets').slideToggle( "slow" );
    $(this).children('h5').toggleClass( "active" );
  }
});

$( window ).resize(function() {
  width = $(window).width();
});

/* Swatch */
{% if settings.product_show_color_swatch %}
// Function to manipulate swatch colors

function get_variations() {
  var variations = {};
  
  if (typeof productOptions !== 'undefined' && productOptions) {
    productOptions.forEach(function(e){
      if (e.available) {
        if (typeof variations[e.option1] === 'undefined') {
          variations[e.option1] = {};
        }

        if (typeof variations[e.option1][e.option2] === 'undefined')
          variations[e.option1][e.option2] = [];

        if (e.option3)
          variations[e.option1][e.option2].push(e.option3);
      }
    });
  }
  
  return variations;
}

function select_colors( variations ) {
  if (typeof variations !== 'undefined' && variations) {
    var current_variation = $('#productSelect option:selected').attr('data-variants');
	
    if (typeof current_variation !== 'undefined') {
      current_variation = current_variation.split(';');

      if (current_variation.length > 0) {
        current_variation = current_variation.filter(function(value){
          return value !== '';
        });

        if (current_variation.length > 0) {
          var option1, option2, swatch, keys = [];

          swatch = $('div.swatch');

          if ((option1 = swatch.filter('[data-option-index="0"]').find('input:checked').val())) {
            keys = Object.keys(variations[option1]);

            if (keys && keys.length > 0) {
              swatch.filter('[data-option-index="1"]').find('.swatch-element').removeClass('active').hide().each(function(i){
                if (keys.indexOf($(this).attr('data-value')) > -1) {
                  $(this).show();
                }
              });
            }

            if ((option2 = swatch.filter('[data-option-index="1"]').find('input:checked').val())) {
              keys = variations[option1][option2];

              if (keys && keys.length > 0) {
                swatch.filter('[data-option-index="2"]').find('.swatch-element').removeClass('active').hide().each(function(){
                  if (keys.indexOf($(this).attr('data-value')) > -1) {
                    $(this).show();
                  }
                });
              }
            }
          }


          for (i = 1; i < 3; i++) {
            if (swatch.filter('[data-option-index="' + i + '"]').find('.swatch-element:visible input:checked').length == 0) {
              swatch.filter('[data-option-index="' + i + '"]').find('.swatch-element input').prop('checked', false);
              swatch.filter('[data-option-index="' + i + '"]').find('.swatch-element:visible:first input:radio').click();
            }
          }
        }
      }
    }
  }
}


setTimeout(function(){
  /* Add check signal to first product on the product page */
  $('.template-product .swatch-container').each(function(){
    $(this).children('div').first().addClass('active');
  });

  /* Add check signal on the first color of the product inside the collection page */
  $('body.template-collection .grid__item.product_item').each(function(){
    $(this).find('.product-item__colors li').first().addClass('active');
  });

  /* Swatch function */
  var variations = get_variations();
  select_colors( variations );
  
  jQuery('.swatch :radio').change(function() {
    var optionIndex = jQuery(this).closest('.swatch').attr('data-option-index'); // Variant
    var optionValue = jQuery(this).val();										 // Value variant

    jQuery(this).parent().parent().find('.active').removeClass('active');
    jQuery(this).parent().addClass('active');

    jQuery(this)
    .closest('form')
    .find('.single-option-selector')
    .eq(optionIndex)
    .val(optionValue)
    .trigger('change');

  	select_colors( variations );
  });

  /* Check if exist a variation checked and "click" to show the signal on the right variation */

    var colorForSwatch = $(".template-product #productSelect :selected").text().split("-")[0];
    console.log(colorForSwatch);
    $('.template-product').find('div[data-value="' + colorForSwatch + '"] input').change();
});
{% endif %}

/* Add qtd items to proceed to checkout button inside the drawer */
jQuery(document.body).on('afterCartLoad.ajaxCart', function(evt, cart) {
  $('#CartDrawer button.btn--secondary.btn--full.cart__checkout .cart-itens').html('(' + cart.item_count + ( cart.item_count == 1 ? ' Item)' : ' Items)'));
});