<!-- /templates/404.liquid -->
<h1>{{ 'general.404.title' | t }}</h1>

{% if settings.show_404_promotional %}
    <p>Unfortunately, the page you requested does not exist. Take a look at our popular collections below!.</p>
    {% include 'promotional' %}
{% else %}
    <p>{{ 'general.404.subtext_html' | t }}</p>
{% endif %}
