<!-- /templates/blog.liquid -->
{% comment %}

  Loop through a defined number of articles with the 'paginate' tag.
  Don't forget to close the tag after your loop.

{% endcomment %}

{% paginate blog.articles by 5 %}

{% include 'breadcrumb' %}

{% comment %}
  This template is also used for listing out articles of a specific tag.
  You can change layouts or styles by checking if current_tags is true.
{% endcomment %}
<div class="grid">

  <div class="grid__item large--three-quarters">
{% comment %}
    {% if current_tags %}
      <h1>{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}</h1>
    {% else %}
      <h1>{{ blog.title }}</h1>
    {% endif %}

    
      Loop through each article in your blog. This is limited to what you set for pagination above.

      For more info on article liquid tags:
        - http://docs.shopify.com/themes/liquid-variables/article
    {% endcomment %}

    {% for article in blog.articles %}

      <div class="article">
        <div class="article_img">
        
        
        {% if article.image %}
          <a class="article__featured-image" href="{{ article.url }}">
            {{ article | img_url: '1024x1024' | img_tag: article.title }}
          </a>
        {% endif %}
        </div>
        <div class="article_info">
          
         <h2 class="entry-title h3">
            <a href="{{ article.url }}" rel="bookmark">{{ article.title }}</a>
          </h2>
        {{ article.content | strip_html | split:'<!--split-->' | last | truncatewords:35 }}
		<p class="read-more"><a class="btn button blogbutton" href="{{ article.url }}">Read more</a></p>
          
        </div>
        

      </div>

      {% unless forloop.last %}<hr style="border-top: solid #fff;">{% endunless %}

    {% endfor %}

    {% if paginate.pages > 1 %}
      <hr>
      <div class="pagination">
        {{ paginate | default_pagination }}
      </div>
    {% endif %}

  </div>

  <div class="grid__item large--one-quarter">
    {% include 'blog-sidebar' %}
  </div>

</div>

{% endpaginate %}
