{% if settings.cart_style == 'cart1' %}
	{% if cart.item_count > 0 %}
		<form action="/cart" method="post" id="cart_form" novalidate >
            <div class='cartrow cart1'>
                <h3>{{ settings.cart_title }}</h3>
  				<div class='cartcol1'>
					{% for item in cart.items %}
    				<div  class='cartinnerrow'>
                      
                        <div class='cartinner1'> 
                            <a href="{{ item.url | within: collections.all }}" class="cart__image">
                              {% comment %}
                              More image size options at:
                              - http://docs.shopify.com/themes/filters/product-img-url
                              {% endcomment %}
                              <img data-swift-lazy="1" loading="lazy" src="{{ item | img_url:'120x120' }}" alt="{{ item.title | escape }}">
                            </a>
      					</div>
      					<div class='cartinner2'>
                            <h6>
                                <a href="{{ item.url }}">{{ item.product.title }}</a> 
                                {% if item.variant.title != 'Default Title' %} - <small>{{ item.variant.title }}</small> {% endif %} 
                            </h6>
                            {% unless item.variant.title contains 'Default' %}{% endunless %}
                          
                            {% if settings.cart_vendor_enable %}
                                <p>{{ item.vendor }}</p>
                            {% endif %}
        
         					{% assign property_size = item.properties | size %}
                            {% if property_size > 0 %}
                                {% for p in item.properties %}
                                  {% unless p.last == blank or p.first == "subscription_id" or p.first == "shipping_interval_frequency" or p.first == "shipping_interval_unit_type" %}
                                    {{ p.first }}:

                                    {% comment %}
                                      Check if there was an uploaded file associated
                                    {% endcomment %}
                                    {% if p.last contains '/uploads/' %}
                                      <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                                    {% else %}
                                      {{ p.last }}
                                    {% endif %}

                                    <br>
                                  {% endunless %}
                                {% endfor %}
                            {% endif %}
                            <span class='' data-key='{{item.key}}'> 
                                                   <div class="qb-price-item" data-id="{{ item.key }}">{{ item.price | money }}</div> 
                                                   </span>
                            <p>
                              <span class="cart_qty">
                                  <button class='cartminus btn'><i class="fa fa-minus" aria-hidden="true"></i></button>
                                  <input type="text" data-line="{{ forloop.index }}" class='cartquantity' name="updates[]" id="updates_{{ item.key }}" data-id="{{ item.key }}" value="{{ item.quantity }}" min="0">
                                  <button class='cartplus btn'><i class="fa fa-plus" aria-hidden="true"></i></button>
                              </span>
                              <span class="cart_remove">
                                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove">
                                    <img data-swift-lazy="1" loading="lazy" src="{{'deleleico1.png' | asset_url }}" class='removebtn' />
                                  </a>
                              </span>
                            </p>
                        </div>
                    </div>
                    <hr>
			    {%endfor %}
                </div>
				<div class='cartcol2'>
                    {% if settings.cart_notes_enable %}
                        <p>
                            <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
                            <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ cart.note }}</textarea>
                        </p>
                    {% endif %}
                    <p>
                        <span class="cart__subtotal-title">{{ 'cart.general.subtotal' | t }}</span>
                        <span class="h3 cart__subtotal">{{ cart.total_price | money }}</span>
                    </p>
                    {% if cart.total_discounts > 0 %}
                        {% assign savings = cart.total_discounts | money %}
                        <p>
                          <span class="cart-subtotal__savings"><em>{{ 'cart.general.savings_html' | t: price: savings }}</em></span>
                        </p>
                    {% endif %}
                    <p><em>{{ 'cart.general.shipping_at_checkout' | t }}</em></p>
                    {% if cart.item_count > 2 %}
                        <p>{{ settings.cart_text_2 }}</p>
                    {% else %}
	                    {% if settings.cart_text_1 !=''%}
	                        <p> {{ settings.cart_text_1 }}<br /><strong> {{ "now" | date: "%A" }} Only! </strong></p>
	                    {% endif %}
	                    <button type="submit" name="update" class="btn--secondary update-cart">{{ 'cart.general.update' | t }}</button>
	                    <button type="submit" name="checkout" class="btn cartcheckout"> Proceed to checkout ({{ cart.item_count }} {{ cart.item_count | pluralize: 'Item', 'Items' }})</button>
	                    <a href='/collections/all' class='continueshop btn' style="margin-top: 10px;">Continue Shopping </a>
	                    {% if settings.cart_trust_icon %}
	                        <img data-swift-lazy="1" loading="lazy" src="{{'trust_badge1.png' | asset_url }}" class='cartpaymenticon' />
	                    {% endif %}
	                    
                    {% endif %}
        		</div>
    		</div>
    		<div class="clearfix"></div> 
          <div class="discount_code_box"></div>
		</form>

	{% else %}
		<div class="cart container">
			<div class="inner">
				<div class="cart__empty text-center" data-cart-view="data-cart-view" >
					<p style="font-size=16px">{{ 'cart.general.empty' | t }}</p>
					<center> <a href='/collections/all'> <button class='btn'> Continue shopping </button> </a> </center>
				</div>
			</div>
		</div>
		<div class='cartrow'></div>
	{% endif %}
	{% if settings.review_cart_enable %}
		{%include 'homepage-reviews' %}
	{% endif %}

	{% if setting.cart_bottom_enable %}
        <div class="cartrow removecartborder bottomcartarea">
            <div class="wrapper">
                <div class="great-reasons">
                    <div class="text-1">{{ settings.cart_trust_label }}</div>
                    <img data-swift-lazy="1" loading="lazy" src="{{'topreasons_1.jpg' | asset_url }}" />
                </div>
                <hr />
                <div class="half-content shipwholetext1">       
                  {{ settings.para1 }} 
                </div>
                <div class="half-content trust_badges">
                  {{ settings.para2 }} 
                  {% if settings.cart_trust_icon %}
                      <img data-swift-lazy="1" loading="lazy" src="{{'trust_badge1.png' | asset_url }}" class='cartpaymenticon' />
                  {% endif %} 
                </div> 
            </div>
        </div>
    {% endif %}
{% else %}
	{% if cart.item_count > 0 %}
		<form action="/cart" method="post" novalidate="" id="cart_form" class="cart cart2 table-wrap">
      		<table class="cart-table full">
        		<thead class="cart__row cart__header-labels">
          			<tr class="titlecol">
					  <div class="grid--full grid--table cart-row1">
						  	<div class="grid__item large--one-half medium--one-whole large--text-left medium--text-center no-mobile">
						      	{% if settings.cart_trust_icon %}
        							<img data-swift-lazy="1" loading="lazy" src="{{'trust_badge1.png' | asset_url }}" class='trustcartlogo' />
       						 	{% endif %}
							</div>
  							<div class="grid__item large--one-half large--text-right">
								<button type="submit" name="checkout" class="cartcheckout right Checkout carthook_checkout" >
           							<i class="fa fa-lock" aria-hidden="true"></i>
            						<span id="CheckoutText">Proceed to Checkout ({{ cart.item_count }} {{ cart.item_count | pluralize: 'Item', 'Items' }})</span>
          						</button> 
            				</div>
            			</div>
          			</tr>
        		</thead>
        		<tbody>          
          			{% for item in cart.items %}
		                <tr class="cart__row table__section">
		                    <td class="text-center product-image" data-label="Product">
		                        <a href="{{ item.url | within: collections.all }}" class="cart__image">
		                            <img data-swift-lazy="1" loading="lazy" src="{{ item | img_url:'120x120' }}" alt="{{ item.title | escape }}">
		                        </a>
		                    </td>
							<td class="text-center cart-item--title">
		                        <a href="{{ item.url }}">
		                          {{ item.product.title }}
		                        </a>
		              			{% if item.variant.title != 'Default Title' %}<small>{{ item.variant.title }}</small> {% endif %} 
								{% unless item.variant.title contains 'Default' %}{% endunless %}
								<br />
								<div class="js-qty">
		                          <span class="cart_qty">
		                              <button class='entry-holder cartminus'><i class="fa fa-minus" aria-hidden="true"></i></button>
		                              <input type="text" data-line="{{ forloop.index }}" class='cartquantity cartquat quatinp' name="updates[]" id="updates_{{ item.key }}" data-id="{{ item.key }}" value="{{ item.quantity }}" min="0">
		                              <button class='entry-holder cartplus'><i class="fa fa-plus" aria-hidden="true"></i></button>
		                          </span>
		                          <br>
								</div>
		                    </td>
		                    <td class="text-center" data-label="Total">
		                        {% if item.original_line_price != item.line_price %}
		                            <span class="cart-item__original-price">
		                             <span class='' data-key='{{item.key}}'> 
                                                   <div class="qb-total-line-item" data-id="{{ item.key }}">{{ item.line_price | money }}</div> 
                                                   </span>
		                            </span>
		                        {% endif %}
                               <span class="h3">
                              	<span class='' data-key='{{item.key}}'> 
                                  <div class="qb-total-line-item" data-id="{{ item.key }}">{{ item.line_price | money }}</div> 
                                 </span>
                              	
                               </span>
		                        
		                        {% for discount in item.discounts %}
		                            <span class="cart-item__discount">{{ discount.title }}</span>
		                        {% endfor %}    
		            			<a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove">Remove</a>
							</td>
		  	        	</tr>
            		{% endfor %}
        		</tbody>
     		</table>
 
    		<div class="cart__row removecartborder">
  				<a href="/collections/all" class="btn desktopview" role="button" id="cont-shopping">Continue Shopping</a>
		        <div class="grid--full">
					<div class="grid__item large--one-half large--text-left small--one-whole">
			            {% if settings.cart_notes_enable %}
					        <p>
					          <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
					          <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ cart.note }}</textarea>
					        </p>
			      		{% endif %}
					</div>
					<div class="grid__item large--one-half large--text-right small--one-whole">
                      <div class="pull-right cart-total-bottom">Total: 

                        <strong><span id="cart-page-subtotal" class=''> 
                          {{ cart.total_price | money }}
                        </span>    
                        </strong>
                        <div class="notescart">Shipping & Taxes calculated at checkout</div>
                        <!-- Zapiet | Store Pickup + Delivery -->
                        <div id="storePickupApp"></div>
                        <!-- Zapiet | Store Pickup + Delivery -->
                      </div>
                      
                        <button type="submit" name="checkout" class="cartcheckout right Checkout carthook_checkout" >
                             <i class="fa fa-lock" aria-hidden="true"></i>
                              <span id="CheckoutText">Proceed to Checkout ({{ cart.item_count }} {{ cart.item_count | pluralize: 'Item', 'Items' }})</span>
                        </button>
                      
                      <div class="cart-paypal">
                        <span class="paypal" style="font-size: 23px;"><strong><span style="color:#00298b;">Pay</span><span style="color: #0096e5;">Pal</span> Accepted</strong></span>
                      </div>
                    {% comment %}  {% if settings.select_type_cupom == 'price' %}
                      {% if cart.total_price < settings.value_free_shipping %}
                      		 <p class="cart-cupom-code"> {{ settings.cart_text_1 }} <br /><strong> {{ "now" | date: "%A" }} Only!</strong></p>
                      {% elsif cart.total_price >= settings.value_free_shipping %}
                      		<p class="cart-cupom-code">{{ settings.cart_text_2 }}</p> 
                      {% endif %}
                      {% elsif  settings.select_type_cupom  == 'quantity'%}
                        {% if cart.item_count >= settings.quantity_cupom %}
                            <p class="cart-cupom-code">{{ settings.cart_text_2 }}</p> 
                        {% else %}
                            {% if settings.cart_text_1 !=''%}
                                <p class="cart-cupom-code"> {{ settings.cart_text_1 }} <br /><strong> {{ "now" | date: "%A" }} Only!</strong></p>
                            {% endif %}
                        {% endif %}	
                      {% endif %}	{% endcomment %} 				              
                      </div>
                  </div>
                  <img data-swift-lazy="1" loading="lazy" class="mobileview" src="{{'trust_badge1.png' | asset_url }}" />
                  <a href="/collections/all" class="btn mobileview" role="button" id="cont-shopping">Continue Shopping</a>
              </div>
          </form>

			{% if settings.review_cart_enable %}
				{%include 'homepage-reviews' %}
			{% endif %}
			
			{% if settings.cart_bottom_enable %}
				<div class="cartrow removecartborder bottomcartarea">
					<div class="wrapper">
						<div class="great-reasons">
                            <div class="text-1">{{ settings.cart_trust_label }}</div>
			          		<img data-swift-lazy="1" loading="lazy" src="{{'trust-badges.png' | asset_url }}" />
			          	</div>
			          	<hr />
			          	<div class="half-content shipwholetext1">       
			              {{ settings.para1 }} 
			          	</div>
			          	<div class="half-content trust_badges">
			              {{ settings.para2 }} 
			              {% if settings.cart_trust_icon %}
			                  <img data-swift-lazy="1" loading="lazy" src="{{'trust_badge1.png' | asset_url }}" class='cartpaymenticon' />
			              {% endif %} 
			          	</div> 
			      	</div>
				</div>
			{% endif %}
	{% else %}
		<div class="cart container">
			<div class="inner">
			    <div class="cart__empty text-center" data-cart-view="data-cart-view" >
				      <p style="font-size=16px">{{ 'cart.general.empty' | t }}</p>
				      <center> <a href='/collections/all'> <button class='btn'> Continue shopping </button> </a> </center>
			    </div>
			</div>
		</div>
		<div class='cartrow'></div>
		{% if settings.review_cart_enable %}
            {%include 'homepage-reviews' %}
		{% endif %}
	{% endif %}
{% endif %}

 <div class="clearfix"></div> 
{% if settings.cart_products_enable %}
	{%include 'cartproduct' %}
{% endif %}

			<!-- PERFECT AUDIENCE INTEGRATION START -->
			{% include 'perfect-audience-cart' %}
			<!-- PERFECT AUDIENCE INTEGRATION END -->
		

<!-- Global site tag (gtag.js) - AdWords: 793423510 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-793423510"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-793423510');
</script>
<script>
  gtag('event', 'page_view', {
    'send_to': 'AW-793423510',
	'ecomm_pagetype': 'cart',
	'ecomm_prodid': [{% for item in cart.items %}'shopify_US_{{ item.product_id }}_{{ item.variant_id }}', {% endfor %}],
	'ecomm_totalvalue': {{ cart.total_price | money_without_currency | remove:','  }}
  });
</script>