
{% if settings.homepage-section2 != 'none' %}
	{% include settings.homepage-section2 %}
{% endif %}
{% comment %}
{% section 'home-video' %}
{% endcomment %}

{% if settings.homepage-section3 != 'none' %}
	{% include settings.homepage-section3 %}
{% endif %}

{% if settings.homepage-section4 != 'none' %}
	{% include settings.homepage-section4 %}
{% endif %}
{% section 'hp-static-review' %}


{% if settings.homepage-section5 != 'none' %}
	{% include settings.homepage-section5 %}
{% endif %}

{% if settings.homepage-section6 != 'none' %}
	{% include settings.homepage-section6 %}
{% endif %}

{% if settings.homepage-section7 != 'none' %}
	{% include settings.homepage-section7 %}
{% endif %}

{% if settings.homepage-section8 != 'none' %}
	{% include settings.homepage-section8 %}
{% endif %}

{% include 'home-page-description' %}


<style>
  @media screen and (min-width: 1024px) {
    .grid-uniform.collection.wrapper.homepage-style-2 {
      margin-top: -30px; 
    }
  }
</style>