<!-- /templates/page.liquid -->
<div class="sixteen columns page-template__title ">
  <h1 class="center" style="display: unset;">{{ page.title }}</h1>
  <h2 class="about-us-title" style="text-align: center;  margin-top: 30px;">WELCOME TO MYSTIC BARRELS!</h2>
  {% section 'home-video' %}
  <h2 class="about-us-title" style="text-align: center;">OUR STORY</h2>

  <div class="about-us-new-wrapper first-about-us">

    <div class=" about-us-left">
      <p>Well, I guess it all started with an enjoyment and love of whiskey!</p>

      <p>When it came time to finish our basement, adding a couple whiskey barrels to the décor was a must!</p>

      <p>BUT… we quickly found that high-quality, used barrels weren’t as easy to find as expected.</p>

      <p>I searched near and far, and finally found some nice, quality barrels right from the source!</p>

      <p>I picked up a couple for our basement, and some extras to sell locally here in Pittsburgh, PA.</p>

      <p>Everyone just loved the barrels we had for sale! They hit the mark for being high-quality barrels, directly from the wineries and distilleries, had nice flat heads, and no major cracks or other issues.</p>

      <p>Regardless of whether they were for a DIY project or for decoration at their home or business, they were just the perfect fit every time!</p>

      <p>From there, we started making barrel furniture, expanding our regional delivery service throughout PA and the 12 neighboring states, and shipping our products all over the country!</p>

      <p>We hope to have the opportunity to work with you to help make your barrel ideas and dreams a reality!</p>

      <p>Thanks for visiting our online store!</p>
    </div>
    <div class="about-us-right">
      <img src="{{ 'our-story-new.jpeg' | asset_img_url: 'original'}}">
    </div>
  </div>

  <h2 class="about-us-title" style="text-align: center;">THE MYSTIC PROMISE</h2>
  <div class="about-us-new-wrapper second-about-us">

    <div class=" about-us-left">
      <img src="{{ 'THE-MYSTIC-PROMISE.jpeg' | asset_img_url: 'original'}}">
    </div>


    <div class="about-us-right">
      <p>Whiskey and wine barrels are some of the most unique, timeless, and functional products around.</p>

      <p>Our mission is to:</p>
      <ul class="about-us-ul">
        <li> Source the perfect barrels you need for your home, business, event or project.</li>

        <li> Craft beautiful barrel furniture that will be treasured for a lifetime.</li>

        <li> Offer you cost-effective shipping and delivery options.</li>

        <li> Provide an unmatched level of customer service.</li>
      </ul>
    </div>
  </div>

  <h2 class="about-us-title" style="text-align: center;">OUR CUSTOMERS</h2>
  <div class="about-us-new-wrapper third-about-us">

    <div class=" about-us-left">
      <p>⭐⭐⭐⭐⭐ I have purchased 3 barrels now from Mystic Barrels in the past year and it's always so easy and an overall great experience.</p>

      <p>From the easy to order online website, where you can choose from a good selection of both bourbon and wine barrels, to Mike (the owner's) quick responses to any questions and to make sure the order is exactly how I want it and more... great customer service!</p>

      <p>To top it all... the other bourbon barrels sites I had originally researched had insane shipping prices. The shipping options on Mystic Barrels was also the best and cheaper than almost all the other bourbon barrel sites...</p>

      <p>P.S. Check to see if you are in their delivery region, they delivered the barrels directly to me and helped with getting it to my apartment, I was ecstatic about the level of service at delivery for all the barrels I ordered as well.</p>

      <p>I have recommended Mystic Barrels to my friends and family who have and will be buying barrels from them and I will continue to recommend and use them for a long time. Thanks Mike! – Zak R (Verified Reviewer)</p>


    </div>
    <div class="about-us-right">
      <img src="{{ 'OUR-CUSTOMERS.jpeg' | asset_img_url: 'original'}}">
    </div>
  </div>
  <h2 class="about-us-title" style="text-align: center;">--------</h2>
  <div class="about-us-new-wrapper fourth-about-us">

    <div class=" about-us-left">
      <img src="{{ 'FEEL-FREE-REACH.jpeg' | asset_img_url: 'original'}}">
    </div>
    <div class="about-us-right">
      <p>Did I tell you our favorite reason for being in this business?</p>

      <p>Its our customers! We seriously have the greatest, most creative, kind, and appreciative customers possible.</p>

      <p>From countless homes, to restaurants, wedding venues, movie/TV sets, and everything in between, our barrels and furniture end up in so many unique places.</p>

      <p>We hope you allow us to be your source of barrels and furniture. If you have any questions or special requests, feel free to reach out!</p>
    </div>
  </div>

</div>

<!-- <h2 style="text-align: center; margin-top: 30px;"><b>Welcome to Mystic Barrels!</b></h2> -->

<style>
  .about-us-title {
    border: none !important;
    padding-bottom: 0 !important;
    font-weight: 700 !important;
  }
  div#shopify-section-home-video {
    margin: 20px 0 !important;
  }
  .about-us-new-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    flex-wrap: wrap;
  }
  .about-us-left, .about-us-right {
    flex: 0 0 48%;
  }
  .about-us-ul li {
    list-style-type: number;
    margin-bottom: 1rem;
  }
  @media screen and (max-width: 767px) {
    .about-us-left, .about-us-right {
      flex: 0 0 100%;
    }
    .about-us-new-wrapper.first-about-us, .about-us-new-wrapper.third-about-us  {
      flex-direction: column-reverse;
    }
  }
</style>
{% comment %}
{% section 'page-sidebar-template' %}
{% endcomment %}