<!-- /templates/page.liquid -->
{% if page.handle == 'about' %}
<div class="sixteen columns page-template__title">
  <h1 class="center" style="display: unset;">{{ page.title }}</h1>
  <div class="feature_divider"></div>
</div>
<!-- <h1 style="text-align: center; margin-top: 30px;"><b>Welcome to Mystic Barrels!</b></h1> -->
{% section 'home-video' %}
<!-- 
<style>
  .about-page-title {
    display: none;
  }
</style> -->
{% endif


%}
{% section 'page-sidebar-template' %}