
<style>
  img.shippingiimg {
    width: 100%;
    max-width: 100px;
  }
  div#react-app {
    height: 450px;
    box-shadow: 0px 0px 3px 4px #c5c5c5;
    position:relative;
  }
  .quiz-area {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    max-width: 900px;
    width: 100%;
    background: #2f84ed;
    text-align: center;
    padding: 15px;
  }
  .start-quiz {
    background: black;
    color: white;
    cursor: pointer;
  }
  .quiz-box-title {
    margin: 10px 0;
  }
  .quiz-col
  {
    background: #26B422;
    margin-bottom:4px;
    padding: 2%;
    cursor: pointer;
    color: white; 
    font-weight: 700;
  }
  ul.progressbar {
    margin: 0 auto;
    display: table;
  }
  .progressbar li {
    list-style: none;
    display: inline-block;
    width: 75px;
    position: relative;
    text-align: center;
    cursor: pointer;
    margin: 0 10px;
  }

  .progressbar li.active:after {
    background-color: #fff;
    z-index: 1;
    border: none;
  }

  .progressbar li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: transparent;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border: 1px solid #fff;
    border-radius: 3px;
  }
</style>
<div id="react-app" class="image_first_quiz">
  <div class='quiz-area'>
    <div class='quiz-header'>Mystic Barrels</div>
    <div class='quiz-content'><div class='start-quiz'>Start </div> </div>
  </div>
</div>
{%render 'skulist' %}
<script>

  var html2="";
  html2+="<ul class='progressbar'><li class='active bar_1'></li><li class='bar_2'></li><li class='bar_3'></li><li class='bar_4'></li><li class='bar_5'></li></ul>";

  html2+="<div class='quiz-box-title'> What is your preferred option?</div>";
  html2+="<div class='quiz-box-row'>";
  html2+="<div data-step='3' data-back-step='2' class='quiz-box-col-1 quiz-col'>";
  html2+=" Local Pick Up at Mystic Barrels (Pittsburgh, PA)";
  html2+="</div>";
  html2+="<div data-step='4' data-back-step='2' class='quiz-box-col-2 quiz-col'>";
  html2+="Shipping or Delivery";
  html2+="</div>";
  html2+="</div>";


  var html3="";
  html3="<div class='quiz-box-title'>Address:</div>";
  html3+="<div class='quiz-box-row'>";
  html3+="<div>";
  html3+="Our address is 427 Pittsburgh Street, Springdale, PA 15144 (just north of Pittsburgh). Please make sure that you contact us to schedule a pick-up to confirm that we are available and your order is ready to go. ";
  html3+="</div>";
  html3+="<div>";
  html3+="<p>Email: info@mysticbarrels.com</p>";
  html3+="<p>Phone: (412) 275-0542</p>";
  html3+="</div>";
  html3+="</div>";

  var html4="";
  html4+="<ul class='progressbar'><li class='active bar_1'></li><li class='active bar_2'></li><li class='active bar_3'></li><li class='bar_4'></li><li class='bar_5'></li></ul>";

  html4+="<div class='quiz-box-title'>Are you within the Mystic Barrel Delivery Zone? </div>";
  html4+="<div class='quiz-box-row'>";
  html4+="<div data-step='5' data-back-step='4' class='quiz-box-col-1 quiz-col'>";
  html4+="Yes";
  html4+="</div>";
  html4+="<div data-step='6' data-back-step='4' class='quiz-box-col-2 quiz-col'>";
  html4+="No / I’m not sure";
  html4+="</div>";
  html4+="</div>";

  var html5="";
  html5+="<div class='quiz-box-title'>You're within the delivery zone? </div>";
  html5+="<div class='quiz-box-row'>";
  html5+="<p>";
  html5+="We'll deliver your barrel to you for only $75.   But if your purchase is over $325, we’ll deliver your barrel to you for FREE!";
  html5+="</p>";
  html5+="<p>";
  html5+="<img src='https://cdn.shopify.com/s/files/1/0030/7232/7793/t/49/assets/popup-image.png?v=15251248748756096878' class='shippingiimg' />";
  html5+="</p>";
  html5+="</div>";

  var html6="";
  html6+="<ul class='progressbar'><li class='active bar_1'></li><li class='active bar_2'></li><li class='active bar_3'></li><li class='active bar_4'></li><li class='active bar_5'></li> <li class=' bar_6'></li> <li class=' bar_7'></li></ul>";

  html6+="<div class='quiz-box-title'>Where are you located? </div>";
  html6+="<div class='quiz-box-row'>";
  html6+="<p class='quiz-input'>"; 
  html6+="<input type='text' class='quiz-box-input' placeholder='Enter Zip Code' />";
  html6+="<input type='submit' data-back-step='6' value='Find' class='quiz-box-input' id='zipfind' />";
  html6+="</p>";
  html6+="</div>";

  var html7="";
  html7+="<ul class='progressbar'><li class='active bar_1'></li><li class='active bar_2'></li><li class='active bar_3'></li><li class='active bar_4'></li><li class='active bar_5'></li> <li class='active bar_6'></li> <li class=' bar_7'></li></ul>";

  html7+="<div class='quiz-box-title'>You are outside the delivery zone. Don’t worry! We can ship your barrels to you!  </div>";
  html7+="<div class='quiz-box-row'>";
  html7+="<div class='quiz-input'>"; 
  html7+="<input type='submit' value='Next' data-back-step='7' class='quiz-box-input'  id='nextstep' />";
  html7+="</div>";
  html7+="</div>";


  var html8="";
  html8+="<ul class='progressbar'><li class='active bar_1'></li><li class='active bar_2'></li><li class='active bar_3'></li><li class='active bar_4'></li><li class='active bar_5'></li> <li class='active bar_6'></li> <li class='active bar_7'></li></ul>";

  html8+="<div class='quiz-box-title'>  What are you buying?</div>";
  html8+="<div class='quiz-box-row'>";
  html8+="<div data-step='9' data-back-step='8' class='quiz-box-col-1 quiz-col'>";
  html8+="Whiskey or Wine Barrels";
  html8+="</div>";
  html8+="<div data-step='10' data-back-step='8' class='quiz-box-col-2 quiz-col'>";
  html8+="Small Barrels";
  html8+="</div>";
  html8+="<div data-step='11' data-back-step='8' class='quiz-box-col-2 quiz-col'>";
  html8+="Barrel Planters / Half Barrels / Half Barrel Tables ";
  html8+="</div>";
  html8+="<div data-step='12' data-back-step='8' class='quiz-box-col-2 quiz-col'>";
  html8+="Barrel Pub Tables";
  html8+="</div>";
  html8+="<div data-step='13' data-back-step='8' class='quiz-box-col-2 quiz-col'>";
  html8+="Rectangular Barrel Tables";
  html8+="</div>";
  html8+="</div>";

  var html9="";
  html9+="<div class='quiz-box-title'>Whiskey or Wine Barrels</div>";
  html9+="<div class='quiz-box-row'>";
  html9+="<div>";
  html9+="Flat Rate Shipping:  $125 for 1 Whiskey or Wine Barrel Or $60 per Barrel for 2 or more";
  html9+="</div>";

  var html10="";
  html10+="<div class='quiz-box-title'>Whiskey or Wine Barrels</div>";
  html10+="<div class='quiz-box-row'>";
  html10+="<div>";
  html10+="Flat Rate Shipping:  $25 per Barrel *Regardless of Size";
  html10+="</div>";

  html10+="</div>";

  var html11="";
  html11+="<div class='quiz-box-title'>Whiskey or Wine Barrels</div>";
  html11+="<div class='quiz-box-row'>";
  html11+="<div>";
  html11+="Flat Rate Shipping:  $40 per Barrel";
  html11+="</div>";
  html11+="</div>";

  var html12="";
  html12+="<div class='quiz-box-title'>Whiskey or Wine Barrels</div>";
  html12+="<div class='quiz-box-row'>";
  html12+="<div>";
  html12+="Flat Rate Shipping:  $195 per Table Assembly";
  html12+="</div>";
  html12+="</div>";

  var html13="";
  html13+="<div class='quiz-box-title'>Whiskey or Wine Barrels</div>";
  html13+="<div class='quiz-box-row'>";
  html13+="<div>";
  html13+="Flat Rate Shipping:  $350 per Assembly";
  html13+="</div>";
  html13+="</div>";
  $(document).ready(function(){
    var breadcrumb=[];
    
    function isInArray(value, array) {
      return array.indexOf(value) > -1;
    }
    var skuarrya=strsku.match(/.{1,5}/g);
    $("body").on('click',"input#nextstep",function(e){
      e.preventDefault();
      var back=$(this).attr("data-back-step");
       breadcrumb.push(back);
      
      $(".quiz-content").hide().html(html8).append(`<div data-step-back=${back} class='backstep'>Back</div>`).fadeIn('slow') 
    });
    $("body").on('click',"input#zipfind",function(e){
      e.preventDefault();
      var sku = $("body").find("input.quiz-box-input").val(); 
      var back=$(this).attr("data-back-step");
       breadcrumb.push(back);
      
      if(isInArray(sku,skuarrya))
      {
        $(".quiz-content").hide().html(html5).append(`<div data-step-back=${back} class='backstep'>Back</div>`).fadeIn('slow')
      }
      else
      {
        $(".quiz-content").hide().html(html7).append(`<div data-step-back=${back} class='backstep'>Back</div>`).fadeIn('slow')
      }

    });
    
    $(".start-quiz").click(function(){
      $(".quiz-content").html(html2);
    });

    $("body").on('click',".backstep",function(){
      var back=$(this).attr('data-step-back');
       breadcrumb.pop();
      var last =breadcrumb[breadcrumb.length-1];
    
       var htmlvar =window["html"+`${back}`];
       if(breadcrumb.length === 0)
       {
       $(".quiz-content").hide().html(htmlvar).fadeIn('slow');
      
       }
      else
      {
        $(".quiz-content").hide().html(htmlvar).append(`<div data-step-back=${last} class='backstep'>Back</div>`).fadeIn('slow');
      
      }
      
    });
    
    $("body").on('click',".quiz-col",function(){
      var step=$(this).attr('data-step');
      var back=$(this).attr('data-back-step');
      breadcrumb.push(back);
      var htmlvar =window["html"+`${step}`];
      $(".quiz-content").hide().html(htmlvar).append(`<div data-step-back=${back} class='backstep'>Back</div>`).fadeIn('slow');
    
    });
  });  
</script>