<!-- /templates/page.liquid -->
<div class="grid">

  <div class="grid__item large--one-quarters">

    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte">
      {{ page.content }}
       {% section 'custom-section' %}
    </div>

  </div>

</div>
