  <script type="lazyload2" data-src="{{'jquery.elevatezoom.js' | asset_url }}"></script>
  <!-- /templates/product.liquid -->
  {% if settings.product_show_color_swatch %}
      <style>
      .selector-wrapper,
      .product-single__variants { 
        display: none!important; 
      }
      </style>
  {% endif %}

  {% comment %}

  Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
  and allow search engines to easily understand what the content is.

  For more information on these Scheme.org tags, visit:
  - http://schema.org/docs/gs.html

  {% endcomment %}


  <div itemscope itemtype="http://schema.org/Product">

    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

    {% comment %}
    Get first variant, or deep linked one
    {% endcomment %}
    {% assign current_variant = product.selected_or_first_available_variant %}

    <p class="h1 mobile" itemprop="name">{{ product.title }} {{ settings.product_title_text }}</p>

    <div class="prod-price mobile">

      {% if product.compare_at_price_max > product.price %}
      <span class="price-compare">
        <!--span>Our Price:</span-->
        <span class="old-price">
          {{ current_variant.compare_at_price | money }}
        </span>
      </span>
      {% endif %}

      <!--span>Sale Price :</span-->
      <span id="ProductPrice1" class="ProductPrice" class="h2" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}" >
        {{ current_variant.price | money }}
      </span>

    </div>

    <div class="grid product-single">
      <div class="grid__item large--one-half text-center">

        <div class="product-single__photos" id="ProductPhoto">
          {% assign featured_image = product.images.first | default: product.featured_image %}
          <img data-swift-lazy="1" loading="lazy" class="ProductPhotoImg zoom" id="ProductPhotoImg" title="{{ featured_image.alt | escape }}" alt="{{ featured_image.alt | escape }}" src="{{ featured_image | img_url: '600x' }}" />
          {% for image in product.images %}
            {% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}
              {% assign src = image.alt | split: 'src="' %}
              {% assign src = src[1] | split: '"' | first %}

              {% if src contains '?' %}
              	{% assign src = src | append: '&amp;autoplay=1' %}
              {% else %}
              	{% assign src = src | append: '?autoplay=1' %}
              {% endif %}

              <div data-src="{{ src }}" class="video-container {% if image.alt contains 'vimeo' %}vimeo{% else %}youtube{% endif %}" style="display:none;">
                <div>
                  <a href="{{ src }}" class="fancybox fancybox.iframe" data-fancybox-group="{{ product.id }}" title="{{ product.title | escape }}">{{ image.alt }}
                  </a>
                </div>
              </div>

            {% endif %}
          {% endfor %}

        </div>

        {% comment %}
        Create thumbnails if we have more than one product image
        {% endcomment %}
        {% if 1 < product.images.size %}
          {% if product.images.size <= 5 %}
            <ul class="product-single__thumbnails grid-uniform" id="ProductThumbs">

              {% for image in product.images %}
                {% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}
                  {% assign src = image.alt | split: 'src="' %}
                  {% assign src = src[1] | split: '"' | first %}

                  {% if src contains '?' %}
                    {% assign src = src | append: '&amp;autoplay=1' %}
                  {% else %}
                    {% assign src = src | append: '?autoplay=1' %}
                  {% endif %}
                  <li class="grid__item one-fifth">
                    <a  class="product-single__thumbnail  {% if image.alt contains 'vimeo' %}youtube{% else %}youtube{% endif %}">
                      <img data-swift-lazy="1" loading="lazy" src="{{ image.src | img_url: 'compact' }}" alt="{{ src }}">
                    </a>
                  </li>
                {% else %}
                  <li class="grid__item one-fifth">
                    <a href="{{ image.src | img_url: 'master' }}" class="product-single__thumbnail">
                      <img data-swift-lazy="1" loading="lazy" src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
                    </a>
                  </li>
                {% endif %}
              {% endfor %}

            </ul>
          {% else %}
          <div class="{% if settings.product_thumbnail == 'below_img' %}regular{% elsif settings.product_thumbnail == 'right_img' or settings.product_thumbnail == 'left_img' %}vertical{% endif %} slider product-single__thumbnails grid-uniform" id="ProductThumbs">
            {% assign variable = 0 %}
            {% for image in product.images %}
            {% assign variable = variable | plus: 1 %}            
              {% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}
                {% assign src = image.alt | split: 'src="' %}
                {% assign src = src[1] | split: '"' | first %}

                {% if src contains '?' %}
                  {% assign src = src | append: '&amp;autoplay=1' %}
                {% else %}
                  {% assign src = src | append: '?autoplay=1' %}
                {% endif %}
                <div class="product-images">
                  <a class="product-single__thumbnail {% if image.alt contains 'vimeo' %}youtube{% else %}youtube{% endif %}">
                    <img data-swift-lazy="1" loading="lazy" src="{{ image.src | img_url: 'compact' }}" alt="{{ src }}">
                  </a>
                </div>
              {% else %}
                <div class="product-images">
                  <a href="{{ image.src | img_url: 'master' }}" class="product-single__thumbnail">
                    <img data-swift-lazy="1" loading="lazy" index="{{ variable }}" src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
                  </a>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          {% endif %}
        {% endif %}
      </div>

      <div class="grid__item large--one-half product-description-content">

        <h1 class="no-mobile" itemprop="name">{{ product.title }} {{ settings.product_title_text }}</h1>
        {% if settings.display_review_star_product %}
          <div id="goToReview">
            <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}" style="display: inline-block;">{{ product.metafields.stamped.badge }}</span>
          </div>
        {% endif %}

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">

          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

          {% comment %}
          ID addToCartForm is a selector for the ajax cart plugin
          {% endcomment %}
          <form action="/cart/add" data-productid="{{product.id}}" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">
            <div class="prod-price no-mobile">

              {% if product.compare_at_price_max > product.price %}
                <span id="price-compare" class="price-compare">
                  <!--span>Our Price:</span-->
                  <span id="ComparePrice" class="ComparePrice">
                    {{ current_variant.compare_at_price | money }}
                  </span>
                </span>
              {% endif %}

              <!--span>Sale Price :</span-->
              <span id="ProductPrice" class="ProductPrice" class="h2" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}" >
                {{ current_variant.price | money }}
              </span>

            </div>

            <div class="outofstock">
              {% if settings.enable_prodquantity %}
                {% if product.variants.first.inventory_management == "shopify" %}
                  {% if product.variants.first.inventory_quantity > 0 %}
                    <span class="instock">Quantity in Stock : {{ product.variants.first.inventory_quantity }}</span>
                    <span class="nostock" style="color:red" style="display:none"> Out of stock</span>
                  {% else %}
                  	<span class="nostock" style="color:red"> Out of stock</span>
                  {% endif %}

                {% endif %}
              {% endif %}
            </div>

            {% comment %}
            Add product variants as a dropdown.
            - By default, each variant (or combination of variants) will display as its own <option>
            - To separate these into multiple steps, which we suggest, use option_selection.js (see below)

            You can leverage jQuery to add a callback on page load and each time the select element changes:
            - Include option_selection.js (as seen at the bottom of this file)
            - This allows you to use JavaScript anytime the variant dropdown changes
            - This also separates out your variant options (ie. size, color, etc.) to separate select elements

            For more information on products with multiple options, visit:
            - http://docs.shopify.com/support/your-website/themes/can-i-make-my-theme-use-products-with-multiple-options#update-product-liquid
            {% endcomment %}
            <select name="id" data-productid="{{product.id }}" id="productSelect" class="product-single__variants">
              {% for variant in product.variants %}
                {% if variant.available %}

                  {% comment %}
                  Note: if you use option_selection.js, your < select > tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
                  {% endcomment %}
                  <!--                 <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option> -->

                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" data-variants="{{ variant.option1 | handle }};{{ variant.option2 | handle }};{{ variant.option3 | handle }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                {% else %}
                  <option disabled="disabled">
                    {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                  </option>
                {% endif %}
              {% endfor %}
            </select>

            {% if settings.product_show_color_swatch %}
              {% if product.available and product.variants.size > 1 %}
                {% for option in product.options %}
                  {% include 'swatch' with option %}
                {% endfor %}
              {% endif %}
            {% endif %}

              {% if  product.description != blank %}
                {% if  settings.product_description == 'above_pro' %}
                  <div class="product-description rte" itemprop="description">
                    {{ product.description }}
                  </div>
                {% endif%}
              {% endif%}
              {% assign test = 'hide' %}
              {% for tag in product.tags %}
                {% if product.tags contains settings.poptag1 or  product.tags contains settings.poptag2  or  product.tags contains settings.poptag3 %}
                  {% assign test = 'show' %}
                {% endif %}
              {% endfor %}
              
              {% if settings.enable_sizeguide and settings.product_popup_location == 'above_pro_cart' %}
                <div class="pop-container">
                  <a id="single_image" href="{{ 'pop1.jpg' | asset_url }}"><strong>{{ settings.poptitle }}</strong></a>
                </div>
              {% endif %}
              
              <div class="form__control qty-block">
                <label for="Quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
                <div class="productarea">
                  <button class='product-minus' > <i class="fa fa-minus" aria-hidden="true"></i> </button>
                  <input class="product__quat" type="text" pattern="[0-9]*" name="quantity" min="1"  step="1" value="1" required="required">
                  <button class='product-plus' > <i class="fa fa-plus" aria-hidden="true"></i> </button>
                </div>
              </div>
              
              {% if settings.enable_sizeguide and settings.product_popup_location == 'below_pro_cart' %}
                <div class="pop-container">
                  <a id="single_image" href="{{ 'pop1.jpg' | asset_url }}"><strong>{{ settings.poptitle }}</strong></a>
                </div>
              {% endif %}
              
              {% if product.available%}
                <button type="submit" name="add" id="AddToCart" class="btn">
                  <span class="productValue">{{ product.price | money }}</span> - {{ 'PRE-ORDER' | json | remove: '"' }}  <i class="fa fa-shopping-cart" aria-hidden="true"></i> <span class="productQtd">(1 ITEM)</span>
                </button>
                <button type="submit" name="add" id="outofstcok1" class="btn" style="display:none" disabled >
                  Sold Out
                </button>
              {% else %}
                <button type="submit" name="add" id="outofstcok" class="btn" disabled>
                  Sold Out
                </button> 
              {% endif %}

              
              {% if settings.enable_pro_payment %}
                <img data-swift-lazy="1" loading="lazy" src="{{'secure-partners.png' | asset_img_url: '700x' }}" class='paymentimg' />
              {% endif %}
                <div id="facebook-marker"></div>
                <div id="shopmessage-checkbox"></div>
              </form>
            {% if settings.product_full_width_description_enable %}
            </div>
        </div>
      </div>
      {% if settings.show_tab == 'horizontal' %}
        <div class="prod_description full-width-description">
          <div id="tabs" class="panel-group">
            <ul class="nav tabs">
              {% if settings.display_product_detail_description %}
              <li class="active"><a data-toggle="tab" href="#tabs-1">{{ settings.product_description_title }}</a></li>
              {% endif %}

              {% if settings.display_custom_tab %}
              <li><a data-toggle="tab" href="#tabs-2">{{ settings.custom_tab_title }}</a></li>
              {% endif %}

              {% if settings.display_custom_tab2 %}
              <li><a data-toggle="tab" href="#tabs-3">{{ settings.custom_tab2_title }}</a></li>
              {% endif %}

              {% if settings.display_size_chart %}
              <li><a data-toggle="tab" href="#tabs-4">{{ settings.custom_size_chart_title }}</a></li>
              {% endif %}
            </ul>

            {% if settings.display_product_detail_description %}
            <div id="tabs-1" class="tab-pane">{{ product.description }}</div>
            {% endif %}

            {% if settings.display_custom_tab %}
            <div id="tabs-2" class="tab-pane">
              {{ settings.custom_tab_content }}
            </div>
            {% endif %}
            {% if settings.display_custom_tab2 %}
            <div id="tabs-3" class="tab-pane">
              {{ settings.custom_tab2_content }}
            </div>
            {% endif %}

            {% if settings.display_size_chart %}
            <div id="tabs-4" class="tab-pane">
              {{ 'custom_size_chart_content.jpg' | asset_url | img_tag }}
            </div>
            {% endif %}

          </div>
        </div>
      {% else %}
        {% if  product.description != blank %}
          {% if  settings.product_description == 'below_pro' %}
            <div class="product_description rte" itemprop="description">
              {{ product.description }}
            </div>
          {% endif%}
        {% endif%}
      {% endif %}
    {% else %}
      {% if settings.show_tab == 'horizontal' %}
        <div class="prod_description">
          <div id="tabs" class="panel-group">
            <ul class="nav tabs">
              {% if settings.display_product_detail_description %}
              <li class="active"><a data-toggle="tab" href="#tabs-1">{{ settings.product_description_title }}</a></li>
              {% endif %}

              {% if settings.display_custom_tab %}
              <li><a data-toggle="tab" href="#tabs-2">{{ settings.custom_tab_title }}</a></li>
              {% endif %}

              {% if settings.display_custom_tab2 %}
              <li><a data-toggle="tab" href="#tabs-3">{{ settings.custom_tab2_title }}</a></li>
              {% endif %}

              {% if settings.display_size_chart %}
              <li><a data-toggle="tab" href="#tabs-4">{{ settings.custom_size_chart_title }}</a></li>
              {% endif %}
            </ul>

            {% if settings.display_product_detail_description %}
            <div id="tabs-1" class="tab-pane">{{ product.description }}</div>
            {% endif %}

            {% if settings.display_custom_tab %}
            <div id="tabs-2" class="tab-pane">
              {{ settings.custom_tab_content }}
            </div>
            {% endif %}
            {% if settings.display_custom_tab2 %}
            <div id="tabs-3" class="tab-pane">
              {{ settings.custom_tab2_content }}
            </div>
            {% endif %}

            {% if settings.display_size_chart %}
            <div id="tabs-4" class="tab-pane">
              {{ 'custom_size_chart_content.jpg' | asset_url | img_tag }}
            </div>
            {% endif %}
          </div>
        </div>
      {% else %}
        {% if  product.description != blank %}
          {% if  settings.product_description == 'below_pro' %}
            <div class="product_description rte" itemprop="description">
              {{ product.description }}
            </div>
          {% endif%}
        {% endif%}
      {% endif%}
    </div>
  </div>
  </div>
  {% endif%}

  {% comment %}
  If the user is on a collection product page (ie with /collections/collection-handle/products/product-handle)
  in the URL, we can show next/previous links to other products in the collection.
  {% endcomment %}

{% section 'product-pre-order-template' %}

  {% if settings.cart_review_enable1 %}
  {%include 'homepage-reviews' %}
  {% endif%}
  {% if settings.enable_product_related %}
  {% section 'relatedproducts' %}
  {% endif%}

  {% if settings.enable_product_recent %}
    <div id="recently-viewed-products" class="grid-uniform" style="display:none">
      <h2 class="reviewtitle" style="display:none;"><strong>Recently Viewed Products</strong></h2>
    </div>
  {% endif %}
  {% if settings.enable_sizeguide %}
  <div class="popup" data-popup="popup-1">

    {% if settings.poptag1 != ''%}
    <div class="popup-inner">
      {{ settings.popcontent1 }}
      {% if settings.enable_img1 %}
      <img data-swift-lazy="1" loading="lazy" src="{{ 'pop1.jpg' | asset_url }}"/>
      {% endif %}
      <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
    </div>
    {% elsif tag contains settings.poptag2 %}
    <div class="popup-inner">
      {{ settings.popcontent2 }}
      {% if settings.enable_img2 %}
      <img data-swift-lazy="1" loading="lazy" src="{{ 'pop2.jpg' | asset_url }}"/>
      {% endif %}
      <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
    </div>
    {% elsif tag contains settings.poptag3 %}
    <div class="popup-inner">
      {{ settings.popcontent3 }}
      {% if settings.enable_img3 %}
      <img data-swift-lazy="1" loading="lazy" src="{{ 'pop3.jpg' | asset_url }}"/>
      {% endif %}
      <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
    </div>
    {% endif %}
  </div>
  {% endif %}

  {% comment %}


  To take advantage of a callback on the select dropdown, add option_selection.js
  and customize the JS in timber.productPage as needed.

  Currently, timber.productPage does the following:
  - Hides your <select> tag from above
  - Breaks out the product variants into separate product options, if more than one exists
  - Generates a <select> tag for each product option
  - Enables/disables elements based on variant availability

  Callback notes:
  - Keep the callback available to the global scope (window.selectCallback) so that advanced
  addons can override it.
  * E.g. multiple currencies http://docs.shopify.com/manual/configuration/store-customization/currencies-and-translations/currencies/how-to-toggle-between-two-currencies
  {% endcomment %}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  <script type="lazyload2">
    var selectCallback = function(variant, selector) {
      timber.productPage({
        money_format: "{{ shop.money_format }}",
        variant: variant,
        selector: selector
      });
    };

    jQuery(function($) {
      new Shopify.OptionSelectors('productSelect', {
        product: {{ product | json }},
        onVariantSelected: selectCallback,
        enableHistoryState: true
      });

      // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
      {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
                                           {% endif %}

                                           // Hide selectors if we only have 1 variant and its title contains 'Default'.
                                           {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                                           $('.selector-wrapper').hide();
      {% endif %}
    });
  </script>
  {% comment %}
  Place this in your product.liquid template, at the bottom.
  {% endcomment %}
  {% if product.variants.size > 1 %}
  <script>
    var variantImages = {},
        thumbnails,
        variant,
        variantImage,
        optionValue,
        productOptions = [];
    {% for variant in product.variants %}
    variant = {{ variant | json }};
    if ( typeof variant.featured_image !== 'undefined' && variant.featured_image !== null ) {
      variantImage =  variant.featured_image.src.split('?')[0].replace(/http(s)?:/,'');
      variantImages[variantImage] = variantImages[variantImage] || {};
      {% for option in product.options %}

      {% assign option_value = variant.options[forloop.index0] %}
      {% assign option_key = 'option-' | append: forloop.index0 %}

      if (typeof variantImages[variantImage][{{ option_key | json }}] === 'undefined') {
        variantImages[variantImage][{{ option_key | json }}] = {{ option_value | json }};
      }
      else {
        var oldValue = variantImages[variantImage][{{ option_key | json }}];
        if ( oldValue !== null && oldValue !== {{ option_value | json }} )  {
            variantImages[variantImage][{{ option_key | json }}] = null;
            }
            }
            {% endfor %}
            }
            productOptions.push(variant);
        {% endfor %}
  </script>
  {% endif %}
  
  <script type="lazyload2" data-src="{{'slick.js' | asset_url }}"></script>
  <script type="lazyload2">
    setTimeout(function() {
      {% if settings.show_tab == 'tab_desable' %}
        $('ul.tabs').each(function(){
          var active, content, links = $(this).find('a');
          active = links.first().addClass('active');
          content = $(active.attr('href'));
          links.not(':first').each(function () {
            $($(this).attr('href')).hide();
          });
          $(this).find('a').click(function(e){
            active.removeClass('active');
            content.hide();
            active = $(this);
            content = $($(this).attr('href'));
            active.addClass('active');
            content.show();
            return false;
          });
        });
      {% endif %}
      //----- OPEN
      $('[data-popup-open]').on('click', function(e)  {
        var targeted_popup_class = jQuery(this).attr('data-popup-open');
        $('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);

        e.preventDefault();
      });

      //----- CLOSE
      $('[data-popup-close]').on('click', function(e)  {
        var targeted_popup_class = jQuery(this).attr('data-popup-close');
        $('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);

        e.preventDefault();
      });

      $(".regular").slick({
        infinite: true,
        slidesToShow: 5,
        slidesToScroll: 5
      });

      $(".vertical").slick({
        dots: false,
        vertical: true,
        slidesToShow: 5,
        slidesToScroll: 5
      });
    },3000);

    $( function() {
      $( "#tabs" ).tabs();
    });

    $( "#AddToCart1" ).click(function() {
      $( "#AddToCart" ).trigger( "click" );
    });


    $(".product-plus").click(function(e){
      e.preventDefault();
      var val1 = $(this).prev().val();
      val1 = parseInt(val1);
      val1 = val1+1;
      $(this).prev().val(val1);
    });


    $(".product-minus").click(function(e){
      e.preventDefault();
      var val1 = $(this).next().val();
      val1 = parseInt(val1);
      if(val1 == 1){
      } else {
        val1 = val1-1;
        $(this).next().val(val1);
      }
    });

    setTimeout(function(){
      $('.youtube').each( function() {
        $(this).click( function(e) {

          var source =  $(this).find("img").attr("alt");

          $(this).parents("#ProductThumbs").siblings("#ProductPhoto").find(".video-container[data-src='"+source+"']").show();
          $(this).parents("#ProductThumbs").siblings("#ProductPhoto").find("#ProductPhotoImg").removeClass("zoom").hide();

        });
      });


      $('.single-option-selector').on('change', function() {
        $("#ProductPhoto").find(".video-container").hide();

        $('iframe').each(function(index) {
          $(this).attr('src', $(this).attr('src'));
          return false;
        });
      })
    });

    window.changeVariant = function() {
      var searchArray = location.search.split('&');
      for(var i = 0; i < searchArray.length && !searchArray[i].match(/^\?variant=/); i++);
      if (i < searchArray.length) {
        var s  = $('.product-single__variants').get(0);
        var id = s.options[s.selectedIndex].value;
        var v = $('option[value="' + id + '"]').attr('data-variants').split(';');

        $(v).each(function(i,e){
          if ( e && (e != '') )
            $('.' + e + ' :radio').trigger('click');
        });
      }
    };
          
    // Check variant id to mark on page loads
	$('.swatch-container').each( function() {
      var variantId = $('#productSelect').val();
      if($('.swatch-element[data-variant="'+ variantId +'"]')) {
        $(this).children('.swatch-element').removeClass('active');    
        $(this).children('.swatch-element[data-variant="'+ variantId + '"]').children('input').trigger("click");
        $(this).children('.swatch-element[data-variant="'+ variantId + '"]').addClass('active');
      }
    });
  </script>