<div class="search collection container">
  <div class="inner">
    {% include 'breadcrumb' %}
    
    {% if search.performed %}
        {% if search.results_count == 0 %}
          	<header class="section-header">
              <h1 class="text-center">{{ 'general.search.no_results_html' | t: terms: search.terms }}</h1>
    		</header>
        {% else %}
          	<header class="section-header">
              <h1 class="section-header__title section-header__left">Search <span>|</span> <strong class="search-terms">FOR "{{ search.terms }}"</strong></h1>
            </header>   
        {% endif %}
    {% else %}
        <header class="section-header">
            <h1 class="section-header__title section-header__left text-center">{{ 'general.search.title' | t }}</h1>
        </header>
    {% endif %}  

    {% if search.performed and search.results_count > 0 %}
      {% paginate search.results by 50 %}
          {% comment %}
          This snippet can be used in two different contexts: collection or search results. The major difference is that search results
          may return products, but also articles or pages (depending on the settings).
          As a consequence, we have some specific code that may be used to display an article or page.
          {% endcomment %}

          {% if template contains 'search' %}
            {% assign source = search.results %}
            {% assign is_search = true %}
          {% else %}
            {% assign source = collection.products %}
            {% assign is_search = false %}
          {% endif %}

          {% case grid_items_per_row %}
            {% when '2' or 2 %}
              {% assign image_size = '800x' %}

            {% when '3' or 3 %}
              {% assign image_size = '650x' %}

            {% when '4' or 4 %}
              {% assign image_size = '450x' %}

            {% when '5' or 5 %}
              {% assign image_size = '350x' %}

            {% when '6' or 6 %}
              {% assign image_size = '250x' %}
          {% endcase %}

          {% capture list_of_products %}
            {% for item in source %}
              {% if is_search %}
                {% if item.object_type == 'product' %}
                  {% include 'product-grid-item', product: item %}
                {% endif %}
              {% else %}
                {% include 'product-grid-item', product: item %}
              {% endif %}
            {% endfor %}
          {% endcapture %}
          <div class="grid-uniform">
            {{ list_of_products }}
          </div>
          {% if paginate.pages > 1 %}
              <hr>
              <div class="pagination">
                {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
              </div>
          {% endif %}
      {% endpaginate %}
    {% endif %}
  </div>
</div>